@using Constellation.Application.DTOs
@using Constellation.Portal.Schools.Client.StateManagement

@implements IDisposable

@inject SchoolState state
@inject NavigationManager navManager

@if (ShowChangeSchoolBox)
{
    <select class="form-control" @onchange="ChangeSchool" @onblur="DisableChangeSchool">
        @foreach (var school in state.AvailableSchools.OrderBy(school => school.Name))
        {
            var selected = state.SelectedSchool.Code == school.Code;
            <option value="@school.Code" selected="@selected">@school.Code - @school.Name</option>
        }
    </select>
}
else
{
    <span class="align-middle">School: @state.SelectedSchool?.Name</span>
    @if (state.AvailableSchools != null && state.AvailableSchools.Count > 1)
    {
        <button class="btn btn-sm btn-secondary ml-4 ms-auto" @onclick="EnableChangeSchool">Change School</button>
    }
}

@code {
    private bool ShowChangeSchoolBox = false;

    protected override async Task OnInitializedAsync()
    {
        // Get list of schools for selection list
        try
        {
            await state.GetAvailableSchools();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            navManager.NavigateTo($"authentication/login");
        }
    }

    void EnableChangeSchool()
    {
        ShowChangeSchoolBox = true;
    }

    void DisableChangeSchool()
    {
        ShowChangeSchoolBox = false;
    }

    void ChangeSchool(ChangeEventArgs e)
    {
        var schoolCode = e.Value.ToString();

        state.UpdateSelectedSchool(schoolCode);

        DisableChangeSchool();
    }

    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        state.OnChange -= StateHasChanged;
    }
}
