@page "/SciencePracs/Lessons/{id:guid}"
@model Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Lessons.DetailsModel

@inject IAuthorizationService authService

@{
    AuthorizationResult canEditTest = await authService.AuthorizeAsync(User, AuthPolicies.CanManageSciencePracs);
}

<h2>Lesson Details</h2>

<div class="page-menu">
    @if (canEditTest.Succeeded)
    {
        <a asp-page="Upsert" asp-area="Subject" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-page-handler="Cancel" asp-area="Subject" asp-route-id="@Model.Id" class="btn btn-danger">Cancel</a>
    }

    <a asp-page="Index" asp-area="Subject" class="btn btn-danger">Go Back</a>
</div>

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Lesson.LessonId"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.LessonId</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.Name"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.Name</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.DueDate"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.DueDate.ToShortDateString()</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.Offerings">Classes</label>
        </dt>
        <dd class="col-md-10">
            @foreach (string entry in Model.Lesson.Offerings)
            {
                <span>@entry</span>@:&nbsp;
            }
        </dd>
    </dl>
</div>

<hr />

<h3>Rolls</h3>

<table class="table table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>School</th>
            <th>Attendance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lesson.Rolls)
        {
            <tr>
                <td></td>
                <td>@item.SchoolName</td>
                <td>@item.PresentStudents / @item.TotalStudents</td>
                <td>
                    @if (canEditTest.Succeeded)
                    {
                        <a asp-page="Roll" asp-area="Subject" asp-route-lessonId="@Model.Lesson.LessonId" asp-route-rollId="@item.RollId" class="btn btn-sm btn-secondary btn-show-hover">More Info...</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>