@page
@model Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Lessons.IndexModel

@using Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Lessons
@inject IAuthorizationService authService

@{
    AuthorizationResult canEditTest = await authService.AuthorizeAsync(User, AuthPolicies.CanManageSciencePracs);
}

<h2>Science Prac Lessons</h2>

<div class="page-menu">
    @{
        var all_style = "btn-outline-secondary";
        var overdue_style = all_style;
        var current_style = all_style;
        var future_style = all_style;

        switch (Model.Filter)
        {
            case IndexModel.FilterDto.All:
                all_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Overdue:
                overdue_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Current:
                current_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Future:
                future_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.All" class="btn @all_style">All</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Overdue" class="btn @overdue_style">Overdue</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Current" class="btn @current_style">Current</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Future" class="btn @future_style">Future</a>
    </div>

    @if (canEditTest.Succeeded)
    {
        <a asp-page="Upsert" asp-area="Subject" class="btn btn-success">Create</a>
    }
</div>

<hr />

<table class="table table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Due Date</th>
            <th>Course</th>
            <th>Name</th>
            <th>Completed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var response in Model.Lessons)
        {
            <tr>
                <td>
                    @if (response.Overdue)
                    {
                        <i class="fal fa-alarm-exclamation"></i>
                    }
                </td>
                <td>@response.DueDate.ToShortDateString()</td>
                <td>@response.CourseName</td>
                <td>@response.Name</td>
                <td>@response.CompletedRolls / @response.TotalRolls</td>
                <td>
                    <a asp-page="Details" asp-area="Subject" asp-route-id="@response.LessonId" class="btn btn-info btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>
