@page "/SciencePracs/Lessons/{lessonId:guid}/Roll/{rollId:guid}/Submit"
@model Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Lessons.SubmitModel

<h2>Submit Roll</h2>

<div class="page-menu">
    <a asp-page="Roll" asp-area="Subject" asp-route-lessonId="@Model.LessonId" asp-route-rollId="@Model.RollId" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<form asp-page-handler="Submit" method="post">
    <div class="form-horizontal">
        <div class="row">
            <label asp-for="LessonName" class="col-md-2"></label>
            <div class="col-md-6">
                <span class="control-label text-only">@Model.LessonName</span>
            </div>
        </div>

        <div class="row">
            <label asp-for="DueDate" class="col-md-2"></label>
            <div class="col-md-6">
                <span class="control-label text-only">@Model.DueDate.ToShortDateString()</span>
            </div>
        </div>

        <div class="row">
            <label asp-for="LessonDate" class="col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="LessonDate" class="form-control" />
                <span asp-validation-for="LessonDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-4"><label>Name</label></th>
                        <th><label>Present?</label></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Attendance.Count(); i++)
                    {
                        <tr>
                            @Html.HiddenFor(model => Model.Attendance[i].Id)
                            @Html.HiddenFor(model => Model.Attendance[i].StudentId)
                            <td>@Model.Attendance[i].Name</td>
                            <td>@Html.CheckBoxFor(model => Model.Attendance[i].Present, htmlAttributes: new Dictionary<string, object> { { "class", "switch" }, { "data-on-text", "Yes" }, { "data-off-text", "No" } })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <label asp-for="Comment" class="col-md-2"></label>
            <div class="col-md-6">
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>
