@using Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Awards
@{
    Layout = "/Pages/Shared/_WebLayout.cshtml";

    string activePage = ViewData["ActivePage"]?.ToString();
}

<div class="row sidebar-layout">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                <span class="w-100">Awards</span>
            </h4>
            <ul class="nav flex-column mx-2">
                <li class="nav-item">
                    <a class="nav-link @(activePage == AwardsPages.List ? "active" : "")" asp-page="/Awards/Index" asp-area="SchoolAdmin">
                        List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == AwardsPages.Dashboard ? "active" : "")" asp-page="/Awards/Dashboard" asp-area="SchoolAdmin">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == AwardsPages.Leaderboard ? "active" : "")" asp-page="/Awards/Leaderboard" asp-area="SchoolAdmin">
                        Leaderboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == AwardsPages.Changes ? "active" : "")" asp-page="/Awards/Changes" asp-area="SchoolAdmin">
                        Recent Changes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == AwardsPages.Nominations ? "active" : "")" asp-page="/Awards/Nominations/Index" asp-area="SchoolAdmin">
                        Award Nominations
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-md-3">
        @RenderBody()
    </main>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var container = $('#main-container');
            container.removeClass('container');
            container.addClass('container-fluid')
        });
    </script>

    @await RenderSectionAsync("scripts", required: false)
}