@page
@model IndexModel
@using Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.MandatoryTraining.Modules
@inject IAuthorizationService AuthorizationService

@{
    var canEditTest = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanEditTrainingModuleContent);
    var canViewDetailsTest = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanViewTrainingModuleContentDetails);
}

<h2>Mandatory Training Modules</h2>

<div>
    @{
        var all_style = "btn-outline-secondary";
        var active_style = all_style;
        var inactive_style = all_style;

        switch (Model.Filter)
        {
            case IndexModel.FilterDto.All:
                all_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Active:
                active_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Inactive:
                inactive_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.All" class="btn @all_style">All</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Active" class="btn @active_style">Active</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Inactive" class="btn @inactive_style">Inactive</a>
    </div>

    @if (canEditTest.Succeeded)
    {
        <a asp-page="Upsert" class="btn btn-warning">Create New</a>
    }
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Frequency</th>
            <th>Link</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Modules)
    {
        <tr>
            <td>
                @if (item.IsActive)
                {
                    <img src="/images/GreenLight.png" class="status-icon" />
                }
                else
                {
                    <img src="/images/RedLight.png" class="status-icon blink" />
                }
            </td>
            <td>@item.Name</td>
            <td>@item.Expiry</td>
            <td>
                <a href="@item.Url" target="_blank" class="btn btn-sm btn-success">Launch</a>
            </td>
            <td>
                @if (canViewDetailsTest.Succeeded)
                {
                    <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">More Details...</a>
                }
            </td>
        </tr>
    }
</table>