@page
@using Constellation.Core.Models.Families;
@model Constellation.Presentation.Server.Areas.Partner.Pages.Families.IndexModel

@inject IAuthorizationService authorizationService

@{
    var canEditStudents = await authorizationService.AuthorizeAsync(User, AuthPolicies.CanEditStudents);
}

<h2>Family Contacts</h2>

<div class="page-menu">
    @if (canEditStudents.Succeeded)
    {
        <a asp-page="/Families/AddFamily" asp-area="Partner" class="btn btn-success">Add Family</a>
    }
</div>

<hr />

<table class="table table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Students</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Contacts)
        {
            <tr>
                <td>
                    @if (entry.IsResidentialContact)
                    {
                        <i class="fal fa-house" />
                    }
                </td>
                <td>
                    @if (entry.ContactType == Parent.SentralReference.Father)
                    {
                        <i class="fal fa-male" />
                    }

                    @if (entry.ContactType == Parent.SentralReference.Mother)
                    {
                        <i class="fal fa-female" />
                    }

                    @if (entry.ContactType == Parent.SentralReference.Other)
                    {
                        <i class="fal fa-house-leave" />
                    }
                </td>
                <td>@entry.Name</td>
                <td>@entry.EmailAddress?.Email</td>
                <td><span class="no-break">@entry.MobileNumber?.ToString()</span></td>
                <td>
                    <ul>
                        @foreach (var student in entry.Students)
                        {
                            <li>@student</li>
                        }
                    </ul>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-warning dropdown-toggle btn-show-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions</button>
                        <div class="dropdown-menu">
                            <a asp-page="/Families/Details" asp-area="Partner" asp-route-id="@entry.FamilyId.Value" class="dropdown-item">Details</a>
                            @if (canEditStudents.Succeeded && !entry.IsResidentialContact)
                            {
                                @if (entry.ContactType == Parent.SentralReference.Other)
                                {
                                    <a asp-page="/Families/EditFamily" asp-route-Id="@entry.FamilyId.Value.ToString()" class="dropdown-item">Edit</a>
                                    <a href="#" data-family-id="@entry.FamilyId.Value.ToString()" class="dropdown-item delete-family-menu">Delete</a>
                                }
                                else
                                {
                                    <a href="#" data-family-id="@entry.FamilyId.Value.ToString()" data-parent-id="@entry.ParentId?.Value.ToString()" class="dropdown-item delete-parent-menu">Delete</a>
                                }
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" tabindex="-1" id="page-modal">
    <div class="modal-dialog">
        <div id="modal-content" class="modal-content">

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.delete-parent-menu').click(function(event) {
            event.preventDefault();

            var familyId = $(this).data("familyId");
            var parentId = $(this).data("parentId");

            $('#modal-content').load(
                "@Url.Action("GetFamilyDeleteSelection", "Families", new { area = "Partner"})", 
                {
                    familyId: familyId,
                    parentId: parentId
                },
                function() {
                    $('#page-modal').modal('show');
                });
        });

        $('.delete-family-menu').click(function (event) {
            event.preventDefault();

            var familyId = $(this).data("familyId");

            $('#modal-content').load(
                "@Url.Action("GetFamilyDeleteConfirmation", "Families", new { area = "Partner"})", 
                {
                    familyId: familyId
                },
                function() {
                    $('#page-modal').modal('show');
                });
        });
    </script>

}