@using Constellation.Application.Models.Identity
@model Covers_DetailsViewModel

@{
    var authorised = (User.IsInRole(AuthRoles.CoverEditor) || User.IsInRole(AuthRoles.Admin));
}

<h2>Cover Details</h2>

@if (authorised)
{
    <div>
        <a asp-action="Update" asp-controller="Covers" asp-area="ShortTerm" asp-route-id="@Model.Cover.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Cancel" asp-controller="Covers" asp-area="ShortTerm" asp-route-id="@Model.Cover.Id" class="btn btn-danger">Cancel</a>

        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
    </div>
} else
{
    <div class="row">
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right-solo">Go Back</a>
    </div>
}

<hr/>

<div>
    <div class="row">
        <label asp-for="Cover.UserName" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Cover.UserName, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="Cover.UserSchool" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Cover.UserSchool, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="Cover.OfferingName" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Cover.OfferingName, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="Cover.StartDate" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Cover.StartDate, "ShortDate", new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="Cover.EndDate" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Cover.EndDate, "ShortDate", new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

</div>