@page "/ScienceRolls/{LessonId:guid}/{RollId:guid}"
@using Constellation.Application.SciencePracs.GetLessonRollDetailsForSchoolsPortal;

@attribute [Authorize]

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Loader IsLoading="@IsLoading">
    <h2>Science Practical Roll</h2>

    <div class="d-flex flex-row mt-3 mb-3">
        @if (Editable)
        {
            <a href="ScienceRolls/@RollId/Submit" class="btn btn-success">Edit</a>
        }

        <a href="ScienceRolls" class="btn btn-danger btn-pull-right-solo">Go Back</a>
    </div>

    <hr />

    <div class="mt-3">
        <div class="form-horizontal">
            <div class="row mb-3">
                <label class="form-label col-md-2">Lesson</label>
                <div class="col-md-6">
                    <span class="control-label text-only">@MarkedRoll.LessonName</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="form-label col-md-2">Due Date</label>
                <div class="col-md-6">
                    <span class="control-label text-only">@MarkedRoll.LessonDueDate.ToShortDateString()</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="form-label col-md-2">Date Delivered</label>
                <div class="col-md-6">
                    <span class="control-label text-only">@MarkedRoll.LessonDate?.ToShortDateString()</span>
                </div>
            </div>
                    
            <div class="row mb-3">
                <label class="form-label col-md-2">Delivered By</label>
                <div class="col-md-6">
                    <span class="control-label text-only">@MarkedRoll.SchoolContactName</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="form-label col-md-2">Comment</label>
                <div class="col-md-6">
                    <span class="control-label text-only">@MarkedRoll.Comment</span>
                </div>
            </div>

            <div class="row mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <td class="col-md-4"><label>Name</label></td>
                        <td><label>Present?</label></td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var student in MarkedRoll.Attendance)
                    {
                        <tr>
                            <td><span class="control-label text-only">@student.StudentName</span></td>
                            <td><span class="control-label text-only">@(student.Present ? "Yes" : "No")</span></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</Loader>

@code {
    [CascadingParameter]
    public SchoolDto SelectedSchool { get; set; }
    public SchoolDto CurrentlySelectedSchool { get; set; }

    private bool IsLoading { get; set; } = false;

    [Parameter]
    public Guid RollId { get; set; }

    [Parameter]
    public Guid LessonId { get; set; }

    public bool Editable { get; set; }

    public ScienceLessonRollDetails MarkedRoll { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        IsLoading = true;

        if (SelectedSchool != null && CurrentlySelectedSchool != SelectedSchool && CurrentlySelectedSchool == null)
        {
            CurrentlySelectedSchool = SelectedSchool;

            MarkedRoll = await Http.GetFromJsonAsync<ScienceLessonRollDetails>($"api/Rolls/Details/{RollId}?lessonId={LessonId}");

            if (MarkedRoll.LessonDate > DateOnly.FromDateTime(DateTime.Today.AddDays(-14)))
            {
                Editable = true;
            }
        }

        if (SelectedSchool != null && CurrentlySelectedSchool != SelectedSchool && CurrentlySelectedSchool != null)
        {
            NavigationManager.NavigateTo("ScienceRolls");
        }

        IsLoading = false;
    }
}
