@using Constellation.Application.Models.Auth

@model School_DetailsViewModel

@{
    var authorised = (User.IsInRole(AuthRoles.Editor) || User.IsInRole(AuthRoles.Admin));
}

<h2>School Details</h2>

@if (authorised)
{
    <div>
        <a asp-action="Update" asp-controller="Schools" asp-area="Partner" asp-route-id="@Model.School.SchoolCode" class="btn btn-warning">Edit</a>
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
    </div>
} else
{
    <div class="row">
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right-solo">Go Back</a>
    </div>
}

<hr/>

<div>
    <div class="row">
        <label asp-for="School.SchoolCode" class="col-md-2"></label>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.School.SchoolCode, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="School.Name" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.Name, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.HasStudents" class="col-md-2 offset-2">Has Students?</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.HasStudents)
        </div>
    </div>

    <div class="row">
        <label asp-for="School.Address" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.Address, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.HasStaff" class="col-md-2 offset-2">Has Staff?</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.HasStaff)
        </div>
    </div>

    <div class="row">
        <label asp-for="School.Town" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.Town, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.Division" class="col-md-2 offset-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.Division, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="School.State" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.State, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.HeatSchool" class="col-md-2 offset-2">Heat Week?</label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.HeatSchool)
        </div>
    </div>

    <div class="row">
        <label asp-for="School.PostCode" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.PostCode, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.Electorate" class="col-md-2 offset-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.Electorate, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="School.PhoneNumber" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.PhoneNumber, "PhoneNumber", new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.PrincipalNetwork" class="col-md-2 offset-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.PrincipalNetwork, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="School.FaxNumber" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.FaxNumber, "PhoneNumber", new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.TimetableApplication" class="col-md-2 offset-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.TimetableApplication, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>

    <div class="row">
        <label asp-for="School.EmailAddress" class="col-md-2"></label>
        <div class="col-md-5">
            @Html.DisplayFor(model => model.School.EmailAddress, "EmailAddress", new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="School.RollCallGroup" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.School.RollCallGroup, new {htmlAttributes = new {@class = "form-control"}})
        </div>
    </div>
</div>

<hr />

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#schoolStaff" data-toggle="tab">
                School contacts
                @if (Model.Contacts.Any())
                {
                    <span class="badge">@Model.Contacts.Count()</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#students" data-toggle="tab">
                Active students
                @if (Model.Students.Any())
                {
                    <span class="badge">@Model.Students.Count()</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#staff" data-toggle="tab">
                Active staff
                @if (Model.Staff.Any())
                {
                    <span class="badge">@Model.Staff.Count()</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#graph" data-toggle="tab">
                Bandwidth Graph
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="schoolStaff" class="tab-pane active">
            <h3>School Contacts</h3>
            
            @if (authorised)
            {
                <button type="button" data-toggle="modal" data-target="#addAssignment" class="btn btn-info btn-sm">Set new school contact</button>
            }
            
            <table class="table-striped table-hover data-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Contacts)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Name)</td>
                        <td>@Html.DisplayFor(model => item.EmailAddress, "EmailAddress")</td>
                        <td>@Html.DisplayFor(model => item.PhoneNumber, "PhoneNumber")</td>
                        <td>@Html.DisplayFor(model => item.Role)</td>
                        <td>
                            @if (authorised)
                            {
                                <a asp-action="DeleteAssignment" asp-controller="SchoolContacts" asp-area="Partner" asp-route-contactGuid="@item.ContactId.Value" asp-route-roleGuid="@item.RoleId.Value" class="btn btn-sm btn-warning btn-show-hover">Remove</a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="students" class="tab-pane">
            <h3>Current Students</h3>

            <table class="table-striped table-hover data-table">
                <thead>
                <tr>
                    <th>SRN</th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Classes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.StudentId)</td>
                        <td>@Html.DisplayFor(model => item.Gender, "Gender") @Html.DisplayFor(model => item.Name)</td>
                        <td>@Html.DisplayFor(model => item.Grade, "Grade")</td>
                        <td>@Html.DisplayFor(model => item.Enrolments, "StringList")</td>
                        <td>
                            <a asp-page="/Students/Details" asp-area="Partner" asp-route-id="@item.StudentId" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="staff" class="tab-pane">
            <h3>Current Staff</h3>

            <table class="table-striped table-hover data-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Faculty</th>
                    <th>Classes</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Staff)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Id)</td>
                        <td>@Html.DisplayFor(model => item.Name)</td>
                        <td>@Html.DisplayFor(model => item.Faculty, "StringList")</td>
                        <td>@Html.DisplayFor(model => item.Courses, "StringList")</td>
                        <td>
                            @Html.ActionLink("More Info...", "Details", "Staff", new { id = item.Id }, new { @class = "btn btn-sm btn-info btn-show-hover" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        
        <div id="graph" class="tab-pane">
            <h3>Bandwidth Graph</h3>
            
            <button id="getTGraph" type="button" class="btn btn-info btn-sm">Get Todays Graph</button> <button id="getYGraph" type="button" class="btn btn-info btn-sm">Get Yesterdays Graph</button> <button id="saveGraph" type="button" class="btn btn-warning btn-sm new-group">Save Graph</button>

            <div class="row">
                <canvas id="bandwidthChart" class="canvas-background"></canvas>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_AddAssignment", Model.RoleAssignmentDto)

@section scripts
{
    <script>
        $(document)
            .ready(function() {
                $('#getTGraph').click(function() {
                    $('#getTGraph').prop('disabled', true);
                    var ctx = document.getElementById('bandwidthChart').getContext('2d');
                    canvasLoadingDisplay(ctx);
                    $.ajax({
                        url: "/Partner/Schools/_GetGraphData",
                        type: "GET",
                        dataType: "json",
                        data: { "id": "@Model.School.SchoolCode", "day": 0 },
                        success: function(data) {
                            console.log(data);
                            ShowGraph(data);
                            $('#getTGraph').prop('disabled', false);
                        },
                        error: function (request, status, error) {
                            canvasClear(ctx);
                            $('#getTGraph').prop('disabled', false);
                        }
                    });
                });
            });

        $(document)
            .ready(function() {
                $('#getYGraph').click(function () {
                    $('#getYGraph').prop('disabled', true);
                    var ctx = document.getElementById('bandwidthChart').getContext('2d');
                    canvasLoadingDisplay(ctx);
                    $.ajax({
                        url: "/Partner/Schools/_GetGraphData",
                        type: "GET",
                        dataType: "json",
                        data: { "id": "@Model.School.SchoolCode", "day": -1 },
                        success: function(data) {
                            ShowGraph(data);
                        },
                        error: function (request, status, error) {
                            canvasClear(ctx);
                            $('#getYGraph').prop('disabled', false);
                        }
                    });
                });
            });

        $(document)
            .ready(function() {
                $('#saveGraph').click(function() {
                    if (MyChart == null) {
                        //
                    } else {
                        var ctx = document.getElementById("bandwidthChart").getContext("2d");
                        //var base64 = MyChart.toBase64Image();

                        var base64 = canvasToImage(ctx, "white");
                        download(base64, GraphFileName, "image/png");
                    }
                });
            });

        function canvasClear(context) {
            var canvas = context.canvas;
            var w = canvas.width;
            var h = canvas.height;

            context.fillStyle = '#fff';
            context.fillRect(0, 0, w, h);
            context.fillStyle = '#000';
            context.font = '60px sans-serif';
            context.fillText("Error...", 15, h / 2 + 35);
        }

        function canvasLoadingDisplay(context) {
            var canvas = context.canvas;
            var w = canvas.width;
            var h = canvas.height;

            context.fillStyle = '#fff';
            context.fillRect(0, 0, w, h);
            context.fillStyle = '#000';
            context.font = '60px sans-serif';
            context.fillText("Loading...", 15, h / 2 + 35);
        }

        function canvasToImage(context, backgroundColor) {
            canvas = context.canvas;
            //cache height and width        
            var w = canvas.width;
            var h = canvas.height;

            var data;

            //get the current ImageData for the canvas.
            data = context.getImageData(0, 0, w, h);

            //store the current globalCompositeOperation
            var compositeOperation = context.globalCompositeOperation;

            //set to draw behind current content
            context.globalCompositeOperation = "destination-over";

            //set background color
            context.fillStyle = backgroundColor;

            //draw background / rect on entire canvas
            context.fillRect(0, 0, w, h);

            //get the image data from the canvas
            var imageData = this.canvas.toDataURL("image/jpeg");

            //clear the canvas
            context.clearRect(0, 0, w, h);

            //restore it with original / cached ImageData
            context.putImageData(data, 0, 0);

            //reset the globalCompositeOperation to what it was
            context.globalCompositeOperation = compositeOperation;

            //return the Base64 encoded data url string
            return imageData;
        }

        var MyChart;
        var GraphFileName;

        function ShowGraph(data) {
            if (MyChart != null) {
                MyChart.destroy();
            }

            GraphFileName = data.siteName + ' ' + data.intlDate + '.png';

            var dataSet = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [
                        {
                            label: "Student Lessons",
                            backgroundColor: 'rgba(230,168,59,0.2)',
                            //backgroundColor: ['rgba(240,159,20,0.33)'],
                            borderColor: 'rgba(0,0,0,0)',
                            borderRadius: 0,
                            pointRadius: 0,
                            pointHitRadius: 0,
                            stepped: true,
                            fill: 'start',
                            data: []
                        },
                        {
                            label: "WAN Connection Maximum",
                            backgroundColor: 'rgba(0,0,0,0)',
                            borderColor: 'rgba(250, 216, 89, 1)',
                            borderRadius: 4,
                            pointRadius: 0,
                            pointHitRadius: 0,
                            data: []
                        },
                        {
                            label: "WAN Inbound (download)",
                            backgroundColor: 'rgba(200, 99, 132, .2)',
                            borderColor: 'rgba(200, 99, 132, .7)',
                            borderWidth: 2,
                            pointRadius: 0,
                            pointHitRadius: 7,
                            data: []
                        },
                        {
                            label: "WAN Outbound (upload)",
                            backgroundColor: 'rgba(0, 10, 130, .2)',
                            borderColor: 'rgba(0, 10, 130, .7)',
                            borderWidth: 2,
                            pointRadius: 0,
                            pointHitRadius: 7,
                            data: []
                        },
                        {
                            label: "INT Connection Maximum",
                            backgroundColor: 'rgba(0,0,0,0)',
                            borderColor: 'rgba(122, 249, 86, 1)',
                            borderRadius: 4,
                            pointRadius: 0,
                            pointHitRadius: 0,
                            data: []
                        },
                        {
                            label: "INT Inbound (download)",
                            backgroundColor: 'rgba(0, 127, 53, .2)',
                            borderColor: 'rgba(0, 127, 53, .7)',
                            borderWidth: 2,
                            pointRadius: 0,
                            pointHitRadius: 7,
                            data: []
                        },
                        {
                            label: "INT Outbound (upload)",
                            backgroundColor: 'rgba(127, 53, 0, .2)',
                            borderColor: 'rgba(127, 53, 0, .7)',
                            borderWidth: 2,
                            pointRadius: 0,
                            pointHitRadius: 7,
                            data: []
                        }
                    ]
                },
                options: {
                    responsive: true,
                    interaction: {
                        mode: 'index',
                        intersect: false
                    },
                    scales: {
                        y: {
                            display: true,
                            afterDataLimits: function(axis) {
                                var chartDataSet = axis.chart.config.data.datasets[0];
                                chartDataSet.data.forEach(function(item, i) {
                                    if (item != 0) chartDataSet.data[i] = axis.max;
                                });
                            }
                        },
                        x: {
                            display: true
                        }
                    },
                    title: {
                        display: true,
                        text: data.siteName + " - " + data.date,
                        fontSize: 16
                    }
                }
            };

            data.data.sort(function(a, b) {
                var timeA = a.time;
                var timeB = b.time;

                var comparison = 0;
                if (timeA > timeB) {
                    comparison = 1;
                } else if (timeA < timeB) {
                    comparison = -1;
                }

                return comparison;
            });

            $.each(data.data,
                function(index, point) {
                    dataSet["data"]["labels"].push(point.time);

                    if (point.lesson === false) {
                        dataSet["data"]["datasets"][0]["data"].push(0);
                    } else {
                        dataSet["data"]["datasets"][0]["data"].push(1);
                    }

                    dataSet["data"]["datasets"][1]["data"].push(point.networks[0].connection);
                    dataSet["data"]["datasets"][2]["data"].push(point.networks[0].inbound);
                    dataSet["data"]["datasets"][3]["data"].push(point.networks[0].outbound);
                    dataSet["data"]["datasets"][4]["data"].push(point.networks[1].connection);
                    dataSet["data"]["datasets"][5]["data"].push(point.networks[1].inbound);
                    dataSet["data"]["datasets"][6]["data"].push(point.networks[1].outbound);
                });

            console.log(dataSet);

            var ctx = document.getElementById('bandwidthChart').getContext('2d');
            MyChart = new Chart(ctx, dataSet);
        };

    </script>
}
