@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Compliance.Wellbeing.IndexModel

@using Constellation.Core.Extensions

<h2>Sentral Incident Tracking Report</h2>

<div class="page-menu">
    <a asp-page-handler="Update" class="btn btn-success">Load Data</a>
    <a asp-page-handler="Export" class="btn btn-warning">Export</a>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Age</th>
            <th>Date</th>
            <th>Subject</th>
            <th>Type</th>
            <th>Teacher</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Data.OrderByDescending(entry => entry.DateCreated))
        {
            var style = (entry.Severity < 10) ? "ffffff"
                : (entry.Severity >= 10 & entry.Severity < 15) ? "fbe4d5"
                : (entry.Severity >= 15 & entry.Severity < 20) ? "f7caac"
                : (entry.Severity >= 20 & entry.Severity < 25) ? "f4b083"
                : "c45911";

            <tr style="background-color: #@style !important">
                <td>@entry.Severity</td>
                <td>@entry.DateCreated.ToShortDateString()</td>
                <td>@entry.Subject</td>
                <td>@entry.Type</td>
                <td>@entry.Teacher</td>
                <td>@entry.StudentLastName</td>
                <td>@entry.StudentFirstName</td>
                <td>@entry.Grade.AsName()</td>
            </tr>
        }
    </tbody>
</table>

