@using Constellation.Presentation.Staff.Areas.SchoolAdmin.Pages.Training
@{
    Layout = "/Pages/Shared/_StaffLayout.cshtml";

    string activePage = ViewData["ActivePage"].ToString();
    string staffId = ViewData["StaffId"].ToString();
}

<div class="row sidebar-layout">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                <span class="w-100">Mandatory Training</span>
            </h4>
            <ul class="nav flex-column mx-2">
                <li class="nav-item">
                    <a class="nav-link @(activePage == TrainingPages.Staff ? "active" : "")" asp-page="/Training/Staff/Index" asp-area="SchoolAdmin" asp-route-staffId="@staffId">
                        My Records
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == TrainingPages.Modules ? "active" : "")" asp-page="/Training/Modules/Index" asp-area="SchoolAdmin">
                        Modules
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == TrainingPages.Completions ? "active" : "")" asp-page="/Training/Completion/Index" asp-area="SchoolAdmin">
                        Certificates
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == TrainingPages.Roles ? "active" : "")" asp-page="/Training/Roles/Index" asp-area="SchoolAdmin">
                        Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == TrainingPages.Reports ? "active" : "")" asp-page="/Training/Reports/Index" asp-area="SchoolAdmin">
                        Reports
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-md-3">
        @RenderBody()
    </main>
</div>

@section scripts {
    <script>
        // $(document).ready(function () {
        //     var container = $('#main-container');
        //     container.removeClass('container');
        //     container.addClass('container-fluid')
        // });
    </script>

  @RenderSection("scripts", required: false)
}