@page "{SelectedUserType}"
@model Constellation.Presentation.Server.Areas.Admin.Pages.Auth.Users.IndexModel

<h3>User Management</h3>

<div class="page-menu">
    <a asp-page-handler="AuditAllUsers" class="btn btn-warning">Audit All Users</a>
</div>

<hr />

<div class="d-flex">
    <div class="w-25 p-2">
        <h3>Users</h3>

        <a asp-route-selectedUserType="Staff" class="btn btn-success btn-block">Staff: @Model.StaffUserCount</a>
        <a asp-route-selectedUserType="School" class="btn btn-success btn-block">School Contact: @Model.SchoolContactUserCount</a>
        <a asp-route-selectedUserType="Parent" class="btn btn-success btn-block">Parent: @Model.ParentUserCount</a>
        <a asp-route-selectedUserType="Student" class="btn btn-success btn-block">Student: @Model.StudentUserCount</a>
    </div>
    
    <div class="w-75 ms-3 p-3">
        <table class="data-table table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Access</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Users.Any())
            {
                @foreach (var user in Model.Users.OrderBy(user => user.LastName))
                {
                    <tr>
                        <td>
                            @user.Name<br />
                            @user.Email
                        </td>
                        <td>
                            @foreach (var role in user.Roles)
                            {
                                <span class="badge badge-secondary">@role</span>
                            }
                        </td>
                        <td>
                            @user.LastLoggedIn?.ToLocalTime()
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-warning dropdown-toggle btn-show-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions</button>
                                <div class="dropdown-menu">
                                    <a asp-page="Info" asp-route-emailAddress="@user.Email" class="dropdown-item">View Info...</a>
                                    <a asp-page-handler="Audit" asp-route-userId="@user.Id" class="dropdown-item">Audit Access</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            } 
            else
            {
                <tr>
                    <td colspan="4">No Items Found!</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>