@page "{id}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Partner.Students.DetailsModel

@using Constellation.Application.Domains.Enrolments.Queries.GetStudentEnrolmentsWithDetails
@using Constellation.Core.Abstractions.Clock
@using Constellation.Core.Extensions
@using Constellation.Core.Models.Families
@using Constellation.Core.ValueObjects

@inject IAuthorizationService authorizationService;
@inject IDateTimeProvider dateTime;

@{
    var authorised = await authorizationService.AuthorizeAsync(User, AuthPolicies.CanEditStudents);
}

<h2>Student Details</h2>

<div class="page-menu">
    @if (authorised.Succeeded)
    {
        <a asp-page="/Partner/Students/Upsert" asp-area="Staff" asp-route-id="@Model.Student.StudentId" class="btn btn-warning">Edit</a>

        @if (Model.Student.IsDeleted)
        {
            <button data-toggle="modal" data-target="#reinstateStudentModal" class="btn btn-danger">Re-enrol</button>
        }
        else
        {
            <a asp-page-handler="Withdraw" class="btn btn-danger">Withdraw</a>
        }

        <button class="btn btn-secondary" data-toggle="modal" data-target="#lifecycleDetailsModal">View Extended Details</button>
    }

    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

@if (Model.Student.IsDeleted)
{
    <div class="alert alert-warning">
        This student has been marked withdrawn.
    </div>
}

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Student.StudentId">SRN</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Student.StudentReferenceNumber</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Student.Name.DisplayName">Name</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Student.Name.DisplayName</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Student.EmailAddress">Email Address</label>
        </dt>
        <dd class="col-md-10">
            <span><a href="mailto:@Model.Student.EmailAddress">@Model.Student.EmailAddress</a></span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Student.School"></label>
        </dt>
        <dd class="col-md-10">
            <span>
                <a asp-page="/Partner/Schools/Details" asp-area="Staff" asp-route-id="@Model.Student.SchoolCode">@Model.Student.School</a>
            </span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Student.Grade"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Student.Grade?.AsName()</span>
        </dd>
    </dl>
</div>

<hr />

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#schoolHistory" data-toggle="tab" role="tab">
                School History
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#family" data-toggle="tab" role="tab">
                Family
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#studentClasses" data-toggle="tab" role="tab">
                Enrolled classes
                @if (Model.Enrolments.Any())
                {
                    <span class="badge">@Model.Enrolments.Count()</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#sessions" data-toggle="tab" role="tab" id="sessions-tab-button">
                Active sessions
                @if (Model.Sessions.Any())
                {
                    <span class="badge">...</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#studentDevices" data-toggle="tab" role="tab">
                Assigned devices
                @if (Model.Equipment.Any())
                {
                    <span class="badge">@Model.Equipment.Count()</span>
                }

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#studentAbsences" data-toggle="tab" role="tab">
                Absences
                @if (Model.Absences.Any())
                {
                    <span class="badge">...</span>
                }

            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="schoolHistory" class="tab-pane">
            <h3>School History</h3>
            
            @if (authorised.Succeeded)
            {
                <button data-toggle="modal" data-target="#transfer-student-modal" class="btn btn-warning">Transfer</button>
            }

            <table class="table table-striped table-hover school-data-table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>School</th>
                        <th>Grade</th>
                        <th>From</th>
                        <th>To</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.SchoolEnrolments)
                    {
                        var isCurrent = !entry.IsDeleted && entry.StartDate <= dateTime.Today && (!entry.EndDate.HasValue || entry.EndDate.Value >= dateTime.Today);
                        var isFuture = !entry.IsDeleted && entry.StartDate > dateTime.Today;

                        <tr class="@(isCurrent ? "current" : "") @(isFuture ? "future" : "")">
                            <td>@entry.Year</td>
                            <td>@entry.SchoolName</td>
                            <td data-order="@entry.Grade.AsNumber()">@entry.Grade.AsName()</td>
                            <td data-order="@entry.StartDate.ToString("yyyy-MM-dd")">@entry.StartDate.ToString("d")</td>
                            <td data-order="@(entry.EndDate.HasValue ? entry.EndDate.Value.ToString("yyyy-MM-dd") : DateOnly.MaxValue.ToString("yyyy-MM-dd"))">@entry.EndDate?.ToString("d")</td>
                            <td>
                                @if (entry is { IsDeleted: false, EndDate: null } && authorised.Succeeded)
                                {
                                    <a asp-page-handler="RemoveSchoolEnrolment" asp-route-enrolmentId="@entry.Id" class="btn btn-sm btn-danger btn-show-hover">Remove</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="family" class="tab-pane">
            <h3>Family Contacts</h3>

            <table class="table table-striped table-hover data-table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var entry in Model.FamilyContacts)
                {
                    <tr>
                        <td>
                            @if (entry.IsResidentialContact)
                            {
                                <i class="fal fa-house"/>
                            }
                        </td>
                        <td>
                            @if (entry.ContactType == Parent.SentralReference.Father)
                            {
                                <i class="fal fa-male"/>
                            }

                            @if (entry.ContactType == Parent.SentralReference.Mother)
                            {
                                <i class="fal fa-female"/>
                            }

                            @if (entry.ContactType == Parent.SentralReference.Other)
                            {
                                <i class="fal fa-house-leave"/>
                            }
                        </td>
                        <td>@entry.Name</td>
                        <td>@(entry.EmailAddress is not null || entry.EmailAddress != EmailAddress.None ? entry.EmailAddress.Email : "")</td>
                        <td>@entry.MobileNumber?.ToString()</td>
                        <td>
                            <a asp-page="/Partner/Families/Details" asp-area="Staff" asp-route-id="@entry.FamilyId.Value" class="btn btn-sm btn-warning btn-show-hover">Details</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="studentClasses" class="tab-pane active">
            <h3>Active enrolments</h3>

            @if (authorised.Succeeded)
            {
                <a asp-page="/Partner/Students/BulkEnrol" asp-area="Staff" asp-route-id="@Model.Student.StudentId" class="btn btn-warning">Bulk Enrol</a>
                <a asp-page-handler="BulkUnenrol" class="btn btn-warning">Bulk Unenrol</a>
            }

            <table class="table-striped table-hover data-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Teacher</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Enrolments)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Course</td>
                        <td>
                            @foreach (var teacher in item.Teachers)
                            {
                                <span class="badge">@teacher</span>
                            }
                        </td>
                        <td>
                            @if (authorised.Succeeded)
                            {
                                if (item is StudentOfferingEnrolmentResponse offeringEnrolment)
                                {
                                    <a asp-page-handler="UnenrolOffering" asp-route-offeringId="@offeringEnrolment.OfferingId" class="btn btn-sm btn-danger btn-show-hover">Remove</a>
                                }

                                if (item is StudentTutorialEnrolmentResponse tutorialEnrolment)
                                {
                                    <a asp-page-handler="UnenrolTutorial" asp-route-tutorialId="@tutorialEnrolment.TutorialId" class="btn btn-sm btn-danger btn-show-hover">Remove</a>
                                }
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="sessions" class="tab-pane">
            <h3>Current Sessions</h3>
            
            <a asp-page="/Partner/Students/Timetable" asp-area="Staff" asp-route-id="@Model.Student.StudentId" class="btn btn-warning">View Timetable</a>
            
            <table class="table-striped table-hover data-table">
                <thead>
                <tr>
                    <th>Period</th>
                    <th>Class</th>
                    <th>Teacher</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Sessions)
                {
                    <tr>
                        <td data-order="@item.PeriodSortOrder">@item.PeriodName</td>
                        <td>@item.OfferingName</td>
                        <td>
                            @foreach (var teacher in item.Teachers)
                            {
                                <span class="badge">@teacher</span>
                            }
                        </td>
                        <td>@item.Duration</td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="3" class="text-right">Total Minutes per Cycle:</th>
                    <th>@Model.MinPerFn</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="studentDevices" class="tab-pane">
            <h3>Device history</h3>

            <table class="table-striped table-hover device-data-table">
                <thead>
                <tr>
                    <th>Asset Number</th>
                    <th>Make</th>
                    <th>Serial Number</th>
                    <th>Status</th>
                    <th>Date Assigned</th>
                    <th>Date Returned</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Equipment)
                {
                    <tr>
                        <td>@item.AssetNumber</td>
                        <td>@item.Make</td>
                        <td>@item.SerialNumber</td>
                        <td>@item.Status</td>
                        <td data-order="@item.DateAllocated.ToString("yyyy-MM-dd")">@item.DateAllocated.ToShortDateString()</td>
                        <td data-order="@(item.DateReturned == DateOnly.MinValue ? DateOnly.MaxValue.ToString("yyyy-MM-dd") : item.DateReturned.ToString("yyyy-MM-dd"))">
                            @if (item.DateReturned != DateOnly.MinValue)
                            {
                                @item.DateReturned.ToShortDateString()
                            }
                        </td>
                        <td>
                            <a asp-page="/Equipment/Assets/Details" asp-area="Staff" asp-route-assetNumber="@item.AssetNumber" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="studentAbsences" class="tab-pane">
            <h3>Absences</h3>

            <table class="table-striped table-hover absence-data-table">
                <thead>
                <tr>
                    <th>Explained</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Period</th>
                    <th>Class</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Absences)
                {
                    <tr>
                        <td data-order="@item.IsExplained">
                            @if (item.IsExplained)
                            {
                                <i class="fal fa-comment-check"/>
                            }
                            else
                            {
                                <i class="fal fa-comment-times"/>
                            }
                        </td>
                        <td>@item.AbsenceType</td>
                        <td data-order="@item.AbsenceDate.ToString("yyyy-MM-dd")">@item.AbsenceDate.ToShortDateString()</td>
                        <td data-order="@item.Timeframe">@item.Timeframe (@item.PeriodName)</td>
                        <td>@item.OfferingName</td>
                        <td>
                            <a asp-page="/SchoolAdmin/Absences/Details" asp-area="Staff" asp-route-Id="@item.AbsenceId" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<vc:lifecycle-details view-model="@Model.RecordLifecycle" />
<vc:reinstate-student student-id="@Model.Id" />
<vc:transfer-student />

@section scripts {
    <script>
        $(document).ready(function (){
            $('.absence-data-table').DataTable({
                "order": [
                    [2, 'asc'],
                    [3, 'asc']
                ] 
            });

            $('.school-data-table').DataTable({
                "order": [
                    [0, 'desc'],
                    [4, 'desc']
                ]
            });

            $('.device-data-table').DataTable({
                "order": [
                    [5, 'desc'],
                    [4, 'desc']
                ]
            });
        })
    </script>
}