@page
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Compliance.Attendance.IndexModel

@using Constellation.Core.Extensions

<h2>Attendance Percentages</h2>

@* <div class="page-menu">
    <a asp-page-handler="RetrieveAttendance" class="btn btn-success">Sync Attendance</a>
</div> *@

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Student</th>
            <th>Grade</th>
            <th>Period</th>
            <th>YTD (Day)</th>
            <th>YTD (Minute)</th>
            <th>Week (Day)</th>
            <th>Week (Minute)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var studentId in Model.StudentData.Select(entry => entry.StudentId).Distinct().ToList())
    {
        @foreach (var entry in Model.StudentData.Where(entry => entry.StudentId == studentId).OrderBy(entry => entry.StartDate))
        {
            <tr>
                <td>
                    @{
                        var student = Model.Students.FirstOrDefault(student => student.StudentId == entry.StudentId);

                        if (student is null)
                        {
                            <a asp-page="Student" asp-route-studentId="@entry.StudentId">@entry.StudentId</a>
                        }
                        else
                        {
                            <a asp-page="Student" asp-route-studentId="@entry.StudentId">@student.DisplayName</a>
                        }
                    }
                </td>
                <td>@entry.Grade.AsName()</td>
                <td>@entry.PeriodLabel</td>
                <td>@entry.PerDayYearToDatePercentage</td>
                <td>@entry.PerMinuteYearToDatePercentage</td>
                <td>@entry.PerDayWeekPercentage</td>
                <td>@entry.PerMinuteWeekPercentage</td>
            </tr>
        }
    }

    </tbody>
</table>