@page
@model IndexModel

@using Constellation.Presentation.Staff.Areas.SchoolAdmin.Pages.Consent.Applications

@inject IAuthorizationService authService

@{
    AuthorizationResult authCheck = await authService.AuthorizeAsync(User, AuthPolicies.CanEditStudents);
}

<h2>Applications</h2>

<div class="page-menu">
    @{
        var allStyle = "btn-outline-secondary";
        var activeStyle = allStyle;
        var inactiveStyle = allStyle;

        switch (Model.Filter)
        {
            case IndexModel.FilterDto.All:
                allStyle = "btn-primary";
                break;
            case IndexModel.FilterDto.Active:
                activeStyle = "btn-primary";
                break;
            case IndexModel.FilterDto.Inactive:
                inactiveStyle = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-route-filter="@IndexModel.FilterDto.All" class="btn @allStyle">All</a>
        <a asp-route-filter="@IndexModel.FilterDto.Active" class="btn @activeStyle">Active</a>
        <a asp-route-filter="@IndexModel.FilterDto.Inactive" class="btn @inactiveStyle">Inactive</a>
    </div>
    
    @if (authCheck.Succeeded)
    {
        <a asp-page="/Consent/Applications/Upsert" asp-area="SchoolAdmin" class="btn btn-success">New</a>
    }
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Application</th>
            <th>Purpose</th>
            <th>Consent Required?</th>
            <th># Responses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model.Applications)
        {
            <tr>
                <td>
                    @if (application.IsDeleted)
                    {
                        <i class="fal fa-times red-icon"></i>
                    }
                    else
                    {
                        <i class="fal fa-check green-icon"></i>
                    }
                </td>
                <td>@application.Name</td>
                <td>@application.Purpose</td>
                <td>
                    @if (application.ConsentRequired)
                    {
                        <span class="badge badge-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">No</span>
                    }
                </td>
                <td>@application.CountResponses</td>
                <td>
                    <a asp-page="/Consent/Applications/Details" asp-route-id="@application.Id.Value" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>
