@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.StudentAdmin.Awards.ChangesModel

@using Constellation.Application.Awards.Enums
@using Constellation.Core.Extensions

<h2>Student Award Changes</h2>

@{
    var all_style = "btn-outline-secondary";
    var additions_style = all_style;
    var overages_style = all_style;

    switch (Model.Filter)
    {
        case AwardsFilter.Additions:
            additions_style = "btn-primary";
            break;
        case AwardsFilter.Overages:
            overages_style = "btn-primary";
            break;
        default:
            all_style = "btn-primary";
            break;
    }
}

<div class="page-menu">
    <div class="btn-group" role="group">
        <a asp-route-filter="@AwardsFilter.All" class="btn @all_style">All</a>
        <a asp-route-filter="@AwardsFilter.Additions" class="btn @additions_style">Additions</a>
        <a asp-route-filter="@AwardsFilter.Overages" class="btn @overages_style">Overages</a>
    </div>
    
    <a asp-page-handler="AuditValues" class="btn btn-danger">Audit Calculations</a>
    
    @if (Model.AwardStatistics.Any(entry => entry.CalculatedStellars > entry.AwardedStellars))
    {
        <button class="btn btn-danger" onclick="submitStellarForm()">Issue Stellar Awards</button>
    }

    @if (Model.AwardStatistics.Any(entry => entry.CalculatedGalaxies > entry.AwardedGalaxies))
    {
        <button class="btn btn-danger" onclick="submitGalaxyForm()">Issue Galaxy Awards</button>
    }

    @if (Model.AwardStatistics.Any(entry => entry.CalculatedUniversals > entry.AwardedUniversals))
    {
        <button class="btn btn-danger" onclick="submitUniversalForm()">Issue Universal Awards</button>
    }
    
    <form method="post" id="stellar-form">
        <div class="hidden">
            @foreach (var entry in Model.AwardStatistics.Where(entry => entry.CalculatedStellars > entry.AwardedStellars))
            {
                <input type="hidden" name="StudentIds" value="@entry.StudentId" />
            }
            <input type="hidden" name="AwardType" value="@IssueAwardType.Stellar" />
        </div>
    </form>
    
    <form method="post" id="galaxy-form">
        <div class="hidden">
            @foreach (var entry in Model.AwardStatistics.Where(entry => entry.CalculatedGalaxies > entry.AwardedGalaxies))
            {
                <input type="hidden" name="StudentIds" value="@entry.StudentId" />
            }
            <input type="hidden" name="AwardType" value="@IssueAwardType.Galaxy" />
        </div>
    </form>
    
    <form method="post" id="universal-form">
        <div class="hidden">
            @foreach (var entry in Model.AwardStatistics.Where(entry => entry.CalculatedUniversals > entry.AwardedUniversals))
            {
                <input type="hidden" name="StudentIds" value="@entry.StudentId" />
            }
            <input type="hidden" name="AwardType" value="@IssueAwardType.Universal" />
        </div>
    </form>
</div>

<hr />

@foreach (var entry in Model.AwardStatistics.OrderBy(award => award.Grade))
{
    <h4>@entry.Name.DisplayName (@entry.Grade.AsName())</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Astras</th>
                <th>Stellars</th>
                <th>Galaxies</th>
                <th>Universals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Awarded</th>
                <td>@entry.AwardedAstras</td>
                <td>@entry.AwardedStellars</td>
                <td>@entry.AwardedGalaxies</td>
                <td>@entry.AwardedUniversals</td>
            </tr>
            <tr>
                <th>Calculated</th>
                <td></td>
                @if (entry.CalculatedStellars > entry.AwardedStellars)
                {
                    <td class="Over">@entry.CalculatedStellars (+@(entry.CalculatedStellars - @entry.AwardedStellars))</td>
                }
                else if (entry.CalculatedStellars < entry.AwardedStellars)
                {
                    <td class="Under">@entry.CalculatedStellars (-@(entry.CalculatedStellars - @entry.AwardedStellars))</td>
                }
                else
                {
                    <td>@entry.CalculatedStellars</td>
                }

                @if (entry.CalculatedGalaxies > entry.AwardedGalaxies)
                {
                    <td class="Over">@entry.CalculatedGalaxies (+@(entry.CalculatedGalaxies - @entry.AwardedGalaxies))</td>
                }
                else if (entry.CalculatedGalaxies < entry.AwardedGalaxies)
                {
                    <td class="Under">@entry.CalculatedGalaxies (-@(entry.CalculatedGalaxies - @entry.AwardedGalaxies))</td>
                }
                else
                {
                    <td>@entry.CalculatedGalaxies</td>
                }

                @if (entry.CalculatedUniversals > entry.AwardedUniversals)
                {
                    <td class="Over">@entry.CalculatedUniversals (+@(entry.CalculatedUniversals - @entry.AwardedUniversals))</td>
                }
                else if (entry.CalculatedUniversals < entry.AwardedUniversals)
                {
                    <td class="Under">@entry.CalculatedUniversals (-@(entry.CalculatedUniversals - @entry.AwardedUniversals))</td>
                }
                else
                {
                    <td>@entry.CalculatedUniversals</td>
                }
            </tr>
        </tbody>
    </table>
    <br />
}

@section scripts
{
    <script>
        function submitStellarForm() {
            $("#stellar-form").submit();
        }

        function submitGalaxyForm() {
            $("#galaxy-form").submit();
        }

        function submitUniversalForm() {
            $("#universal-form").submit();
        }
    </script>
}
