@using Constellation.Infrastructure.Templates.Views.Emails.MissedWork
@model StudentMissedWorkNotificationEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Dear @Model.StudentName,</p>
<p>Our records indicate that you were absent from your @Model.CourseName class @Model.OfferingName on @Model.AbsenceDate.ToLongDateString().</p>
<p>To ensure that you remain on track with your peers, please find details below of the work you missed during this lesson:</p>
@Html.Raw(@Model.WorkDescription)
<p>If you have any questions, please feel free to ask your classroom teacher.</p>