@page "{id}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Training.Reports.StaffMemberModel

@using Constellation.Application.Helpers
@using Constellation.Core.Enums

<h2>Training Modules for @Model.StaffMember?.Name.DisplayName</h2>

<div class="page-menu">
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Module</th>
            <th>Expiry</th>
            <th>Mandatory?</th>
            <th>Date Last Completed</th>
            <th>Date Next Due</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Modules)
        {
            <tr>
                <td>@entry.ModuleName</td>
                <td>@entry.Expiry.GetDisplayName()</td>
                <td>@entry.IsRequired</td>
                <td>
                    @if (entry.IsCompleted)
                    {
                        @entry.DateCompleted!.Value.ToShortDateString()
                    }
                </td>
                <td>
                    @if (entry.IsCompleted && entry.IsRequired)
                    {
                        if (entry.Expiry != TrainingModuleExpiryFrequency.OnceOff)
                        {
                            @entry.DateCompleted!.Value.AddYears((int)@entry.Expiry).ToShortDateString()
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>