@using Constellation.Core.Enums
@model Student_BulkEnrolViewModel

@{
    var groupedOfferings = Model.OfferingList.GroupBy(offering => offering.Course.FacultyId);
}

<h2>Enrol in Multiple Classes</h2>

<div class="row">
    <a asp-action="Details" asp-controller="Students" asp-area="Partner" asp-route-id="@Model.StudentId" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr/>

<form asp-action="BulkEnrol" asp-controller="Students" asp-area="Partner" method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.StudentId)
        
        <div class="form-group row">
            @foreach (var group in groupedOfferings)
            {
                <div class="col-md-3">
                    @foreach (var offering in group.OrderBy(e => e.EndDate).ThenBy(e => e.Name))
                    {
                        <div>
                            <input type="checkbox" name="SelectedClasses" value="@offering.Id"/>@offering.Name (@offering.EndDate.Year)
                        </div>
                    }
                </div>
            }
        </div>

        <div class="form-group">
            <br/>
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg"/>
            </div>
        </div>
    </div>
</form>