@using Constellation.Application.Models.Identity
@using Constellation.Core.Enums
@model Student_ViewModel

@{
    var authorised = (User.IsInRole(AuthRoles.Editor) || User.IsInRole(AuthRoles.Admin));
}

<h2>Current Enrolments by Student</h2>

<div class="row">
    <a asp-action="Index" asp-controller="Students" asp-area="Partner" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr/>

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th>SRN</th>
            <th>Name</th>
            <th>Grade</th>
            <th>School</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.StudentId)</td>
                <td>@Html.DisplayFor(model => item.Gender, "Gender") @Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.Grade, "Grade")</td>
                <td>@Html.DisplayFor(model => item.SchoolName)</td>
                <td>
                    @foreach (var course in item.CurrentEnrolments)
                    {
                        <span class="badge badge-secondary">@course</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("More Info...", "Details", new { id = item.StudentId }, new { @class = "btn btn-sm btn-info btn-show-hover" })
                </td>
            </tr>
        }
    </tbody>
</table>
