@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.HangfireDashboardModel

<h3>Hangfire Job Activator</h3>

<!-- Button to add all default jobs with default settings -->

<!-- Table of all job definitions with options to add with default setting, add with custom cron expression, trigger, and remove -->

<table class="table-striped table-hover data-table">
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JobDefinitions.OrderBy(def => def.Key))
        {
            var isActive = Model.GetJobStatus(item.Key);

            <tr>
                <td>@item.Key</td>
                <td>
                    <!-- Add button -->
                    @if (!isActive)
                    {
                        <form asp-page-handler="AddJob" method="post">
                            <input type="hidden" name="actionName" value="@item.Key" />
                            <input type="hidden" name="cronExpression" value="@item.Value" />
                            <button class="btn btn-primary">Add Job</button>
                        </form>
                    }
                </td>
                <td>
                    <!-- Add with custom expression button -->
                </td>
                <td>
                    <!-- Trigger button -->
                    @if (isActive)
                    {
                        <form asp-page-handler="TriggerJob" method="post">
                            <input type="hidden" name="actionName" value="@item.Key" />
                            <button class="btn btn-success" disabled="@(!isActive)">Run Job</button>
                        </form>                        
                    }
                </td>
                <td>
                    <!-- Remove button -->
                    @if (isActive)
                    {
                       <form asp-page-handler="RemoveJob" method="post">
                            <input type="hidden" name="actionName" value="@item.Key" />
                            <button class="btn btn-warning" disabled="@(!isActive)">Remove</button>
                        </form> 
                    }
                </td>
            </tr>
        }
    </tbody>
</table>