@page
@model Constellation.Presentation.Server.Areas.Admin.Pages.HangfireDashboardModel

<h3>Hangfire Job Activator</h3>

<form asp-page-handler="AddDefault" method="post">
    <button class="btn btn-primary">Add All Jobs with Default Settings</button>
</form>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Add</th>
        <th>Trigger</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JobDefinitions.OrderBy(def => def.Key))
        {
            var isActive = Model.GetJobStatus(item.Key);

            <tr>
                <td>@item.Key</td>
                <td>
                    <!-- Add button -->
                    @if (!isActive)
                    {
                        <form asp-page-handler="AddJob" method="post">
                            <div class="form-row">
                                <div class="col">
                                    <input type="hidden" name="actionName" value="@item.Key" />
                                    <input type="text" name="cronExpression" value="@item.Value" class="form-control" />
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    }
                </td>
                <td>
                    <!-- Trigger button -->
                    @if (isActive)
                    {
                        <form asp-page-handler="TriggerJob" method="post">
                            <input type="hidden" name="actionName" value="@item.Key" />
                            <button class="btn btn-success" disabled="@(!isActive)">Trigger</button>
                        </form>                        
                    }

                    <!-- Local Trigger button -->
                    <form asp-page-handler="LocalTriggerJob" method="post">
                        <input type="hidden" name="actionName" value="@item.Key" />
                        <button class="btn btn-success ml-3">Trigger Locally</button>
                    </form>
                </td>
                <td>
                    <!-- Remove button -->
                    @if (isActive)
                    {
                       <form asp-page-handler="RemoveJob" method="post">
                            <input type="hidden" name="actionName" value="@item.Key" />
                            <button class="btn btn-warning" disabled="@(!isActive)">Remove</button>
                        </form> 
                    }
                </td>
            </tr>
        }
    </tbody>
</table>