@page "{id:Guid}"
@using Constellation.Application.Helpers
@using Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.MandatoryTraining.Completion
@model DetailsModel
@inject IAuthorizationService AuthorizationService

<h2>Training Completion Record Details</h2>

@{
    var authorised = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanEditTrainingModuleContent);

    if (authorised.Succeeded)
    {
        <div>
            <a asp-page="Upsert" asp-route-id="@Model.Record.Id" asp-route-mode="@UpsertModel.ModeOptions.FULL" class="btn btn-warning">Edit</a>
            <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
        </div>
    } else {
        <div class="row">
            <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right-solo">Go Back</a>
        </div>
    }
}

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Record.Id"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Record.Id</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Record.StaffId">Staff Member</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Record.StaffFirstName @Model.Record.StaffLastName</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Record.ModuleId">Module</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Record.ModuleName</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Record.ModuleExpiry">Expiry</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Record.ModuleExpiry.GetDisplayName()</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Record.CompletedDate">Completed Date</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Record.CompletedDate.ToString("dd/MM/yyyy")</span>
        </dd>
    </dl>
</div>

@if (Model.UploadedCertificate is not null && Model.UploadedCertificate.FileData is not null)
{
    <h3>Certificate</h3>
    <div class="mb-3">
        <a asp-page-handler="DownloadCertificate" class="btn btn-secondary">Download Certificate</a>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
        <embed src="data:application/pdf;base64,@Model.UploadedCertificate.FileDataBase64" class="embed-responsive-item" />
    </div>
}