@page
@using Constellation.Application.Models.Identity
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.MandatoryTraining.Completion.IndexModel

@{
    var userStaffId = (User.HasClaim(claim => claim.Type == "StaffId") ? User.Claims.First(claim => claim.Type == "StaffId").Value : "");
    var authorised = (User.IsInRole(AuthRoles.Editor) || User.IsInRole(AuthRoles.Admin) || User.IsInRole(AuthRoles.MandatoryTrainingEditor));
}

<h2>Mandatory Training Completion Records</h2>

@if (authorised)
{
    <div>
        <a asp-page="Upsert" class="btn btn-warning">Create New</a>
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
    </div>
}

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Staff Member</th>
            <th>Module</th>
            <th>Date Completed</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.CompletionRecords)
    {
        <tr>
            <td></td>
            <td>@item.StaffFirstName @item.StaffLastName</td>
            <td>@item.ModuleName</td>
            <td>@item.CompletedDate.ToString("dd/MM/yyyy")</td>
            <td>
                @if (authorised || userStaffId == item.StaffId)
                {
                    <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">More Details...</a>
                }
            </td>
        </tr>
    }
</table>