@page "{id:Guid?}"
@using Constellation.Core.Enums
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.MandatoryTraining.Completion.UpsertModel

@{
    var title = Model.Id.HasValue ? "Edit Training Completion Record" : "Create New Training Completion Record";
}

<h2>@title</h2>

<div class="row">
    <a asp-page="Index" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<form asp-page-handler="Update">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label asp-for="StaffId" class="col-md-2">Staff Member</label>
            <div class="col-md-5">
                <select asp-for="StaffId" asp-items="@(new SelectList(Model.StaffOptions, "Key", "Value"))" class="form-control">
                    <option selected="selected" value=""> -- Please Select -- </option>
                </select>
                <span asp-validation-for="StaffId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="TrainingModuleId" class="col-md-2">Training Module</label>
            <div class="col-md-8">
                <select asp-for="TrainingModuleId" asp-items="@(new SelectList(Model.ModuleOptions, "Key", "Value"))" class="form-control">
                    <option selected="selected" value=""> -- Please Select -- </option>
                </select>
                <span asp-validation-for="TrainingModuleId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CompletedDate" class="col-md-2">Date Completed</label>
            <div class="col-md-3">
                <input asp-for="CompletedDate" class="form-control" />
                <span asp-validation-for="CompletedDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}