@using Blazored.Modal
@using Blazored.Modal.Services
@using Constellation.Application.Features.Portal.School.Stocktake.Commands
@using Constellation.Application.Features.Portal.School.Stocktake.Models
@using MediatR
@using System.ComponentModel.DataAnnotations

@inject IMediator Mediator
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="row m-3">
    <div class="col w-auto">
        <div class="form-group row mt-3">
            <label class="col-5">Serial / Asset</label>
            <div class="col font-weight-bold">@Sighting.SerialNumber / @Sighting.AssetNumber</div>
        </div>

        <div class="form-group row mt-3">
            <label class="col-5">Description</label>
            <div class="col font-weight-bold">@Sighting.Description</div>
        </div>

        <div class="form-group row mt-3">
            <label class="col-5">User</label>
            <div class="col font-weight-bold">@Sighting.UserName</div>
        </div>

        <div class="form-group row mt-3">
            <label class="col-5">Sighted</label>
            <div class="col font-weight-bold">@Sighting.SightedBy (@Sighting.SightedAt.ToShortDateString())</div>
        </div>

        <EditForm Model="Command">
            <DataAnnotationsValidator />

            <div class="form-group row mt-3">
                <label class="col-5">Reason for cancelling</label>
                <div class="col">
                    <InputText @bind-Value="Command.Comment" class="form-control" />
                </div>
                <div class="w-100"></div>
                <div class="offset-5 col">
                    &nbsp;
                    <ValidationSummary />
                </div>
            </div>

            <div class="row mt-3">
                <div class="ml-auto mr-3">
                    <button class="btn btn-primary mr-3" @onclick="@CancelSighting">Update</button>
                    <button class="btn btn-danger" @onclick="@Cancel">Close</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    @namespace Constellation.Presentation.Portal.Schools.Components

    [CascadingParameter] public BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public StocktakeSightingsForList Sighting { get; set; }

    public CancelStocktakeSightingCommand Command { get; set; } = new();

    async Task CancelSighting()
    {
        if (string.IsNullOrWhiteSpace(Command.Comment))
        {
            return;
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        Command.SightingId = Sighting.Id;
        Command.CancelledBy = authState.User.Identity.Name;
        Command.CancelledAt = DateTime.Now;

        await Mediator.Send(Command);

        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

    async Task Cancel()
    {
        await BlazoredModal.CloseAsync(ModalResult.Cancel());
    }
}
