@page "{id:Guid}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Subject.GroupTutorials.Tutorials.DetailsModel
@inject IAuthorizationService AuthorizationService

@{
    //TODO: R1.15: Confirmation dialogs can be loaded as partial views by AJAX instead of doing page reload every time

    var canEditTest = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanEditGroupTutorials);
    var canSubmitTest = await AuthorizationService.AuthorizeAsync(User, Model.Id, AuthPolicies.CanSubmitGroupTutorialRolls);
}

<h2>Group Tutorial Details</h2>

<div class="page-menu">
    @if (canEditTest.Succeeded)
    {
        <a asp-page="/Subject/GroupTutorials/Tutorials/Upsert" asp-area="Staff" asp-route-id="@Model.Tutorial.Id" class="btn btn-warning">Edit</a>
    }

    <a asp-page-handler="DownloadReport" class="btn btn-success">Report</a>
    
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Tutorial.Id"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.Id</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Tutorial.Name"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.Name</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Tutorial.StartDate">Start Date</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.StartDate.ToShortDateString()</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Tutorial.EndDate">End Date</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.EndDate.ToShortDateString()</span>
        </dd>
    </dl>
</div>

<hr />

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#students" data-toggle="tab" role="tab">
                Students
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#teachers" data-toggle="tab" role="tab">
                Teachers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#rolls" data-toggle="tab" role="tab">
                Rolls
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="students" class="tab-pane active">
            <h3>Student List</h3>
            
            @if (canEditTest.Succeeded)
            {
                <button class="btn btn-warning" data-toggle="modal" data-target="#studentEnrolmentModal">Add Student</button>
                <a asp-page="/Subject/GroupTutorials/Tutorials/AddStudents" asp-area="Staff" asp-route-id="@Model.Id" class="btn btn-success">Bulk Enrol</a>
            }

            <hr />

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Active To</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Tutorial.Students.OrderBy(student => student.Until))
                    {
                        <tr>
                            <td></td>
                            <td>@student.Name</td>
                            <td>@student.Grade</td>
                            <td>@(student.Until.HasValue ? student.Until.Value.ToShortDateString() : "Indefinitely")</td>
                            <td>
                                @if (canEditTest.Succeeded)
                                {
                                    <button data-enrolment-id="@student.Id" class="btn btn-sm btn-danger remove-student-button btn-show-hover">Remove</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="teachers" class="tab-pane">
            <h3>Teacher List</h3>

            @if (canEditTest.Succeeded)
            {
                <button class="btn btn-warning" data-toggle="modal" data-target="#teacherAssignmentModal">Add Teacher</button>
            }

            <hr />

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Active To</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model.Tutorial.Teachers.OrderBy(teacher => teacher.Until))
                    {
                        <tr>
                            <td></td>
                            <td>@teacher.Name</td>
                            <td>@(teacher.Until.HasValue ? teacher.Until.Value.ToShortDateString() : "Indefinitely")</td>
                            <td>
                                @if (canEditTest.Succeeded)
                                {
                                    <button data-teacher-id="@teacher.Id" class="btn btn-sm btn-danger remove-teacher-button btn-show-hover">Remove</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="rolls" class="tab-pane">
            <h3>Roll List</h3>

            @if (canSubmitTest.Succeeded)
            {
                <button class="btn btn-warning" data-toggle="modal" data-target="#rollCreateModal">Add Roll</button>
            }

            <hr />

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Students</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var roll in Model.Tutorial.Rolls.OrderByDescending(roll => roll.Date))
                    {
                        <tr>
                            <td></td>
                            <td data-order="@roll.Date.ToString("yyyy-MM-dd")">@roll.Date.ToLongDateString()</td>
                            <td>@(roll.Completed ? "Submitted" : "Unsubmitted")</td>
                            <td>@roll.PresentStudents / @roll.TotalStudents</td>
                            <td>
                                <a asp-page="/Subject/GroupTutorials/Tutorials/Roll" asp-area="Staff" asp-route-tutorialId="@Model.Id" asp-route-rollId="@roll.Id" asp-route-mode="View" class="btn btn-sm btn-secondary btn-show-hover">More Info...</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

<div class="modal fade" tabindex="-1" id="page-modal">
    <div class="modal-dialog">
        <div id="modal-content" class="modal-content">
        </div>
    </div>
</div>

<vc:tutorial-teacher-assignment />
<vc:tutorial-student-enrolment />
<vc:tutorial-roll-create />

@section scripts {
    <script>
        $('.remove-teacher-button').click(function (event) {
            var teacherId = $(this).data('teacherId');
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxRemoveTeacher",
                type: "POST",
                data: {
                    teacherId: teacherId,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });

        $('.remove-student-button').click(function (event) {
            var enrolmentId = $(this).data('enrolmentId');
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxRemoveStudent",
                type: "POST",
                data: {
                    enrolmentId: enrolmentId,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });
    </script>
}