@page "{id:Guid}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Subject.GroupTutorials.Tutorials.DetailsModel
@inject IAuthorizationService AuthorizationService

@{
    //TODO: R1.15: Confirmation dialogs can be loaded as partial views by AJAX instead of doing page reload every time

    var canEditTest = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanEditGroupTutorials);
    var canSubmitTest = await AuthorizationService.AuthorizeAsync(User, Model.Id, AuthPolicies.CanSubmitGroupTutorialRolls);
}

<h2>Group Tutorial Details</h2>

<div class="page-menu">
    @if (canEditTest.Succeeded)
    {
        <a asp-page="/Subject/GroupTutorials/Tutorials/Upsert" asp-area="Staff" asp-route-id="@Model.Tutorial.Id" class="btn btn-warning">Edit</a>
    }

    <a asp-page-handler="DownloadReport" class="btn btn-success">Report</a>
    
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Tutorial.Id"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.Id</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Tutorial.Name"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.Name</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Tutorial.StartDate">Start Date</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.StartDate.ToShortDateString()</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Tutorial.EndDate">End Date</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Tutorial.EndDate.ToShortDateString()</span>
        </dd>
    </dl>
</div>

<hr />

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#students" data-toggle="tab" role="tab">
                Students
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#teachers" data-toggle="tab" role="tab">
                Teachers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#rolls" data-toggle="tab" role="tab">
                Rolls
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="students" class="tab-pane active">
            <h3>Student List</h3>
            
            @if (canEditTest.Succeeded)
            {
                <button class="btn btn-warning" data-toggle="modal" data-target="#studentEnrolmentModal">Add Student</button>
            }

            <hr />

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Active To</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model.Tutorial.Students.OrderBy(student => student.Until))
                    {
                        <tr>
                            <td></td>
                            <td>@student.Name</td>
                            <td>@student.Grade</td>
                            <td>@(student.Until.HasValue ? student.Until.Value.ToShortDateString() : "Indefinitely")</td>
                            <td>
                                @if (canEditTest.Succeeded)
                                {
                                    <a asp-page-handler="RemoveStudent" asp-route-enrolmentId="@student.Id" class="btn btn-sm btn-danger btn-show-hover">Remove</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="teachers" class="tab-pane">
            <h3>Teacher List</h3>

            @if (canEditTest.Succeeded)
            {
                <button class="btn btn-warning" data-toggle="modal" data-target="#teacherAssignmentModal">Add Teacher</button>
            }

            <hr />

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Active To</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model.Tutorial.Teachers.OrderBy(teacher => teacher.Until))
                    {
                        <tr>
                            <td></td>
                            <td>@teacher.Name</td>
                            <td>@(teacher.Until.HasValue ? teacher.Until.Value.ToShortDateString() : "Indefinitely")</td>
                            <td>
                                @if (canEditTest.Succeeded)
                                {
                                    <a asp-page-handler="RemoveTeacher" asp-route-teacherId="@teacher.Id" class="btn btn-sm btn-danger btn-show-hover">Remove</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="rolls" class="tab-pane">
            <h3>Roll List</h3>

            @if (canSubmitTest.Succeeded)
            {
                <button class="btn btn-warning" data-toggle="modal" data-target="#rollCreateModal">Add Roll</button>
            }

            <hr />

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Students</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var roll in Model.Tutorial.Rolls.OrderByDescending(roll => roll.Date))
                    {
                        <tr>
                            <td></td>
                            <td data-order="@roll.Date.ToString("yyyy-MM-dd")">@roll.Date.ToLongDateString()</td>
                            <td>@(roll.Completed ? "Submitted" : "Unsubmitted")</td>
                            <td>@roll.PresentStudents / @roll.TotalStudents</td>
                            <td>
                                <a asp-page="/Subject/GroupTutorials/Tutorials/Roll" asp-area="Staff" asp-route-tutorialId="@Model.Id" asp-route-rollId="@roll.Id" asp-route-mode="View" class="btn btn-sm btn-secondary btn-show-hover">More Info...</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (Model.StudentRemoval is not null)
{
    <div class="modal fade show d-block" tabindex="-1" id="studentRemovalModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-page-handler="RemoveStudent" id="studentRemovalForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Tutorial Student Removal</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col">
                                <span class="control-label">Student</span>
                                <input asp-for="StudentRemoval.Id" type="hidden" />
                                @Model.StudentRemoval.Name
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <span class="control-label">Remove Immediately?</span>
                            </div>
                            <div class="form-group col-6">
                                <input asp-for="StudentRemoval.Immediate" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <span class="control-label">Or at specific date?</span>
                            </div>
                            <div class="form-group col-6">
                                <input asp-for="StudentRemoval.EffectiveOn" class="form-control" type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a asp-page="/Subject/GroupTutorials/Tutorials/Details" asp-area="Staff" asp-route-id="@Model.Id" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (Model.TeacherRemoval is not null)
{
    <div class="modal fade show d-block" tabindex="-1" id="teacherRemovalModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-page-handler="RemoveTeacher" id="teacherRemovalForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Tutorial Teacher Removal</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col">
                                <span class="control-label">Staff Member</span>
                                <input asp-for="TeacherRemoval.Id" type="hidden" />
                                @Model.TeacherRemoval.Name
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <span class="control-label">Remove Immediately?</span>
                            </div>
                            <div class="form-group col-6">
                                <input asp-for="TeacherRemoval.Immediate" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <span class="control-label">Or at specific date?</span>
                            </div>
                            <div class="form-group col-6">
                                <input asp-for="TeacherRemoval.EffectiveOn" class="form-control" type="date" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a asp-page="/Subject/GroupTutorials/Tutorials/Details" asp-area="Staff" asp-route-id="@Model.Id" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<vc:tutorial-teacher-assignment></vc:tutorial-teacher-assignment>

<vc:tutorial-student-enrolment></vc:tutorial-student-enrolment>

<vc:tutorial-roll-create></vc:tutorial-roll-create>

@section scripts {
    <script>
        $('#teacherAssignmentSubmitButton').click(function (e) {
            e.preventDefault();
            $('#teacherAssignmentModal').modal('hide');
            $('#teacherAssignmentForm').submit();
        });

        $('#studentEnrolmentSubmitButton').click(function (e) {
            e.preventDefault();
            $('#studentEnrolmentModal').modal('hide');
            $('#studentEnrolmentForm').submit();
        });

        $('#rollCreateSubmitButton').click(function (e) {
            e.preventDefault();
            $('#rollCreateModal').modal('hide');
            $('#rollCreateForm').submit();
        });
    </script>
}