@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Consent.Responses.UpsertModel

@using Constellation.Core.Models.ThirdPartyConsent.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Add Consent Response</h2>

<div class="page-menu">
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label asp-for="StudentId" class="col-md-2">Student</label>
            <div class="col-md-5">
                <select asp-for="StudentId" asp-items="@(new SelectList(Model.Students, "Key", "Value"))" class="form-control combo" style="width:100%">
                    <option value=""> -- Select Student -- </option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Submitter" class="col-md-2">Parent</label>
            <div class="col-md-8">
                <select asp-for="Submitter" class="form-control combo">
                    @if (Model.Parents.Any())
                    {
                        <option value=""> -- Select Parent -- </option>
                        @foreach (var parent in Model.Parents.Where(entry => entry.ParentId != null))
                        {
                            if (Model.Submitter == parent.ParentId)
                            {
                                <option value="@parent.ParentId.Value" selected="selected">@parent.Name</option>
                            }
                            else
                            {
                                <option value="@parent.ParentId.Value">@parent.Name</option>
                            }
                        }
                    }
                    else
                    {
                        <option value=""> -- Select Student First -- </option>
                    }
                </select>
                <span asp-validation-for="Submitter" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="Method" class="col-md-2">Method</label>
            <div class="col-md-8">
                <select asp-for="Method" class="form-control">
                    <option value="@ConsentMethod.Email.Value">@ConsentMethod.Email.Name</option>
                    <option value="@ConsentMethod.PhoneCall.Value">@ConsentMethod.PhoneCall.Name</option>
                </select>
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="Consents" class="col-md-2">Consent Responses</label>
        </div>
        
        <div id="consent-cards">
 
        </div>
        
        <div id="responses"></div>

        <div class="form-group row">
            <label asp-for="Notes" class="col-md-2">Notes</label>
            <div class="col-md-8">
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function() {
            $('#StudentId').on('select2:select', function (e) {
                var studentId = e.params.data.id;
                var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

                toggleLoader();

                $('#Submitter')
                    .empty()
                    .append($('<option/>', {
                        value: null,
                        text: " -- Select Parent -- "
                    }));

                $.when(
                    $.ajax({
                        url: "?handler=AjaxGetParents",
                        type: "POST",
                        data: {
                            studentId: studentId,
                            __RequestVerificationToken: xsrfHeader
                        }
                    }).done(function (contacts) {
                        if (contacts != null && !jQuery.isEmptyObject(contacts)) {
                            console.log(contacts);
                        
                            $.each(contacts, function (index, contact) {
                                if (!jQuery.isEmptyObject(contact.parentId))
                                {
                                    $('#Submitter').append($('<option/>', {
                                        value: contact.parentId.value,
                                        text: contact.name
                                    }));
                                }
                            });

                            $('#Submitter')
                                .select2({ theme: 'bootstrap' });
                        }
                    }),

                    $.ajax({
                        url: "?handler=AjaxGetRequiredApplications",
                        type: "POST",
                        data: {
                            studentId: studentId,
                            __RequestVerificationToken: xsrfHeader
                        }
                    }).done(function (applications) {
                        $('#consent-cards').html(applications);
                    })
                )
                .then(function() {
                    toggleLoader();
                });
            });
        });

        function toggleApp(appId, action) {
            if (action == 'approve'){
                var appName = $('.btn-outline-success[data-application-id=' + appId + ']').data('appName');

                $('.btn-danger[data-application-id=' + appId + ']')
                    .removeClass('btn-danger')
                    .addClass('btn-outline-danger');

                $('.btn-outline-success[data-application-id=' + appId + ']')
                    .removeClass('btn-outline-success')
                    .addClass('btn-success');

                var existingInput = $('#' + appId);

                if (existingInput.length) {
                    existingInput.prop('value', 'true');
                }
                else {
                    var input = '<input type="hidden" class="form-control" name="consents[' + appId + ']" id="' + appId + '" value="true">';
                    $('#responses').append(input);
                }
            }

            if (action == 'reject') {
                var appName = $('.btn-outline-danger[data-application-id=' + appId + ']').data('appName');

                $('.btn-outline-danger[data-application-id=' + appId + ']')
                    .removeClass('btn-outline-danger')
                    .addClass('btn-danger');

                $('.btn-success[data-application-id=' + appId + ']')
                    .removeClass('btn-success')
                    .addClass('btn-outline-success');

                var existingInput = $('#' + appId);

                if (existingInput.length) {
                    existingInput.prop('value', 'false');
                }
                else {
                    var input = '<input type="hidden" class="form-control" name="consents[' + appId + ']" id="' + appId + '" value="false">';
                    $('#responses').append(input);
                }
            }
        }
    </script>
}