@model string

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
            <span class="w-100">Assets</span>
        </h4>
        <ul class="nav flex-column mx-2">
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Assets_Assets ? "active" : "")" asp-page="/Equipment/Assets/Index" asp-area="Staff">
                    Assets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Assets_Allocations ? "active" : "")" asp-page="/Equipment/Allocations/Index" asp-area="Staff">
                    Allocations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Assets_Locations ? "active" : "")" asp-page="/Equipment/Locations/Index" asp-area="Staff">
                    Locations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Assets_Reports ? "active" : "")" asp-page="/Equipment/Reports/Index" asp-area="Staff">
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Devices_Devices ? "active" : "")" asp-page="/Equipment/Devices/Index" asp-area="Staff">
                    Archive Data
                </a>
            </li>
        </ul>
        
        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
            <span class="w-100">Stocktake</span>
        </h4>
        <ul class="nav flex-column mx-2">
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Stocktake_Dashboard ? "active" : "")" asp-page="/Equipment/Stocktake/Dashboard" asp-area="Staff">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Model == ActivePage.Equipment_Stocktake_List ? "active" : "")" asp-page="/Equipment/Stocktake/Index" asp-area="Staff">
                    Events
                </a>
            </li>
        </ul>
    </div>
</nav>