@model Casual_UpdateViewModel

<h2>@(Model.IsNew ? "New Casual" : "Edit Casual")</h2>

<div class="row">
    <a asp-action="Index" asp-controller="Casuals" asp-area="ShortTerm" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<form asp-action="Update" asp-controller="Casuals" asp-area="ShortTerm" method="post">
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Casual.Id)
        @Html.HiddenFor(model => model.IsNew)

        <div class="form-group row">
            <label asp-for="Casual.FirstName" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Casual.FirstName" class="form-control" />
                <span asp-validation-for="Casual.FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Casual.LastName" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Casual.LastName" class="form-control" />
                <span asp-validation-for="Casual.LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Casual.PortalUsername" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Casual.PortalUsername" class="form-control" />
                <span asp-validation-for="Casual.PortalUsername" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row" id="acpid-group">
            <label asp-for="Casual.AdobeConnectPrincipalId" class="col-md-2"></label>
            <div class="col-md-3">
                <input asp-for="Casual.AdobeConnectPrincipalId" class="form-control" />
                <span asp-validation-for="Casual.AdobeConnectPrincipalId" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <button id="getPID" type="button" class="btn btn-secondary">Search Adobe Connect</button>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Casual.SchoolCode" class="col-md-2"></label>
            <div class="col-md-3">
                <select asp-for="Casual.SchoolCode" asp-items="Model.SchoolList" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="Casual.SchoolCode" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#getPID')
            .on('click',
                function(event) {
                    var url = "@Url.Action("_getUserACPID", "AdobeConnect", new {area = "Admin"})";
                    $('span[id="warningIcon"]').remove();
                    $('span[id="helpBlock"]').remove();
                    $('#acpid-group').removeClass("has-warning").removeClass("has-feedback");
                    $.ajax({
                        dataType: "json",
                        url: url,
                        data: { username: $('#Casual_PortalUsername').val() },
                        success: function(data) {
                            var response = JSON.parse(data);
                            $('#Casual_AdobeConnectPrincipalId').val(response);
                            $('span[id="warningIcon"]').remove();
                            $('span[id="helpBlock"]').remove();
                            $('#acpid-group').removeClass("has-warning").removeClass("has-feedback");
                        },
                        error: function() {
                            var newContent = $('' +
                                '<span id="warningIcon" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>' +
                                '<span id="helpBlock" class="form-text">This user has not logged into the Adobe Connect server yet. No automatic process will be able to provide this user with access to rooms.</span>');
                            $('#acpid-group').addClass("has-warning").addClass("has-feedback");
                            $('#Casual_AdobeConnectPrincipalId')
                                .parent()
                                .append(newContent);
                        }
                    });
                });
    </script>
}