@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Workflows.IndexModel

@using Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Workflows

@{
}

<h2>WorkFlow Cases</h2>

<div class="page-menu">
    @{
        var all_style = "btn-outline-secondary";
        var open_style = all_style;
        var overdue_style = all_style;
        var closed_style = all_style;

        switch (Model.Filter)
        {
            case IndexModel.FilterEnum.All:
                all_style = "btn-primary";
                break;
            case IndexModel.FilterEnum.Open:
                open_style = "btn-primary";
                break;
            case IndexModel.FilterEnum.Overdue:
                overdue_style = "btn-primary";
                break;
            case IndexModel.FilterEnum.Closed:
                closed_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-route-filter="@IndexModel.FilterEnum.All" class="btn @all_style">All</a>
        <a asp-route-filter="@IndexModel.FilterEnum.Open" class="btn @open_style">Open</a>
        <a asp-route-filter="@IndexModel.FilterEnum.Overdue" class="btn @overdue_style">Overdue</a>
        <a asp-route-filter="@IndexModel.FilterEnum.Closed" class="btn @closed_style">Closed</a>
    </div>
</div>

<hr />

<table class="table-striped data-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Created</th>
            <th>Due Date</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Cases)
        {
            <tr>
                <td data-order="@entry.Subject.SortOrder">@entry.Subject.DisplayName</td>
                <td>@entry.Description</td>
                <td>@entry.Status</td>
                <td data-order="@entry.CreatedAt.ToString("yyyy-MM-dd HH:mm")">@entry.CreatedAt.ToString("dd/MM/yyyy")</td>
                <td data-order="@entry.DueDate.ToString("yyyy-MM-dd")">@entry.DueDate.ToString("dd/MM/yyyy")</td>
                <td data-order="@entry.OutstandingActions">@entry.OutstandingActions / @entry.TotalActions</td>
                <td>
                    <a asp-page="/SchoolAdmin/WorkFlows/Details" asp-area="Staff" asp-route-id="@entry.CaseId.Value" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>