@page
@model IndexModel

@using Constellation.Application.MandatoryTraining.Models;
@using Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Training.Completion
@inject IAuthorizationService AuthorizationService

@{
    var isEditorTest = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanEditTrainingModuleContent);
    var canRunReportsTest = await AuthorizationService.AuthorizeAsync(User, AuthPolicies.CanRunTrainingModuleReports);
}

<h2>Mandatory Training Completion Records</h2>

<div>
    @{
        var all_style = "btn-outline-secondary";
        var current_style = all_style;
        var expiring_style = all_style;

        switch (Model.Filter)
        {
            case IndexModel.FilterDto.All:
                all_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Current:
                current_style = "btn-primary";
                break;
            case IndexModel.FilterDto.Expiring:
                expiring_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.All" class="btn @all_style">All</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Current" class="btn @current_style">Current</a>
        <a asp-page="Index" asp-route-filter="@IndexModel.FilterDto.Expiring" class="btn @expiring_style">Expiring Soon</a>
    </div>

    @if (canRunReportsTest.Succeeded)
    {
        <button class="btn btn-warning" data-toggle="modal" data-target="#staffReport">Staff Report</button>
    }

    @if (isEditorTest.Succeeded)
    {
        <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                Create
            </button>
            <div class="dropdown-menu">
                <a asp-page="Upsert" class="dropdown-item" asp-route-Mode="@UpsertModel.ModeOptions.FULL">Create New</a>
                <a asp-page="Upload" class="dropdown-item">Bulk Upload</a>
            </div>
        </div>
    } 
    else
    {
        <a asp-page="Upsert" class="btn btn-warning" asp-route-Mode="@UpsertModel.ModeOptions.SOLOSTAFF">Create New</a>
    }

    <button class="btn btn-secondary" data-toggle="modal" data-target="#legend">View Legend</button>
</div>

<partial name="_StatusIconModalPartial" />

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Staff Member</th>
            <th>Module</th>
            <th>Date Completed</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.CompletionRecords)
    {
        <tr>
            <td>
                @{
                    if (item.Status == CompletionRecordDto.ExpiryStatus.Active)
                    {
                        if (item.ExpiryCountdown > 31)
                        {
                            <img src="/images/GreenLight.png" class="training status-icon" title="@item.ExpiryCountdown Days Remaining" />
                        }
                        else if (item.ExpiryCountdown > 15)
                        {
                            <img src="/images/YellowLight.png" class="training status-icon" title="@item.ExpiryCountdown Days Remaining" />
                        }
                        else if (item.ExpiryCountdown > 1)
                        {
                            <img src="/images/RedLight.png" class="training status-icon" title="@item.ExpiryCountdown Days Remaining" />
                        }
                        else
                        {
                            <img src="/images/RedLight.png" class="training status-icon blink" title="@item.ExpiryCountdown Days Remaining" />
                        }
                    }
                }
            </td>
            <td>@item.StaffFirstName @item.StaffLastName</td>
            <td>@item.ModuleName</td>
            <td>
                @{
                    if (item.NotRequired)
                    {
                        @:N/A
                    }
                    else
                    {
                        @item.CompletedDate.Value.ToString("dd/MM/yyyy")
                    }
                }
            </td>
            <td>
                @{
                    var canViewDetailsTest = await AuthorizationService.AuthorizeAsync(User, item.Id, AuthPolicies.CanViewTrainingCompletionRecord);

                    if (canViewDetailsTest.Succeeded)
                    {
                            <a asp-page="Details" asp-route-moduleId="@item.ModuleId.Value" asp-route-completionId="@item.Id.Value" class="btn btn-sm btn-secondary btn-show-hover">More Details...</a>
                    }
                }
            </td>
        </tr>
    }
</table>

<vc:staff-training-report></vc:staff-training-report>

@section scripts {
    <script>
        $('#staffReportSubmitButton').click(function (e) {
            e.preventDefault();
            $('#staffReport').modal('hide');
            $('#staffReportForm').submit();
        });
    </script>
}