@page
@using Constellation.Core.Extensions
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>Test Page</h2>


@foreach (var plan in Model.Plans)
{
    <h3>@plan.Student.DisplayName</h3>
    <h4>@plan.Grade.AsName()</h4>
    <div class="row">
        @{
            var groupedPercentages = Model.Percentages.Where(entry => entry.PlanId == plan.Id).GroupBy(entry => entry.Course);
        }

        @foreach (var group in groupedPercentages)
        {
            <div class="col-4 mt-3">
                <span>@group.Key</span>

                @foreach (var item in group.OrderBy(entry => entry.Class))
                {
                    var selected = plan.Periods.Any(period => period.OfferingId == item.OfferingId);

                    <div class="row @(selected ? "font-weight-bold" : "")">
                        <div class="col-4">@item.Class</div>
                        <div class="col-4">@item.MinutesPresent</div>
                        <div class="col-4">@item.Percentage.ToString("P2")</div>
                    </div>
                }
            </div>
        }
    </div>

    @if (plan.SciencePracLesson is not null)
    {
        <div class="row">
            <div class="col-12">
                <h4>Science Prac Lesson</h4>
            </div>
            <div class="col-12">
                @plan.SciencePracLesson.Week.Name @plan.SciencePracLesson.Day.Name @plan.SciencePracLesson.Period
            </div>
        </div>
    }

    @if (plan.MissedLessons.Count > 0)
    {
        <div class="row">
            <div class="col-12">
                <h4>Missed Lessons</h4>
            </div>
            <div class="col-3">Subject Missed</div>
            <div class="col-3">Minutes timetabled per Cycle</div>
            <div class="col-3">Minutes missed per Cycle</div>
            <div class="col-3">Percentage missed</div>
            @foreach (var lesson in plan.MissedLessons)
            {
                <div class="col-3">
                    @lesson.Subject
                </div>
                <div class="col-3">
                    @lesson.TotalMinutesPerCycle
                </div>
                <div class="col-3">
                    @lesson.MinutesMissedPerCycle
                </div>
                <div class="col-3">
                    @lesson.PercentMissed.ToString("P")
                </div>
            }
        </div>
    }

    @if (plan.FreePeriods.Count > 0)
    {
        <div class="row">
            <div class="col-12">
                <h4>Free Periods</h4>
            </div>
            <div class="col-4">Period</div>
            <div class="col-4">Length (minutes)</div>
            <div class="col-4">Activity</div>
            @foreach (var period in plan.FreePeriods)
            {
                <div class="col-4">
                    @period.Week.Name @period.Day.Name @period.Period
                </div>
                <div class="col-4">
                    @period.Minutes
                </div>
                <div class="col-4">
                    @period.Activity
                </div>
            }
        </div>
    }

    <hr class="mb-3" />
}
