@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<h2>Test Page</h2>

@* <table class="table table-bordered table-striped">
    @foreach (var date in Model.AbsenceDates)
    {
        <tr>
            <td>@date.ToString("yyyy-MM-dd")</td>
            <td>
                @foreach (var absence in Model.PageAbsences.Where(entry => entry.Date == date))
                {
                    <span>@absence.WholeDay - @absence.Timeframe - @absence.Reason</span><br />
                }
            </td>
            <td>
                @foreach (var absence in Model.ExportAbsences.Where(entry => entry.Date == date))
                {
                    <span>@absence.WholeDay - @absence.Timeframe - @absence.Reason</span><br />
                }
            </td>
        </tr>
    }
</table> *@