@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

<a asp-page-handler="FamilyUpdate">Update Families</a>

<form asp-page-handler="CheckFile" enctype="multipart/form-data">
    <input asp-for="FormFile" type="file" />
    <input asp-for="EmailReport" />
    <button type="submit">Check Consistency</button>
</form>

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>File</th>
            <th>Index</th>
            <th>Column</th>
            <th>Current Value</th>
            <th>New Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UpdateItems)
        {
            <tr>
                <td>@item.Source</td>
                <td>@item.Line</td>
                <td>@item.Column</td>
                <td>@item.CurrentValue</td>
                <td>@item.NewValue</td>
            </tr>
        }
    </tbody>
</table>
