@page
@using Constellation.Application.DTOs.Canvas
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

@inject EndpointDataSource EndpointsDataSource

<h2>Test Page</h2>

<div>
    <a asp-page-handler="GetAssignment" class="btn btn-primary">Get Assignment</a>
</div>

<hr />

@if (Model.Rubric is not null)
{
    <table class="table data-table">
        <thead>
        <tr>
            <th>Student</th>
            @foreach (var entry in Model.Rubric.Criteria)
            {
                <th>
                    @entry.CriterionId <br />
                    @entry.Name <br />
                    @entry.Description <br />
                    @entry.MaxPoints
                </th>
            }
            <th>Total Mark</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in Model.Enrolments.Where(entry => entry.Role == CourseEnrolmentEntry.EnrolmentRole.Student))
        {
            var submission = Model.Submissions.FirstOrDefault(entry => entry.UserId == student.CanvasUserId);
            double score = 0f;

            <tr>
                <td>@student.UserId</td>
                @foreach (var entry in Model.Rubric.Criteria)
                {
                    var mark = submission?.Marks.FirstOrDefault(mark => mark.CriterionId == entry.CriterionId);
                    var rating = mark is not null ? entry.Ratings.FirstOrDefault(rating => rating.RatingId == mark.RatingId) : null;

                    if (submission is null || mark is null || rating is null)
                    {
                        <td></td>
                    }
                    else
                    {
                        score += mark.Points ?? 0f;

                        <td>
                            @rating.Name <br />
                            @rating.Description <br />
                            @rating.Points
                        </td>
                    }
                }
                <td>@score</td>
            </tr>
        }
        </tbody>
    </table>
}
