@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Partner.Students.Reports.ClassAuditModel

@using Constellation.Application.Domains.Students.Queries.GetCurrentStudentsWithCurrentOfferings
@using Constellation.Core.Extensions

<h2>Current Enrolments by Student</h2>

<div class="page-menu">
    <a asp-page="/Partner/Students/Reports/Index" asp-area="Staff" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<table class="table-striped table-hover data-table-no-sort">
    <thead>
        <tr>
            <th>SRN</th>
            <th>Name</th>
            <th>Grade</th>
            <th>School</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@item.StudentReferenceNumber</td>
                <td data-order="@item.Name.SortOrder">@item.Name.DisplayName</td>
                <td data-order="@item.Grade?.AsNumber()">
                    @if (!item.CurrentEnrolment)
                    {
                        <span class="font-weight-light font-italic"><grade grade="@item.Grade" /></span>
                    }
                    else
                    {
                        <grade grade="@item.Grade" />
                    }
                </td>
                <td>
                    @if (!item.CurrentEnrolment)
                    {
                        <span class="font-weight-light font-italic">@item.SchoolName</span>
                    }
                    else
                    {
                        @item.SchoolName
                    }
                </td>
                <td>
                    @foreach (var course in item.Offerings.OrderBy(offering => offering.Name))
                    {
                        if (course is StudentWithOfferingsResponse.OfferingEnrolmentResponse enrolmentResponse)
                        {
                            if (course.Current)
                            {
                                (string group, string line) details = course.Name.ExtractLine();

                                <a asp-page="/Subject/Offerings/Details" asp-area="Staff" asp-route-id="@enrolmentResponse.OfferingId" class="badge @details.group-@details.line">@course.Name</a>
                            }
                            else
                            {
                                <a asp-page="/Subject/Offerings/Details" asp-area="Staff" asp-route-id="@enrolmentResponse.OfferingId" class="badge badge-secondary">@course.Name</a>
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-page="/Partner/Students/Details" asp-area="Staff" asp-route-id="@item.StudentId" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>