@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Partner.Students.Reports.WithoutSentralIdModel

@using Constellation.Core.Extensions

@{
    Layout = "/Areas/Staff/Pages/Shared/_StaffLayout.bs5.cshtml";
}

<h2>Students without Sentral Id</h2>

<div class="page-menu">
    <a asp-page-handler="UpdateSentralIds" class="btn btn-warning">Bulk Update</a>
    
    <a asp-page="/Partner/Students/Reports/Index" asp-area="Staff" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<table class="table table-striped table-hover data-table">
    <thead>
    <tr>
        <th>SRN</th>
        <th>Name</th>
        <th>Grade</th>
        <th>School</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>@item.StudentReferenceNumber</td>
            <td data-order="@item.Name.SortOrder">@item.Name.DisplayName</td>
            <td data-order="@item.Grade?.AsNumber()">
                @if (!item.CurrentEnrolment)
                {
                    <span class="font-weight-light font-italic"><grade grade="@item.Grade" /></span>
                }
                else
                {
                    <grade grade="@item.Grade" />
                }
            </td>
            <td>
                @if (!item.CurrentEnrolment)
                {
                    <span class="font-weight-light font-italic">@item.School</span>
                }
                else
                {
                    @item.School
                }
            </td>
            <td>
                <a asp-page="/Partner/Students/Details" asp-area="Staff" asp-route-id="@item.StudentId" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
            </td>
        </tr>
    }
    </tbody>
</table>
                
@section Scripts
{
    <script>
        $(document).ready(function (){
            $('table').DataTable({
                "order":[]
        }));
    </script>
}
