@model StaffStocktakeSightingViewModel

@using Constellation.Core.Models.Stocktake
@using Constellation.Presentation.Server.Areas.Equipment.Models.Stocktake

<h2>Stocktake Device Sighting</h2>

<form asp-action="Submit" asp-controller="Stocktake" asp-area="Equipment" method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StocktakeEventId)

        <div class="form-group row">
            <div class="col-md-8 alert alert-warning">
                Please note that the following are not included in the stocktake and do not need to be entered:
                <ul>
                    <li>Device accessories, such as chargers or pens</li>
                    <li>Keyboards and mice</li>
                    <li>Headsets and webcams</li>
                    <li>Laptop docks</li>
                </ul>
                If you are unsure, please contact the Technology Support Team on <strong>1300 610 733</strong> or at <strong>support@aurora.nsw.edu.au</strong> first.
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">Asset Number</label>
            <div class="col-md-3">
                <input asp-for="AssetNumber" class="form-control" placeholder="e.g. AC00000000" />
                <span asp-validation-for="AssetNumber" class="text-danger"></span>
            </div>
            <div class="col-md-5 alert alert-warning">
                The Aurora College asset number is on a white label with a black barcode. Asset numbers start with AC and contain eight digits. You only need to enter the digits, without the leading zeroes. E.g. AC00001234 becomes 1234.
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">Serial Number</label>
            <div class="col-md-3">
                <input asp-for="SerialNumber" class="form-control" placeholder="e.g. LT01F123" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="col-md-5 alert alert-warning">
                The vendor serial number for the equipment. This can be in a range of locations, depending on the vendor. Student laptop serial numbers are usually on a sticker on the bottom of the device.
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">Device Description</label>
            <div class="col-md-3">
                <input asp-for="Description" class="form-control" placeholder="e.g. Lenovo Laptop" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-5 alert alert-warning">
                A description or the type of the device. E.g. "Lenovo Laptop", or "HP Monitor", etc.
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5">
                <div class="form-group row">
                    <label class="col-md-5">User Type</label>
                    <div class="col-md-7 pl-1">
                        <select asp-for="UserType" onchange="UpdateUserType()" class="form-control" id="UserType">
                            <option value="">-- Select --</option>
                            <option value="@StocktakeSighting.UserTypes.Student">@StocktakeSighting.UserTypes.Student</option>
                            <option value="@StocktakeSighting.UserTypes.Staff">@StocktakeSighting.UserTypes.Staff</option>
                            <option value="@StocktakeSighting.UserTypes.School">@StocktakeSighting.UserTypes.School</option>
                            <option value="@StocktakeSighting.UserTypes.CommunityMember">@StocktakeSighting.UserTypes.CommunityMember</option>
                            <option value="@StocktakeSighting.UserTypes.Other">@StocktakeSighting.UserTypes.Other</option>
                        </select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="w-100"></div>
                    <label class="col-md-5 mt-3">User</label>
                    <div class="col-md-7 mt-3 pl-1">
                        @Html.HiddenFor(model => model.UserCode)
                        <div id="UserTypeStudent">
                            <select id="Student_UserCode" onchange="UpdateStudent()" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (var student in Model.Students.OrderBy(student => student.CurrentGrade).ThenBy(student => student.LastName))
                                {
                                    <option value="@student.StudentId">@student.DisplayName (@student.CurrentGrade)</option>
                                }
                            </select>
                            <span asp-validation-for="UserCode" class="text-danger"></span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div id="UserTypeStaff">
                            <select id="Staff_UserCode" onchange="UpdateStaff()" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (var staff in Model.Staff.OrderBy(staff => staff.LastName))
                                {
                                    <option value="@staff.StaffId">@staff.DisplayName</option>
                                }
                            </select>
                            <span asp-validation-for="UserCode" class="text-danger"></span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div id="UserTypeSchool">
                            <select id="School_UserCode" onchange="UpdateSchool()" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (var school in Model.Schools)
                                {
                                    <option value="@school.Code">@school.Name</option>
                                }
                            </select>
                            <span asp-validation-for="UserCode" class="text-danger"></span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div id="UserTypeOther">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 alert alert-warning">
                Select the type of user (Student, Aurora College Staff Member, School, Community Member, or Other), and then the relevant user.
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-md-2">Location Type</label>
            <div class="col-md-3">
                <select asp-for="LocationCategory" onchange="UpdateLocationType()" class="form-control" id="LocationType">
                    <option value="">-- Select --</option>
                    <option value="@StocktakeSighting.LocationCategories.AuroraCollege">@StocktakeSighting.LocationCategories.AuroraCollege</option>
                    <option value="@StocktakeSighting.LocationCategories.PublicSchool">@StocktakeSighting.LocationCategories.PublicSchool</option>
                    <option value="@StocktakeSighting.LocationCategories.StateOffice">@StocktakeSighting.LocationCategories.StateOffice</option>
                    <option value="@StocktakeSighting.LocationCategories.PrivateResidence">@StocktakeSighting.LocationCategories.PrivateResidence</option>
                    <option value="@StocktakeSighting.LocationCategories.Other">@StocktakeSighting.LocationCategories.Other</option>
                </select>
                <span asp-validation-for="LocationCategory" class="text-danger"></span>
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="col-md-5 alert alert-warning">
                Select the type of location (Aurora College Coordinating Office, Partner School, State Office, Private Residence, or Other).
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">Location</label>
            <div class="col-md-3">
                @Html.HiddenFor(model => model.LocationCode)
                <div id="LocationTypeSchool">
                    <select id="School_LocationCode" onchange="UpdateSchoolLocation()" class="form-control">
                        <option value="">-- Select --</option>
                        @foreach (var school in Model.Schools)
                        {
                            <option value="@school.Code">@school.Name</option>
                        }
                    </select>
                    <span asp-validation-for="LocationCode" class="text-danger"></span>
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>
                <div id="LocationTypeOther">
                    <input asp-for="LocationName" class="form-control" />
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5 alert alert-warning" id="LocationHelpText"></div>
        </div>

        <div class="form-group row">
            <label class="col-md-2">Comment</label>
            <div class="col-md-3">
                <input asp-for="Comment" rows="5" cols="100" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="col-md-5 alert alert-warning">
                Any notes you have about the condition of the device. E.g. "Has a cracked screen", or "Missing pen", etc.
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-1 col-md-3">
                <input type="submit" value="Save" class="btn btn-success btn-block btn-lg" />
            </div>
            <div class="col-md-2 ml-3">
                <button type="button" class="btn btn-danger btn-block btn-lg" onclick="window.history.back();">Cancel</button>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function() {
            UpdateUserType();
            UpdateLocationType();
        })

        function UpdateUserType() {
            // Get current value of the UserType field
            var userType = $('select#UserType>option:selected');

            // Hide all UserName options
            $('#UserTypeStudent').hide();
            $('#UserTypeStaff').hide();
            $('#UserTypeSchool').hide();
            $('#UserTypeOther').hide();

            // Reset all UserName options to blank
            $('#Command_UserCode').val('');
            $('#Student_UserCode').val('');
            $('#Staff_UserCode').val('');
            $('#School_UserCode').val('');
            $('#Command_UserName').val('');

            // Show appropriate UserName option based on UserType value
            if (userType.val() === "@StocktakeSighting.UserTypes.Student") {
                $('#UserTypeStudent').show();
            } else if (userType.val() === "@StocktakeSighting.UserTypes.Staff") {
                $('#UserTypeStaff').show();
            } else if (userType.val() === "@StocktakeSighting.UserTypes.School") {
                $('#UserTypeSchool').show();
            } else if (userType.val() === "@StocktakeSighting.UserTypes.CommunityMember" || 
                    userType.val() === "@StocktakeSighting.UserTypes.Other") {
                $('#UserTypeOther').show();
            }
        }

        function UpdateStudent() {
            // Get current value of select
            var studentId = $('#Student_UserCode').val();
            var studentName = $('#Student_UserCode option:selected').text();

            // Set the UserCode field to that value
            $('#UserCode').val(studentId);
            $('#UserName').val(studentName);
        }

        function UpdateStaff() {
            // Get current value of select
            var staffId = $('#Staff_UserCode').val();
            var staffName = $('#Staff_UserCode option:selected').text();

            // Set the UserCode field to that value
            $('#UserCode').val(staffId);
            $('#UserName').val(staffName);
        }

        function UpdateSchool() {
            // Get current value of select
            var schoolId = $('#School_UserCode').val();
            var schoolName = $('#School_UserCode option:selected').text();

            // Set the UserCode field to that value
            $('#Command_UserCode').val(schoolId);
            $('#Command_UserName').val(schoolName);
        }

        function UpdateLocationType() {
            // Get current value of the UserType field
            var locationType = $('select#LocationType>option:selected');

            // Hide all Location options
            $('#LocationTypeSchool').hide();
            $('#LocationTypeOther').hide();

            // Reset all Location options to blank
            $('#LocationCode').val('');
            $('#School_LocationCode').val('');
            $('#LocationName').val('');
            $('#LocationHelpText').html('');

            // Show appropriate UserName option based on UserType value
            if (locationType.val() === "@StocktakeSighting.LocationCategories.AuroraCollege") {
                $('#LocationTypeOther').show();
                $('#LocationHelpText').html('Enter the closest description for where this device usually is located. E.g. "Studio 10", or "Level 4", or "Conference Room".')
            } else if (locationType.val() === "@StocktakeSighting.LocationCategories.PublicSchool") {
                $('#LocationTypeSchool').show();
                $('#LocationHelpText').html('Select which partner school the device is located at.')
            } else if (locationType.val() === "@StocktakeSighting.LocationCategories.StateOffice") {
                $('#LocationTypeOther').show();
                $('#LocationHelpText').html('Enter the name of the State Office you are located at.')
            } else if (locationType.val() === "@StocktakeSighting.LocationCategories.PrivateResidence") {
                $('#LocationTypeOther').show();
                $('#LocationHelpText').html('Enter the address of the private residence where the device is based.')
            } else if (locationType.val() === "@StocktakeSighting.UserTypes.Other") {
                $('#LocationTypeOther').show();
                $('#LocationHelpText').html('Enter the best description for where this device usually is located.')
            }
        }

        function UpdateSchoolLocation() {
            // Get current value of select
            var schoolId = $('#School_LocationCode').val();
            var schoolName = $('#School_LocationCode option:selected').text();

            // Set the UserCode field to that value
            $('#LocationCode').val(schoolId);
            $('#LocationName').val(schoolName);
        }
    </script>
}