@page "{Id:Guid}"
@using Constellation.Application.Models.Identity
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.MandatoryTraining.DetailsModel

@{
    var authorised = (User.IsInRole(AuthRoles.Editor) || User.IsInRole(AuthRoles.Admin) || User.IsInRole(AuthRoles.MandatoryTrainingEditor));

    var completionsGroupedByYear = Model.Module.Completions
        .GroupBy(record => record.CompletedDate.Year)
        .OrderByDescending(group => group.Key);

    var firstIteration = true;
}

<h2>Training Module Details</h2>

@if (authorised)
{
        <div>
            <a asp-page="Upsert" asp-route-id="@Model.Module.Id" class="btn btn-warning">Edit</a>
            <a asp-page-handler="DownloadReport" class="btn btn-info">Download Report</a>
            @if (Model.Module.IsActive)
            {
                <a asp-page-handler="RetireModule" class="btn btn-danger">Retire Module</a>
            } else 
            {
                <a asp-page-handler="ReinstateModule" class="btn btn-danger">Reinstate Module</a>
            }
            <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
        </div>
}
else
{
        <div class="row">
            <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right-solo">Go Back</a>
        </div>
}

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Module.Id"></label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Module.Id</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Module.Name">Module</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Module.Name</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Module.Expiry">Expiry Frequency</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Module.Expiry</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Module.Url">Link</label>
        </dt>
        <dd class="col-md-10">
            <span><a href="@Model.Module.Url" target="_blank">@Model.Module.Url</a></span>
        </dd>
    </dl>
</div>

<hr />

<div>
    <ul class="nav nav-pills" data-tabs="tabs">
        @foreach (var year in completionsGroupedByYear)
        {
            <li class="nav-item">
                <a class="nav-link active" href="#@year.Key" data-toggle="tab">
                    @year.Key
                </a>
            </li>
        }
    </ul>

    <div class="tab-content">
        @foreach (var year in completionsGroupedByYear) 
        {
            <div id="@year.Key" class="tab-pane @(firstIteration ? "active" : "")">
                <h3>Records from @year.Key</h3>

                <table class="table-striped table-hover data-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Faculty</th>
                            <th>Completed Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in year.OrderBy(record => record.StaffLastName))
                        {
                            <tr>
                                <td></td>
                                <td>@item.StaffFirstName @item.StaffLastName</td>
                                <td>@item.StaffFaculty</td>
                                <td>@item.CompletedDate.ToString("dd/MM/yyyy")</td>
                                <td>
                                    Link to Completion Details
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>