@using Constellation.Core.Models.Timetables.Enums
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.StaffSidebarMenu.DashboardModel

<nav id="accordion" class="d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <h4 class="sidebar-heading d-flex justify-content-between align-items-center mb-1 text-muted" data-toggle="collapse" data-target="#links" role="button">
            <span class="w-100">Quick Links</span>
        </h4>
        <ul id="links" class="collapse show nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-page="/SchoolAdmin/Training/Staff/Index" asp-route-staffId="@Model.StaffId" asp-area="Staff">
                    Mandatory Training 
                    @if (Model.ExpiringTraining > 0)
                    {
                        <span class="badge badge-danger ml-1">@Model.ExpiringTraining</span><span class="sr-only">training certificates expiring soon</span>
                    }
                </a>
            </li>

            @foreach (var entry in Model.Classes.OrderBy(entry => entry.Key))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Staff" asp-page="/Subject/Offerings/Details" asp-route-id="@entry.Value">
                        @entry.Key
                    </a>
                </li>
            }
        </ul>

        <hr />

        <h4 class="sidebar-heading d-flex justify-content-between align-items-center my-3 mb-1 text-muted" data-toggle="collapse" data-target="#timetable" role="button">
            <span class="w-100 text-center">Today's Timetable</span>
        </h4>
        
        <div id="timetable" class="collapse show">
            <div class="text-center">
                <a asp-page="/Subject/Periods/Timetables/Staff" asp-area="Staff" asp-route-id="@Model.StaffId" class="btn btn-sm btn-warning my-2">View Complete Timetable</a>
            </div>
            
            @if (Model.Day != PeriodDay.Unknown && Model.Week != PeriodWeek.Unknown)
            {
                <h5 class="sidebar-heading d-flex justify-content-between align-items-center mb-1 text-muted" role="button">
                    <span class="w-100 text-center">@Model.Day @Model.Week</span>
                </h5>
            }

            <div class="flex-column mx-2">
                @if (Model.Periods.Count == 0)
                {
                    <div class="mx-2 my-3">
                        <div class="w-100 text-muted text-center">No classes or covers</div>
                    </div>
                }

                @foreach (var period in Model.Periods.OrderBy(period => period.StartTime))
                {
                    <div class="px-1 my-1 py-2 border rounded bg-white">
                        <div class="w-100 font-weight-bold">@period.ActivityName @(period.IsCover ? "(Cover)" : "")</div>
                        <div class="w-100">@period.PeriodName : @period.StartTime - @period.EndTime</div>
                        
                        @if (!string.IsNullOrWhiteSpace(period.TeamName) && !string.IsNullOrWhiteSpace(period.TeamLink))
                        {
                            <div class="text-center">
                                <a href="@period.TeamLink" class="btn btn-sm btn-success">Open Team</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</nav>