@using Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.StaffSidebarMenu
@model (string ActivePage, string StaffId)

@{
    var segments = Model.ActivePage.Split('.');
    var module = segments[1];
}

<nav id="accordion" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky pt-3">
        <div class="card">
            <div class="card-header" id="awardsHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#awards" aria-expanded="true" aria-controls="awards" role="button">
                    Awards
                </h4>
            </div>

            <div id="awards" class="collapse @(module == "Awards" ? "show" : "")" aria-labelledby="awardsHeading" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Awards_Nominations ? "active" : "")" asp-page="/SchoolAdmin/Awards/Nominations/Index" asp-area="Staff">
                                Nominations
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="complianceHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#compliance" role="button">
                    Compliance
                </h4>
            </div>
            
            <div id="compliance" class="collapse @(module == "Compliance" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Compliance_Attendance ? "active" : "")" asp-page="/SchoolAdmin/Compliance/Attendance/Index" asp-area="Staff">
                                Attendance Records
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Compliance_AttendanceReports ? "active" : "")" asp-page="/SchoolAdmin/Compliance/Attendance/Reports" asp-area="Staff">
                                Attendance Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Compliance_Wellbeing ? "active" : "")" asp-page="/SchoolAdmin/Compliance/Wellbeing/Index" asp-area="Staff">
                                N-Award Compliance
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Compliance_MasterFile ? "active" : "")" asp-page="/SchoolAdmin/Compliance/MasterFile/Index" asp-area="Staff">
                                MasterFile Check
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="trainingHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#training" role="button">
                    Mandatory Training
                </h4>
            </div>

            <div id="training" class="collapse @(module == "Training" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Training_Staff ? "active" : "")" asp-page="/SchoolAdmin/Training/Staff/Index" asp-area="Staff" asp-route-staffId="@Model.StaffId">
                                My Records
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Training_Modules ? "active" : "")" asp-page="/SchoolAdmin/Training/Modules/Index" asp-area="Staff">
                                Modules
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Training_Completions ? "active" : "")" asp-page="/SchoolAdmin/Training/Completion/Index" asp-area="Staff">
                                Certificates
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_Training_Reports ? "active" : "")" asp-page="/SchoolAdmin/Training/Reports/Index" asp-area="Staff">
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="workflowsHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#workflows" role="button">
                    WorkFlows
                </h4>
            </div>

            <div id="workflows" class="collapse @(module == "WorkFlows" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_WorkFlows_Cases ? "active" : "")" asp-page="/SchoolAdmin/Workflows/Index" asp-area="Staff">
                                Cases
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model.ActivePage == ActivePage.SchoolAdmin_WorkFlows_Reports ? "active" : "")" asp-page="/SchoolAdmin/Workflows/Reports/Index" asp-area="Staff">
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>
