@using Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.StaffSidebarMenu
@model string

@{
    var segments = Model.Split('.');
    var module = segments[1];
}

<nav id="accordion" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky pt-3">
        <div class="card">
            <div class="card-header" id="coursesHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#courses" role="button">
                    Courses
                </h4>
            </div>

            <div id="courses" class="collapse @(module == "Courses" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_Courses_Courses ? "active" : "")" asp-page="/Subject/Courses/Index" asp-area="Staff">
                                List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="classesHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#classes" role="button">
                    Classes
                </h4>
            </div>

            <div id="classes" class="collapse @(module == "Offerings" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_Offerings_Offerings ? "active" : "")" asp-page="/Subject/Offerings/Index" asp-area="Staff">
                                List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="assignmentsHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#assignments" role="button">
                    Assignments
                </h4>
            </div>

            <div id="assignments" class="collapse @(module == "Assignments" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_Assignments_Assignments ? "active" : "")" asp-page="/Subject/Assignments/Index" asp-area="Staff">
                                List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="periodsHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#periods" role="button">
                    Periods
                </h4>
            </div>

            <div id="periods" class="collapse @(module == "Periods" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_Periods_Periods ? "active" : "")" asp-page="/Subject/Periods/Index" asp-area="Staff">
                                List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="pracsHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#pracs" role="button">
                    Science Pracs
                </h4>
            </div>

            <div id="pracs" class="collapse @(module == "SciencePracs" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_SciencePracs_Lessons ? "active" : "")" asp-page="/Subject/SciencePracs/Lessons/Index" asp-area="Staff">
                                Lessons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_SciencePracs_Teachers ? "active" : "")" asp-page="/Subject/SciencePracs/Teachers/Index" asp-area="Staff">
                                Teachers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_SciencePracs_Reports ? "active" : "")" asp-page="/Subject/SciencePracs/Reports/Index" asp-area="Staff">
                                Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="tutorialsHeading">
                <h4 class="sidebar-heading d-flex justify-content-between p-3 mb-1 text-muted" data-toggle="collapse" data-target="#tutorials" role="button">
                    Group Tutorials
                </h4>
            </div>

            <div id="tutorials" class="collapse @(module == "GroupTutorials" ? "show" : "")" data-parent="#accordion">
                <div class="card-body">
                    <ul class="nav flex-column mx-2">
                        <li class="nav-item">
                            <a class="nav-link @(Model == ActivePage.Subject_GroupTutorials_Tutorials ? "active" : "")" asp-page="/Subject/GroupTutorials/Tutorials/Index" asp-area="Staff">
                                List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</nav>
