@using Constellation.Application.Models.Identity
@model Devices_DetailsViewModel

@{
    var authorised = (User.IsInRole(AuthRoles.EquipmentEditor) || User.IsInRole(AuthRoles.Admin));
}

<h2>Device details</h2>

<div>
    @if (authorised)
    {
        <a asp-action="Update" asp-controller="Devices" asp-area="Equipment" asp-route-id="@Model.Device.SerialNumber" class="btn btn-warning">Edit</a>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Change Status <span class="caret"></span></button>
            <div class="dropdown-menu">
                <a asp-action="Allocate" asp-controller="Devices" asp-area="Equipment" asp-route-id="@Model.Device.SerialNumber" class="dropdown-item @(Model.Device.CanAllocate ? "" : "disabled")">Allocate</a>
                <a asp-action="StatusUpdate" asp-controller="Devices" asp-area="Equipment" asp-route-id="@Model.Device.SerialNumber" class="dropdown-item @(Model.Device.CanUpdateStatus ? "" : "disabled")">Update</a>
                <a asp-action="Deallocate" asp-controller="Devices" asp-area="Equipment" asp-route-id="@Model.Device.SerialNumber" class="dropdown-item @(Model.Device.IsAllocated ? "" : "disabled")">Unassign</a>
            </div>
        </div>

        <a asp-action="AddNote" asp-controller="Devices" asp-area="Equipment" asp-route-id="@Model.Device.SerialNumber" class="btn btn-secondary">Add Note</a>
    }

    <a asp-action="Index" asp-controller="Devices" asp-area="Equipment" class="btn btn-danger btn-pull-right">Go Back</a>

    <hr/>

    <div class="row">
        <label asp-for="Device.Make" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.Make, new {htmlAttributes = new {@class = "form-control"}})
        </div>

        <label asp-for="Device.DateReceived" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.DateReceived, "ShortDate")
        </div>
    </div>

    <div class="row">
        <label asp-for="Device.Model" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.Model)
        </div>

        <label asp-for="Device.DateWarrantyExpires" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.DateWarrantyExpires, "ShortDate")
        </div>
    </div>

    <div class="row">
        <label asp-for="Device.SerialNumber" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.SerialNumber)
        </div>

        <label asp-for="Device.DateDisposed" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.DateDisposed, "ShortDate")
        </div>
    </div>

    <div class="row">
        <label asp-for="Device.Description" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.Description)
        </div>

        <label asp-for="Device.Status" class="col-md-2"></label>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Device.Status, "Status")
        </div>
    </div>
</div>

<hr />

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#deviceAllocations" role="tab">
                Allocations
                @if (Model.Allocations.Any())
                {
                    <span class="badge">@Model.Allocations.Count()</span>
                }
            </a>
        </li>
        <li>
            <a class="nav-link" href="#deviceNotes" data-toggle="tab">
                Notes
                @if (Model.Notes.Any())
                {
                    <span class="badge">@Model.Notes.Count()</span>
                }
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="deviceAllocations" class="tab-pane active">
            <h3>Allocation History</h3>

            <table class="table-hover data-table">
                <thead>
                <tr>
                    <th>Date Allocated</th>
                    <th>Student</th>
                    <th>School</th>
                    <th>Date Returned</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Allocations.OrderByDescending(a => a.DateAllocated))
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.DateAllocated, "ShortDate")</td>
                        <td>@Html.DisplayFor(model => item.StudentName) (@Html.DisplayFor(model => item.StudentGrade, "Grade"))</td>
                        <td>@Html.DisplayFor(model => item.StudentSchool)</td>
                        <td>@Html.DisplayFor(model => item.DateDeleted, "ShortDate")</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div id="deviceNotes" class="tab-pane">
            <h3>Notes</h3>

            <table class="table-striped table-hover data-table">
                <thead>
                    <tr>
                        <th>Date Entered</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Notes.OrderByDescending(a => a.DateEntered))
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.DateEntered, "ShortDate")</td>
                            <td>@Html.DisplayFor(model => item.Details)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>