@model Devices_ReportsStatus

<h2>Device usage report</h2>

<div class="row">
    <a asp-action="Index" asp-controller="Devices" asp-area="Equipment" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th>Model</th>
            @foreach (var status in Model.StatusList)
            {
                <th>@status</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var deviceModel in Model.Models)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => deviceModel.Name)
            </td>
            @foreach (var detail in deviceModel.Details)
            {
                if (detail.Status == "Allocated" || detail.Status == "Total")
                {
                    <td>
                        @Html.DisplayFor(model => detail.UnallocatedValue)
                    </td>
                }
                else
                {
                    <td>@Html.DisplayFor(model => detail.UnallocatedValue) / @Html.DisplayFor(model => detail.AllocatedValue)</td>
                }
            }
        </tr>
        }
    </tbody>
</table>
