@page

@model Constellation.Presentation.Staff.Areas.Staff.Pages.DashboardModel

<div class="main-content">
    <div class="page-heading">
        <h2 class="text-center m-2">Welcome, @Model.UserName</h2>

        @if (!string.IsNullOrWhiteSpace(Model.Message))
        {
            <div class="alert alert-success">
                <span><span class="font-weight-bold">Daily Affirmation:</span> @Model.Message</span>
            </div>
        }
    </div>

    @if (Model.ActiveStocktakeEvents.Count > 0)
    {
        <div class="alert alert-info text-left mt-3" role="alert">
            <h4 class="alert-heading">Stocktake</h4>
            <p>Please take the time to register your Aurora College equipment in the current stocktake.</p>
            @foreach (var stocktake in Model.ActiveStocktakeEvents)
            {
                <a class="alert-link" asp-area="Staff" asp-page="/Equipment/Stocktake/Dashboard" asp-route-id="@stocktake.Id">@stocktake.Name</a>
            }
        </div>
    }

    <div class="row row-cols-1 row-cols-md-3" id="sortable-cards">
        <vc:show-dashboard-widgets user="@Model.User"/>
    </div>
</div>

<div class="quick-links">
    <h3 class="text-center m-2 mb-3">Recent Updates</h3>
    
    @foreach (var update in Model.Changes.OrderByDescending(entry => entry.Datestamp))
    {
        <div class="card bg-light mb-3">
            <div class="card-header h6">@update.Title</div>
            <div class="card-body">
                <p>@update.Body</p>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(function () {
            $('#sortable-cards').sortable({
                group: 'dashboard-cards',
                store: {
                    get: function (sortable) {
                        var order = localStorage.getItem(sortable.options.group.name);
                        return order ? order.split('|') : [];
                    },
                    set: function (sortable) {
                        var order = sortable.toArray();
                        localStorage.setItem(sortable.options.group.name, order.join('|'));
                    }
                }
            });
        });
    </script>
}

