@page "{id:guid}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Subject.SciencePracs.Lessons.DetailsModel

@inject IAuthorizationService authService

@{
    AuthorizationResult canEditTest = await authService.AuthorizeAsync(User, AuthPolicies.CanManageSciencePracs);
}

<h2>Lesson Details</h2>

<div class="page-menu">
    @if (canEditTest.Succeeded && Model.Lesson.Rolls.All(roll => roll.Status != Constellation.Core.Enums.LessonStatus.Completed))
    {
        <a asp-page="/Subject/SciencePracs/Lessons/Upsert" asp-area="Staff" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#cancel-lesson-modal">Cancel</button>
    }

    <a asp-page="/Subject/SciencePracs/Lessons/Index" asp-area="Staff" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Lesson.LessonId">Id</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.LessonId</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.CourseName">Course</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.CourseName</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.Name">Name</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.Name</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.DueDate">Due Date</label>
        </dt>
        <dd class="col-md-10">
            <span>@Model.Lesson.DueDate.ToShortDateString()</span>
        </dd>

        <dt class="col-md-2">
            <label asp-for="Lesson.Offerings">Classes</label>
        </dt>
        <dd class="col-md-10">
            @String.Join(", ", Model.Lesson.Offerings)
        </dd>
    </dl>
</div>

<hr />

<h3>Rolls</h3>

<table class="table table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>School</th>
            <th>Status</th>
            <th>Attendance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lesson.Rolls)
        {
            <tr>
                <td>
                    @if (item.Overdue)
                    {
                        <i class="fal fa-alarm-exclamation"></i>
                    }
                </td>
                <td>@item.SchoolName</td>
                <td>@item.Status.ToString()</td>
                <td>@item.PresentStudents / @item.TotalStudents</td>
                <td>
                    @if (canEditTest.Succeeded)
                    {
                        <a asp-page="/Subject/SciencePracs/Lessons/Roll" asp-area="Staff" asp-route-lessonId="@Model.Lesson.LessonId" asp-route-rollId="@item.RollId" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" tabindex="-1" id="cancel-lesson-modal">
    <div class="modal-dialog">
        <div id="modal-content" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancel Lesson</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col">
                        <span class="control-label">Cancelling this lesson will also remove all rolls. Are you sure?</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-page-handler="Cancel" asp-route-id="@Model.Id" class="btn btn-danger">Cancel Lesson</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>