@model Constellation.Presentation.Staff.Views.Shared.PartialViews.DeleteFamilyMemberConfirmationModal.DeleteFamilyMemberConfirmationModalViewModel

<div class="modal-header">
    <h5 class="modal-title">@Model.Title</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to remove @Model.UserName from the @Model.FamilyName family?</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    @if (string.IsNullOrWhiteSpace(Model.StudentId))
    {
        <a asp-page-handler="RemoveParent" asp-route-parentId="@Model.ParentId" class="btn btn-danger">Remove</a>
    }
    else
    {
        <a asp-page-handler="RemoveStudent" asp-route-studentId="@Model.StudentId" class="btn btn-danger">Remove</a>
    }
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>