@page
@using Constellation.Core.Models.ThirdPartyConsent.Identifiers
@model Constellation.Presentation.Parents.Areas.Parents.Pages.ThirdParty.ApplicationsModel
@{
}

<h2>Applications</h2>

@if (Model.SelectedStudent is null)
{
    // Show list of students in boxes to allow them to select a different student
    <h4>Select student to display:</h4>
    <ul class="list-group mb-2">
        @foreach (var student in Model.Students)
        {
            <button class="list-group-item list-group-item-action student-select-button" data-student-id="@student.StudentId">
                @student.DisplayName (@student.CurrentGrade)
            </button>
        }
    </ul>
}
else
{
    <div class="w-auto p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
        <span class="row d-flex align-items-center">
            @*Display as flex to enable vertical centering of the button in the second div*@
            <div class="col-lg">
                <div class="h4">Applications for @Model.SelectedStudent?.DisplayName</div>
                @*If the view has collapsed and the button below is hidden, turn the entire entry into a clickable element*@
                @if (Model.Students.Count > 1)
                {
                    <span class="fst-italic">Click or tap to change</span>

                    <div class="d-block">
                        <a asp-route-studentId="" class="stretched-link"></a>
                    </div>
                }
            </div>
        </span>
    </div>

    <hr />


    <div class="row">
        <div class="col">
            <p>Please review the applications below carefully. Each has been selected by Aurora College for their valuable contribution to our virtual learning environment. If you have any concerns about a particular application, please contact our Technology Manager, Ben Hillsley, at <a href="mailto:support@aurora.nsw.edu.au">support@aurora.nsw.edu.au</a> or on <span class="fw-bold">1300 610 733</span></p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 g-4">
        @foreach (var application in Model.Applications)
        {
            var applicationId = "x" + application.ApplicationId.ToString().Replace("-", string.Empty);

            <div class="col">
                <div class="card" id="accordion-@applicationId">
                    <div class="row g-0 card-header">
                        <div class="col-4 col-sm-4 col-xl-3 d-flex vertical-center-content">
                            @if (application.Id == ConsentId.Empty)
                            {
                                <i class="fad fa-question-square fa-card-icon-sizing app-theme pending"></i>
                            }
                            else if (application.ConsentProvided)
                            {
                                <i class="fad fa-check-square fa-card-icon-sizing app-theme success"></i>
                            }
                            else
                            {
                                <i class="fad fa-times-square fa-card-icon-sizing app-theme failure"></i>
                            }
                        </div>
                        <div class="col-7 col-sm-7 col-xl-8">
                            <h4 class="card-title">@application.ApplicationName</h4>
                            <p class="card-text fst-italic">@application.Purpose</p>
                            <p class="card-text">
                                Required by
                                <ul>
                                    @foreach (var entry in application.Requirements)
                                    {
                                        <li>@entry.Value</li>
                                    }
                                </ul>
                            </p>
                        </div>
                        <div class="col-1 d-flex vertical-center-content expando">
                            <a class="collapsed d-block" data-bs-toggle="collapse" data-parent="#accordion-@applicationId" href="#@applicationId">
                                <i class="fa fa-chevron-down fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div id="@applicationId" class="collapse">
                        <div class="card-body">
                            <dl>
                                <dt>Information Stored</dt>
                                <dd>
                                    <ul>
                                        @foreach (var item in application.InformationCollected)
                                        {
                                            <li>@item</li>
                                        }
                                    </ul>
                                </dd>

                                <dt>Location Stored</dt>
                                <dd>@application.StoredCountry</dd>

                                <dt>Shared With</dt>
                                <dd>
                                    <ul>
                                        @foreach (var item in application.SharedWith)
                                        {
                                            <li>@item</li>
                                        }
                                    </ul>
                                </dd>
                                
                                @if (!string.IsNullOrWhiteSpace(application.Link))
                                {
                                    <dt>Link</dt>
                                    <dd><a href="@application.Link" target="_blank">@application.Link</a></dd>
                                }
                            </dl>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 d-grid">
                                    @if (application.Id != ConsentId.Empty && application.ConsentProvided)
                                    {
                                        <button data-application-id="@application.ApplicationId" data-app-name="@application.ApplicationName" onclick="toggleApp('@application.ApplicationId', 'approve')" class="btn btn-success">I consent</button>
                                    }
                                    else
                                    {
                                        <button data-application-id="@application.ApplicationId" data-app-name="@application.ApplicationName" onclick="toggleApp('@application.ApplicationId', 'approve')" class="btn btn-outline-success">I consent</button>
                                    }
                                </div>
                                <div class="col-6 d-grid">
                                    @if (application.Id != ConsentId.Empty && !application.ConsentProvided)
                                    {
                                        <button data-application-id="@application.ApplicationId" data-app-name="@application.ApplicationName" onclick="toggleApp('@application.ApplicationId', 'reject')" class="btn btn-danger">I do not consent</button>
                                    }
                                    else
                                    {
                                        <button data-application-id="@application.ApplicationId" data-app-name="@application.ApplicationName" onclick="toggleApp('@application.ApplicationId', 'reject')" class="btn btn-outline-danger">I do not consent</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <hr/>

    <h3>Consent to use third-party software</h3>

    <div class="row mt-3">
        <form method="post">
            <input asp-for="StudentId" type="hidden" value="@Model.SelectedStudent!.StudentId"/>
            <div id="responses">

            </div>

            <div class="row d-none" id="approveBlock">
                <div class="col">
                    <p><span class="fw-bold fst-italic">I consent</span> to @Model.SelectedStudent.FirstName using the following applications:</p>
                    <ul id="approveList">

                    </ul>
                </div>
            </div>

            <div class="row d-none" id="rejectBlock">
                <div class="col">
                    <p><span class="fw-bold fst-italic">I do not consent</span> to @Model.SelectedStudent.FirstName using the following applications:</p>
                    <ul id="rejectList">

                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>By clicking submit, I confirm:</p>
                    <ul>
                        <li>This consent remain effective until I advise the school otherwise, either in writing or by submitting this form again.</li>
                        <li>I acknowledge that my child must abide by the conditions of acceptable usage set out in the department's <a href="https://education.nsw.gov.au/policy-library/policies/pd-2020-0471" target="_blank">Digital Devices and Online Services for Students policy</a>, and that any breach of this policy may, at the school's discretion, result in disciplinary action in accordance with the school's behaviour policy.</li>
                    </ul>
                    <p>A receipt for this transaction will be generated outlining all the information provided and your responses. This receipt will be emailed to your registered email address for your records.</p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col col-md-4 d-grid">
                    <button type="submit" class="btn btn-success py-3 mb-3" disabled="disabled" id="formSubmit">Submit Responses</button>
                </div>
            </div>
        </form>
    </div>
}

@section scripts {
    <script>
        $('.student-select-button').on('click', function (e) {
            var studentId = $(this).data('studentId');

            var params = new URLSearchParams(location.search);
            params.set('StudentId', studentId);
            window.location.search = params.toString();
        });

        function toggleApp(appId, action) {
            if (action == 'approve'){
                var appName = $('.btn-outline-success[data-application-id=' + appId + ']').data('appName');

                $('.btn-danger[data-application-id=' + appId + ']')
                    .removeClass('btn-danger')
                    .addClass('btn-outline-danger');

                $('.btn-outline-success[data-application-id=' + appId + ']')
                    .removeClass('btn-outline-success')
                    .addClass('btn-success');

                var existingInput = $('#' + appId);

                if (existingInput.length) {
                    existingInput.prop('value', 'true');
                }
                else {
                    var input = '<input type="hidden" class="form-control" name="responses[' + appId + ']" id="' + appId + '" value="true">';
                    $('#responses').append(input);
                }

                var existingApproveListItem = $('#approveList li[data-application-id=' + appId + ']');

                if (!existingApproveListItem.length)
                {
                    var listItem = '<li data-application-id="' + appId + '">' + appName + '</li>';
                    $('#approveList').append(listItem);

                    $('#approveBlock')
                        .removeClass('d-none');
                }

                var existingRejectListItem = $('#rejectList li[data-application-id=' + appId + ']');

                if (existingRejectListItem.length)
                {
                    existingRejectListItem.remove();

                    if ($('#rejectList').children().length == 0){
                        $('#rejectBlock')
                            .addClass('d-none');
                    }
                }
            }

            if (action == 'reject') {
                var appName = $('.btn-outline-danger[data-application-id=' + appId + ']').data('appName');

                $('.btn-outline-danger[data-application-id=' + appId + ']')
                    .removeClass('btn-outline-danger')
                    .addClass('btn-danger');

                $('.btn-success[data-application-id=' + appId + ']')
                    .removeClass('btn-success')
                    .addClass('btn-outline-success');

                var existingInput = $('#' + appId);

                if (existingInput.length) {
                    existingInput.prop('value', 'false');
                }
                else {
                    var input = '<input type="hidden" class="form-control" name="responses[' + appId + ']" id="' + appId + '" value="false">';
                    $('#responses').append(input);
                }

                var existingApproveListItem = $('#approveList li[data-application-id=' + appId + ']');

                if (existingApproveListItem.length)
                {
                    existingApproveListItem.remove();

                    if ($('#approveList').children().length == 0){
                        $('#approveBlock')
                            .addClass('d-none');
                    }
                }

                var existingRejectListItem = $('#rejectList li[data-application-id=' + appId + ']');

                if (!existingRejectListItem.length)
                {
                    var listItem = '<li data-application-id="' + appId + '">' + appName + '</li>';
                    $('#rejectList').append(listItem);

                    $('#rejectBlock')
                        .removeClass('d-none');
                }
            }

            if ($('#rejectList').children().length == 0 && $('#approveList').children().length == 0)
            {
                $('#formSubmit').prop('disabled', true);
            }
            else 
            {
                $('#formSubmit').prop('disabled', false);
            }
        }
    </script>
}