@using Constellation.Infrastructure.Templates.Views.Emails.Lessons
@model FinalWarningEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Dear Colleagues,</p>
<p>It is vital that we complete the mandatory practical component of our Aurora College student's science courses. Our records indicate that @Model.SchoolName is falling behind in the delivery of the practical lessons listed.</p>
<p>This is a concern as it is a funded position at your school and also a NESA requirement that these lessons be delivered.</p>
<ul>
    @foreach (var entry in Model.Lessons)
    {
        <li>@entry.Name (Due by @entry.DueDate.ToShortDateString())</li>
    }
</ul>
<p>Could you please arrange a catch up session to complete this practical activity as soon as possible and then tick it off on the SPT website (at <a href="@Model.Link" target="_blank">@Model.Link</a>)</p>
<p>Thank you for your work with our shared students.</p>