@page "{studentId}"
@using Constellation.Application.DTOs
@using Constellation.Core.Models.Timetables.ValueObjects
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Timetables.ViewModel
@{
}

<h2>Student Timetables</h2>

<div class="d-flex flex-row mt-3 mb-3 page-menu">
    <a asp-page-handler="Download" class="btn btn-primary" onclick="showLoader(3000)">Download</a>

    <a asp-page="/Timetables/Index" asp-area="Schools" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

@Model.StudentTimetableData.StudentName
<br />
@Model.StudentTimetableData.StudentGrade
<br />
@Model.StudentTimetableData.StudentSchool

<div>
    @{
        IEnumerable<IGrouping<Timetable, TimetableDataDto.TimetableData>> timetables = new List<IGrouping<Timetable, TimetableDataDto.TimetableData>>();
        if (Model.StudentTimetableData.Timetables != null)
        {
            timetables = Model.StudentTimetableData.Timetables.OrderBy(data => data.Timetable).GroupBy(data => data.Timetable);
        }

        @foreach (var block in timetables)
        {
            var weeks = block.OrderBy(p => p.Week.Value).GroupBy(p => p.Week);

            <div>
                @foreach (var week in weeks)
                {
                    var days = week.OrderBy(p => p.Day.Value).GroupBy(p => p.Day);
                    var firstDay = true;

                    <div class="Timetable-Week">
                        @foreach (var day in days)
                        {
                            var periods = day.OrderBy(p => p.StartTime).ToList();

                            if (firstDay)
                            {
                                <div class="Timetable-Day">
                                    <div class="Timetable-Day-Title"></div>
                                    @foreach (var period in periods)
                                    {
                                        <div class="Timetable-Day-Period @period.Type.Name">
                                            @period.Name<br />
                                            @period.StartTime.As12HourTime() - @period.EndTime.As12HourTime()
                                        </div>
                                    }
                                </div>
                            }
                            
                            <div class="Timetable-Day">
                                <div class="Timetable-Day-Title">
                                    @week.Key.Name - @day.Key.Name
                                </div>
                                @foreach (var period in periods)
                                {
                                    <div class="Timetable-Day-Period @period.Type.Name">
                                        @if (!string.IsNullOrWhiteSpace(period.ClassName))
                                        {
                                            @period.ClassName

                                            <br/>
                                            @period.ClassTeacher
                                        }
                                    </div>
                                }
                            </div>

                            firstDay = false;
                        }
                    </div>
                }
            </div>
        }
    }
</div>