@using Constellation.Core.Enums
@using Constellation.Presentation.Server.Areas.Portal.Models.Lessons
@model RollViewModel

<h2>@Model.Roll.School Lesson Roll</h2>

@if (Model.Roll.Status == LessonStatus.Active)
{
    <div>
        <a asp-action="AdminRollCancel" asp-controller="Lessons" asp-area="Portal" asp-route-id="@Model.Roll.RollId" class="btn btn-danger">Cancel</a>
        <a asp-action="AdminRollSubmit" asp-controller="Lessons" asp-area="Portal" asp-route-id="@Model.Roll.RollId" class="btn btn-warning">Submit Roll</a>
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
    </div>
}
else if (Model.Roll.Status == LessonStatus.Cancelled)
{
    <div>
        <a asp-action="AdminRollUnCancel" asp-controller="Lessons" asp-area="Portal" asp-route-id="@Model.Roll.RollId" class="btn btn-danger">Un-Cancel</a>
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
    </div>
}
else
{
    <div class="row">
        <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right-solo">Go Back</a>
    </div>
}

<hr />

<div class="form-horizontal">
    <div class="alert-container">
        @if (Model.Roll.Submitted)
        {
            <div class="alert alert-success">
                This roll has been submitted
            </div>
        } else if (Model.Roll.Status == LessonStatus.Cancelled)
        {
            <div class="alert alert-danger">
                This roll has been cancelled
            </div>
        } else
        {
            <div class="alert alert-warning">
                This roll has not been yet submitted!
            </div>
        }
    </div>

    <div class="row">
        <label asp-for="Roll.LessonName" class="col-md-2"></label>
        <div class="col-md-6">
            <span class="control-label text-only">@Model.Roll.LessonName</span>
        </div>
    </div>

    <div class="row">
        <label asp-for="Roll.DueDate" class="col-md-2"></label>
        <div class="col-md-6">
            <span class="control-label text-only">@Model.Roll.DueDate.ToString("dd/MM/yyyy")</span>
        </div>
    </div>

    <div class="row">
        <label asp-for="Roll.LessonDate" class="col-md-2"></label>
        <div class="col-md-6">
            <span class="control-label text-only">
                @if (Model.Roll.Submitted)
                {
                    @Model.Roll.LessonDate.ToString("dd/MM/yyyy");
                    if (Model.Roll.LessonDate > Model.Roll.DueDate)
                    {
                        @:<span class="label label-warning">Delivered Late!</span>
                    }
                }
            </span>
        </div>
    </div>

    <div class="row">
        <label asp-for="Roll.TeacherName" class="col-md-2"></label>
        <div class="col-md-6">
            <span class="control-label text-only">@Model.Roll.TeacherName</span>
        </div>
    </div>

    <div class="row">
        <label asp-for="Roll.Comment" class="col-md-2"></label>
        <div class="col-md-6">
            <span class="control-label text-only">@Model.Roll.Comment</span>
        </div>
    </div>

    <hr />

    <div class="mt-3">
        <table class="table table-striped data-table">
            <thead>
                <tr>
                    <td class="col-md-4"><label>Name</label></td>
                    <td><label>Present?</label></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.Roll.Attendance.OrderBy(attend => attend.LastName))
                {
                    <tr>
                        <td><span class="control-label text-only">@student.DisplayName</span></td>
                        <td><span class="control-label text-only">@(student.Present ? "Yes" : "No")</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>