@using Constellation.Presentation.Server.Areas.Portal.Models.Lessons
@model AdminTeacherAuditViewModel

<h2>Coordinator Access Audit</h2>

<div>
    <a asp-action="AdminRepairTeacherAccount" asp-controller="Lessons" asp-area="Portal" asp-route-id="@Model.AuditResult.Contact.Id" class="btn btn-warning">Fix User</a>
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>

</div>

<hr />

<table class="table data-table">
    <thead>
        <tr>
            <th></th>
            <th>Category</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.AuditResult.ContactPresent, "BooleanIcon")</td>
            <td>@Html.LabelFor(model => model.AuditResult.ContactPresent)</td>
            <td>
                @if (Model.AuditResult.Contact != null)
                {
                    @Model.AuditResult.Contact.FirstName @Model.AuditResult.Contact.LastName<br />
                    @Model.AuditResult.Contact.EmailAddress
                }
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.AuditResult.RolesPresent, "BooleanIcon")</td>
            <td>@Html.LabelFor(model => model.AuditResult.RolesPresent)</td>
            <td>
                @foreach (var role in Model.AuditResult.Roles)
                {
                    <span class="control-label text-only">
                        @role.Role<br />
                        @role.School.Name
                    </span>
                }
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.AuditResult.UserPresent, "BooleanIcon")</td>
            <td>@Html.LabelFor(model => model.AuditResult.UserPresent)</td>
            <td>
                @if (Model.AuditResult.User != null)
                { 
                    @Model.AuditResult.User.UserName<br />
                    @Model.AuditResult.User.Id
                }
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.AuditResult.UserPropertiesPresent, "BooleanIcon")</td>
            <td>@Html.LabelFor(model => model.AuditResult.UserPropertiesPresent)</td>
            <td></td>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.AuditResult.UserContactLinkPresent, "BooleanIcon")</td>
            <td>@Html.LabelFor(model => model.AuditResult.UserContactLinkPresent)</td>
            <td></td>
        </tr>

        <tr>
            <td>@Html.DisplayFor(model => model.AuditResult.UserRolePresent, "BooleanIcon")</td>
            <td>@Html.LabelFor(model => model.AuditResult.UserRolePresent)</td>
            <td></td>
        </tr>

    </tbody>
</table>