@using Constellation.Presentation.Server.Areas.Portal.Models.Lessons
@model AdminTeachersViewModel

<h2>Science Practical Teachers</h2>

<div class="row">
    <a asp-action="AdminUpsertTeacher" asp-controller="Lessons" asp-area="Portal" class="btn btn-info">Create New</a>
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>School</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teachers)
        {
            <tr>
                <td>
                    @if (item.SelfRegistered)
                    {
                        <span class="glyphicon glyphicon-flag text-danger"></span>
                    }
                </td>
                <td>@Html.DisplayFor(model => item.FirstName) @Html.DisplayFor(model => item.LastName)</td>
                <td>@Html.DisplayFor(model => item.SchoolName)</td>
                <td>@Html.DisplayFor(model => item.EmailAddress)</td>
                <td>
                    <a asp-action="AdminTeacherAudit" asp-controller="Lessons" asp-area="Portal" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-show-hover">Audit Access</a>
                </td>
                <td>
                    <a asp-action="AdminDeleteTeacher" asp-controller="Lessons" asp-area="Portal" asp-route-id="@item.Id" class="btn btn-sm btn-warning btn-show-hover">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>