@page "{periodId}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Awards.Nominations.Nominate.Step4Model

@using Constellation.Core.Models.Offerings.Identifiers
@using Constellation.Core.Models.Subjects.Identifiers
@using Constellation.Core.ValueObjects
@using Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Award Nomination</h2>

<div class="page-menu">
    <a asp-page="/SchoolAdmin/Awards/Nominations/Details" asp-area="Staff" asp-route-periodId="@Model.PeriodId" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label asp-for="Type" class="col-md-2">Award Type</label>
            <div class="col-md-8">
                <select asp-for="Type" asp-items="Model.AwardTypes" class="form-control combo custom-select">
                    <option value=""> -- Select -- </option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
    
        @if (Model.CourseId != CourseId.Empty)
        {
            <div id="CourseSelect" class="form-group row">
                <label asp-for="CourseId" class="col-md-2">Course</label>
                <div class="col-md-8">
                    <select asp-for="CourseId" asp-items="@Model.Courses" class="form-control combo">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
        }
    
        @if (Model.OfferingId != OfferingId.Empty)
        {
            <div id="ClassSelect" class="form-group row">
                <label asp-for="OfferingId" class="col-md-2">Class</label>
                <div class="col-md-5">
                    <select asp-for="OfferingId" asp-items="@Model.Offerings" class="form-control combo">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="OfferingId" class="text-danger"></span>
                </div>
            </div>
        }
    
        <div class="form-group row">
            <label asp-for="StudentId" class="col-md-2">Student</label>
            <div class="col-md-8">
                <select asp-for="StudentId" asp-items="@(new SelectList(Model.StudentsList, "StudentId", "StudentName"))" class="form-control combo">
                    <option value="">-- Select --</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

<div id="hiddenForm" class="d-none">
    <form asp-page="/SchoolAdmin/Awards/Nominations/Nominate/Step2" asp-route-periodId="@Model.PeriodId" id="step2" method="post"></form>
    <form asp-page="/SchoolAdmin/Awards/Nominations/Nominate/Step3" asp-route-periodId="@Model.PeriodId" id="step3" method="post"></form>
    <form asp-page="/SchoolAdmin/Awards/Nominations/Nominate/Step4" asp-route-periodId="@Model.PeriodId" id="step4" method="post"></form>
</div>

@section scripts {
    <script>
        $('#Type').on('change', function (e) {
            var type = $(this).val();

            if (type == '@AwardType.GalaxyMedal.Value' || type == '@AwardType.PrincipalsAward.Value' || type == '@AwardType.UniversalAchiever.Value') {
                $('.spinner-overlay').removeClass('d-none');
                $('#step4')
                    .append('<input type="text" name="Type" value="' + type + '" />')
                    .submit();
            }
            else {
                $('.spinner-overlay').removeClass('d-none');
                $('#step2')
                    .append('<input type="text" name="Type" value="' + type + '" />')
                    .submit();
            }
        });

        $('#CourseId').on('change', function (e) {
            var type = $('#Type').val();
            var courseId = $(this).val();

            if (type == '@AwardType.GalaxyMedal.Value' || type == '@AwardType.PrincipalsAward.Value' || type == '@AwardType.UniversalAchiever.Value' || type == '@AwardType.FirstInSubject.Value') {
                $('.spinner-overlay').removeClass('d-none');
                $('#step4')
                    .append('<input type="text" name="Type" value="' + type + '" />')
                    .append('<input type="text" name="CourseId" value="' + courseId + '" />')
                    .submit();
            }
            else {
                $('.spinner-overlay').removeClass('d-none');
                $('#step3')
                    .append('<input type="text" name="Type" value="' + type + '" />')
                    .append('<input type="text" name="CourseId" value="' + courseId + '" />')
                    .submit();
            }
        });

        $('#OfferingId').on('change', function (e) {
            var type = $('#Type').val();
            var courseId = $('#CourseId').val();
            var offeringId = $(this).val();

            $('.spinner-overlay').removeClass('d-none');
            $('#step4')
                .append('<input type="text" name="Type" value="' + type + '" />')
                .append('<input type="text" name="CourseId" value="' + courseId + '" />')
                .append('<input type="text" name="OfferingId" value="' + offeringId + '" />')
                .submit();
        });
    </script>
}