@model Constellation.Application.Common.PresentationModels.ModalContent

<div class="modal fade" id="ux-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.Content)
            </div>
            <div class="modal-footer">
                @foreach (var button in Model.Buttons)
                {
                    @if (!string.IsNullOrWhiteSpace(button.Link))
                    {
                        <a href="@button.Link" class="btn @(button.Colour)">@button.Text</a>
                    }
                    else
                    {
                        <button type="button" class="btn @(button.Colour)" data-bs-dismiss="modal" data-dismiss="modal">@button.Text</button>
                    }                    
                }
            </div>
        </div>
    </div>
</div>