@page "{roleId:guid}"
@model Constellation.Presentation.Server.Areas.Admin.Pages.Auth.RoleModel

<h3>Role Management: @Model.RoleName</h3>

<div class="page-menu">
    <button data-toggle="modal" data-target="#addUserModal" class="btn btn-warning">Add User</button>
    <a asp-page="/Auth/Index" asp-area="Admin" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members.OrderBy(member => member.DisplayName))
        {
            <tr>
                <td>@member.DisplayName</td>
                <td>@member.EmailAddress</td>
                <td>
                    <a asp-page-handler="RemoveUser" asp-route-userId="@member.UserId" asp-route-roleId="@Model.RoleId" class="btn btn-warning btn-sm btn-show-hover">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<vc:role-add-user role-id="@Model.RoleId"></vc:role-add-user>

@section scripts
{
    <script>
        $('#addUserSubmitButton').click(function (e) {
            e.preventDefault();
            $('#addUserModal').modal('hide');
            $('#addUserForm').submit();
        });
    </script>
}