@page "/Portal/Absences/Parents/Explanation/{id}"
@model Constellation.Presentation.Server.Areas.Portal.Pages.Absences.ParentExplanationModel

<h2>Absence Explanation</h2>

<div class="row">
    <a asp-page="Parents" asp-area="Portal" asp-route-studentId="@Model.Absence.StudentId" class="btn btn-danger btn-pull-right-solo">Go Back</a>
</div>

<hr />

@if (Model.Absence.IsExplained)
{
    <div class="form-horizontal">
        <div class="form-group row">
            <label class="col-md-2">Status</label>
            <div class="col-md-6">
                Explained
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Absence.Date" class="col-md-2"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Absence.Date, "LongDate")
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Absence.StudentName" class="col-md-2"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Absence.StudentName)
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Absence.OfferingName" class="col-md-2"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Absence.OfferingName)
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Absence.PeriodName" class="col-md-2"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Absence.PeriodName)
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Absence.PeriodTimeframe" class="col-md-2"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Absence.PeriodTimeframe)
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Absence.Reason" class="col-md-2"></label>
            <div class="col-md-6">
                @Html.DisplayFor(model => model.Absence.Reason)
            </div>
        </div>
    </div>
}
else
{
    <form method="post">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Absence.AbsenceId)
            @Html.HiddenFor(model => model.Absence.StudentId)

            <div class="form-group row">
                <label asp-for="Absence.Date" class="col-md-2"></label>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Absence.Date, "LongDate")
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Absence.StudentName" class="col-md-2"></label>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Absence.StudentName)
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Absence.OfferingName" class="col-md-2"></label>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Absence.OfferingName)
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Absence.PeriodName" class="col-md-2"></label>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Absence.PeriodName)
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Absence.PeriodTimeframe" class="col-md-2"></label>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Absence.PeriodTimeframe)
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Absence.Reason" class="col-md-2"></label>
                <div class="col-md-6">
                    <textarea asp-for="Absence.Reason" rows="5" cols="100" class="form-control"></textarea>
                    <span asp-validation-for="Absence.Reason" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg"/>
                </div>
            </div>
        </div>
    </form>
}