@page "{studentId}"
@model Constellation.Presentation.Server.Areas.Portal.Pages.Absences.ParentsModel

<h2>All Absences for @Model.StudentName</h2>

<div>
    @{
        var all_style = "btn-outline-secondary";
        var pending_style = all_style;

        switch (Model.ShowAll)
        {
            case false:
                pending_style = "btn-primary";
                break;
            case true:
                all_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-page="/Absences/Parents" asp-area="Portal" asp-route-studentId="@Model.StudentId" asp-route-ShowAll="true" class="btn @all_style">All</a>
        <a asp-page="/Absences/Parents" asp-area="Portal" asp-route-studentId="@Model.StudentId" asp-route-ShowAll="false" class="btn @pending_style">Pending</a>
    </div>

    <div class="btn-group">
        <button class="btn btn-warning" data-toggle="modal" data-target="#reportModal">Attendance Report</button>
    </div>
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Period</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Explanations)
        {
            <tr>
                <td>@Html.DisplayFor(model => entry.IsExplained, "BooleanTick")</td>
                <td>@Html.DisplayFor(model => entry.Type)</td>
                <td>@Html.DisplayFor(model => entry.Date, "ShortDate")</td>
                <td>@Html.DisplayFor(model => entry.PeriodTimeframe)</td>
                <td>@Html.DisplayFor(model => entry.PeriodName)</td>
                <td>@Html.DisplayFor(model => entry.OfferingName)</td>
                <td class="text-center">
                    @if (!entry.IsExplained && entry.Type == Constellation.Core.Models.Absence.Whole)
                    {
                        <a asp-page="ParentExplanation" asp-area="Portal" asp-route-id="@entry.AbsenceId" class="btn btn-sm btn-primary">Explain</a>
                    }
                    else if (entry.Type == Constellation.Core.Models.Absence.Whole)
                    {
                        <a asp-page="ParentExplanation" asp-area="Portal" asp-route-id="@entry.AbsenceId" class="btn btn-sm btn-secondary">More Info...</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="reportModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendance Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-page-handler="Report" method="post" id="reportForm">
                <div class="modal-body">
                   <div class="form-horizontal" id="reportSelection">
                        <div class="form-group">
                            <span class="text-danger">This will download a copy of the attendance report for @Model.StudentName during the fortnight selected.</span>
                        </div>
                    
                        @Html.HiddenFor(model => model.StudentId)
                        
                        <div class="form-group row">
                            <label class="col-md-4">Report Date</label>
                            <div class="col-md-6">
                                <input asp-for="ReportDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal" id="reportLoading">
                        <div class="form-group">
                            <h3>Loading... Please wait.</h3>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Submit" class="btn btn-primary">Download</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#reportModal').on('show.bs.modal', function(e) {
            $('#reportLoading').hide();
            $('#reportSelection').show();
            $('.modal-footer').find('.btn-primary').show();
        });

        $('#reportForm').submit(function(e) {
            $('#reportLoading').show();
            $('#reportSelection').hide();
            $('.modal-footer').find('.btn-primary').hide();
        });
    </script>
}