@page
@model Constellation.Presentation.Server.Areas.Portal.Pages.Absences.SchoolModel

@{
    var selectedStyle = "bg-info text-white";
    var unselectedStyle = "bg-light";
}

<h2>School Absences Portal - @Model.Data.Name</h2>

<div class="row">
    <div class="btn-pull-right-solo">
        <label class="mr-1">Change School: </label><select id="schoolList">
            @foreach (var item in Model.Schools)
            {
                <option value="@item.Key" selected="@(Model.Data.Code == item.Key)">@item.Value</option>
            }
        </select> 
    </div>
</div>

<div class="d-flex flex-row justify-content-around mt-3 mb-3">
    <div class="cursor-pointer border border-secondary rounded p-3 h-100 text-center @(Model.SelectedDataSet == SchoolModel.DataSet.UnexplainedPartial ? selectedStyle : unselectedStyle)" id="UnexplainedPartials">
        <div>Unexplained Partial Absences</div>
        <div>@Model.Data.UnexplainedPartials</div>
    </div>

    <div class="cursor-pointer border border-secondary rounded p-3 h-100 text-center @(Model.SelectedDataSet == SchoolModel.DataSet.UnverifiedPartial ? selectedStyle : unselectedStyle)" id="UnverifiedPartials">
        <div>Unverified Partial Absences</div>
        <div>@Model.Data.UnverifiedPartials</div>
    </div>

    <div class="cursor-pointer border border-secondary rounded p-3 h-100 text-center @(Model.SelectedDataSet == SchoolModel.DataSet.UnexplainedWhole ? selectedStyle : unselectedStyle)" id="UnexplainedWholes">
        <div>Unexplained Whole Absences</div>
        <div>@Model.Data.UnexplainedWholes</div>
    </div>
</div>

@if (Model.SelectedDataSet == SchoolModel.DataSet.UnexplainedPartial)
{
    <div>
        <h3>Unexplained Partial Absences</h3>

        <table class="table table-striped custom-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Period</th>
                    <th>Length</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.Data.Absences)
                {
                    <tr>
                        <td>@entry.StudentName</td>
                        <td>@entry.AbsenceDate.ToShortDateString()</td>
                        <td>@entry.AbsenceTimeframe</td>
                        <td>@entry.PeriodName (@entry.PeriodTimeframe)</td>
                        <td>@entry.AbsenceLength</td>
                        <td>@entry.ClassName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (Model.SelectedDataSet == SchoolModel.DataSet.UnexplainedWhole)
{
    <div>
        <h3>Unexplained Whole Absences</h3>

        <table class="table table-striped custom-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Period</th>
                    <th>Class</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.Data.Absences)
                {
                    <tr>
                        <td>@entry.StudentName</td>
                        <td>@entry.AbsenceDate.ToShortDateString()</td>
                        <td>@entry.PeriodTimeframe</td>
                        <td>@entry.PeriodName</td>
                        <td>@entry.ClassName</td>
                        <td><a asp-page="SchoolExplanation" asp-area="Portal" asp-route-id="@entry.AbsenceId" class="btn btn-info btn-show-hover">Explain</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <h3>Unverified Partial Absences</h3>

        <table class="table table-striped custom-data-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Period</th>
                    <th>Length</th>
                    <th>Class</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.Data.Absences)
                {
                    <tr>
                        <td>@entry.StudentName</td>
                        <td>@entry.AbsenceDate.ToShortDateString()</td>
                        <td>@entry.AbsenceTimeframe</td>
                        <td>@entry.PeriodName (@entry.PeriodTimeframe)</td>
                        <td>@entry.AbsenceLength</td>
                        <td>@entry.ClassName</td>
                        <td><a asp-page="SchoolVerification" asp-area="Portal" asp-route-id="@entry.AbsenceReasonId" class="btn btn-info btn-show-hover">Review</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts{
    <script>
        $('#schoolList').change(function () {
            var newCode = $('#schoolList').find(':selected').val();
            window.location.href = window.location.pathname + "?SchoolCode=" + newCode;
        })

        $('#UnexplainedPartials').click(function(e) {
            e.preventDefault;

            var schoolCode = $('#schoolList').find(':selected').val();
            window.location.href = window.location.pathname + "?SchoolCode=" + schoolCode + "&SelectedDataSet=UnexplainedPartial";
        })

        $('#UnexplainedWholes').click(function(e) {
            e.preventDefault;

            var schoolCode = $('#schoolList').find(':selected').val();
            window.location.href = window.location.pathname + "?SchoolCode=" + schoolCode + "&SelectedDataSet=UnexplainedWhole";
        })

        $('#UnverifiedPartials').click(function(e) {
            e.preventDefault;

            var schoolCode = $('#schoolList').find(':selected').val();
            window.location.href = window.location.pathname + "?SchoolCode=" + schoolCode + "&SelectedDataSet=UnverifiedPartial";
        })

        $(document).ready(function() {
            var groupColumn = 0;
            var table = $('.custom-data-table').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[ groupColumn, 'asc' ]],
                "displayLength": 10,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({page:'current'}).nodes();
                    var last = null;
                    var numCols = api.columns(':visible').count();
 
                    api.column(groupColumn, {page:'current'}).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="'+ numCols + '">'+group+'</td></tr>');
                            last = group;
                        }
                    });
                }
            });
 
            // Order by the grouping
            $('.custom-data-table tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                    table.order( [ groupColumn, 'desc' ] ).draw();
                }
                else {
                    table.order( [ groupColumn, 'asc' ] ).draw();
                }
            } );
        } );
    </script>
}