@page "{studentId}"
@model Constellation.Presentation.Server.Areas.Portal.Pages.Absences.StudentsModel

@using Constellation.Core.Models.Absences

<h2>Absences for @Model.StudentName</h2>

<div>
    @{
        var all_style = "btn-outline-secondary";
        var pending_style = all_style;

        switch (Model.ShowAll)
        {
            case false:
                pending_style = "btn-primary";
                break;
            case true:
                all_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-page="Students" asp-area="Portal" asp-route-studentId="@Model.StudentId" asp-route-ShowAll="true" class="btn @all_style">All</a>
        <a asp-page="Students" asp-area="Portal" asp-route-studentId="@Model.StudentId" asp-route-ShowAll="false" class="btn @pending_style">Pending</a>
    </div>
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Date</th>
            <th>Period</th>
            <th>Absence</th>
            <th>Class</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Absences)
        {
            <tr>
                <td>@Html.DisplayFor(model => entry.IsExplained, "BooleanTick")</td>
                <td>@entry.AbsenceType</td>
                <td>@entry.AbsenceDate.ToShortDateString()</td>
                <td>@entry.PeriodName</td>
                <td>@entry.Timeframe</td>
                <td>@entry.OfferingName</td>
                <td class="text-center">
                    @if (!entry.IsExplained && entry.AbsenceType == AbsenceType.Partial)
                    {
                        <a asp-page="StudentExplanation" asp-area="Portal" asp-route-id="@entry.AbsenceId" class="btn btn-sm btn-primary btn-show-hover">Explain</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
