@page "/Portal/Absences/Teachers/Update/{Id}"
@model Constellation.Presentation.Server.Areas.Portal.Pages.Absences.TeacherUpdateModel

@using Constellation.Core.ValueObjects;

@{
    Layout = "/Pages/Shared/_WebLayout.cshtml";
}

<h2>Missing Classwork Notification</h2>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label asp-for="Notification.OfferingName" class="col-md-2">Class</label>
            <div class="col-md-5">
                @Model.Notification.OfferingName
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Notification.AbsenceDate" class="col-md-2">Absence Date</label>
            <div class="col-md-5">
                @Model.Notification.AbsenceDate.ToLongDateString()
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Notification.Students" class="col-md-2">Students</label>
            <div class="col-md-5">
                <ul>
                    @foreach (Name student in Model.Notification.Students)
                    {
                        <li>@student.DisplayName</li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Notification.Description" class="col-md-2">Missed Work</label>
            <div class="col-md-10">
                <textarea asp-for="Notification.Description" rows="5" cols="100" class="form-control summernote"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });
    </script>
}