@page "/Portal/Absences/Teachers/Update/{Id}"
@model Constellation.Presentation.Server.Areas.Portal.Pages.Absences.TeacherUpdateModel

@{
    Layout = "/Pages/Shared/_WebLayout.cshtml";
}

<h2>Missing Classwork Notification</h2>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Notification.OfferingName, "Class", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 control-label text-left">
                @Model.Notification.OfferingName
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notification.AbsenceDate, "Absence Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 control-label text-left">
                @Model.Notification.AbsenceDate.ToLongDateString()
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notification.Students, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 control-label text-left">
                <ul>
                    @foreach (var student in Model.Notification.Students)
                    {
                        <li>@student.DisplayName</li>
                    }
                </ul>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Missed Work", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 5, 100, new { @class = "form-control summernote" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
        });
    </script>
}