@page
@model Constellation.Presentation.Parents.Areas.Parents.Pages.Contacts.IndexModel
@{
}

<h2>Contacts</h2>

@if (Model.SelectedStudent is null)
{
    // Show list of students in boxes to allow them to select a different student
    <h4>Select student to display:</h4>
    <ul class="list-group">
        @foreach (var student in Model.Students)
        {
            <button class="list-group-item list-group-item-action student-select-button" data-student-id="@student.StudentId">
                @student.DisplayName (@student.CurrentGrade)
            </button>
        }
    </ul>
}
else
{
    <div class="w-auto p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
        <span class="row d-flex align-items-center">
            @*Display as flex to enable vertical centering of the button in the second div*@
            <div class="col-lg">
                <div class="h4">Contacts for @Model.SelectedStudent?.DisplayName</div>
                @*If the view has collapsed and the button below is hidden, turn the entire entry into a clickable element*@
                @if (Model.Students.Count > 1)
                {
                    <span class="fst-italic">Click or tap to change</span>

                    <div class="d-block">
                        <a asp-route-studentId="" class="stretched-link"></a>
                    </div>
                }
            </div>
        </span>
    </div>
}

@foreach (var group in Model.Contacts.OrderBy(contact => contact.Category).GroupBy(contact => contact.Category))
{
    <div class="row mt-3">
        <h4>@group.Key</h4>

        @foreach (var entry in group.OrderBy(contact => contact.Detail))
        {
            <div class="p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
                <span class="row d-flex align-items-center">
                    <div class="col">
                        <div class="h5">@entry.DisplayName</div>
                        <span class="fst-italic">@entry.Detail</span>
                        <span class="d-block"><a href="mailto:@entry.EmailAddress" class="stretched-link">@entry.EmailAddress</a></span>
                        @if (!string.IsNullOrWhiteSpace(entry.PhoneNumber))
                        {
                            <span class="d-block">@entry.PhoneNumber</span>
                        }
                    </div>
                </span>
            </div>
        }
    </div>
}


@section scripts {
    <script>
        $('.student-select-button').on('click', function (e) {
            var studentId = $(this).data('studentId');

            var params = new URLSearchParams(location.search);
            params.set('StudentId', studentId);
            window.location.search = params.toString();
        })
    </script>
}