@page
@model Constellation.Presentation.Schools.Areas.Schools.Pages.DashboardModel

@using Constellation.Core.Extensions

<h1>Aurora College Schools Portal</h1>

@if (Model.CountPendingAttendancePlans > 0)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Pending Attendance Plans</h4>
        <p>Aurora College requires your response to confirm the availability of our shared students.</p>
        <p class="mb-0">Click here to <a asp-page="/Absences/Plans/Index" asp-area="Schools" class="alert-link">view pending Attendance Plans</a>.</p>
    </div>
}

@foreach (var group in Model.Students.GroupBy(student => student.Grade))
{
    <h4>@group.Key?.AsName()</h4>

    <div class="d-flex flex-row flex-wrap">
        @foreach (var student in group)
        {
            <div class="card m-3 float-start">
                <vc:student-photo student-id="@student.StudentId" />
                <div class="card-body">
                    <h5 class="card-title">@student.Name.PreferredName @student.Name.LastName</h5>
                    <p class="card-text">Grade: @student.Grade</p>
                </div>
            </div>
        }
    </div>
}