@{
    Layout = "/Pages/Shared/_WebLayout.cshtml";

    string activePage = ViewData["ActivePage"].ToString();
}

<div class="row sidebar-layout">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                <span class="w-100">Subjects</span>
            </h4>
            <ul class="nav flex-column mx-2">
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Courses ? "active" : "")" asp-page="/Courses/Index" asp-area="Subject">
                        Courses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Offerings ? "active" : "")" asp-page="/Offerings/Index" asp-area="Subject">
                        Offerings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Assignments ? "active" : "")" asp-page="/Assignments/Index" asp-area="Subject">
                        Assignments
                    </a>
                </li>
            </ul>
            
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                <span class="w-100 mt-3">Science Pracs</span>
            </h4>
            <ul class="nav flex-column mx-2">
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Lessons ? "active" : "")" asp-page="/SciencePracs/Lessons/Index" asp-area="Subject">
                        Lessons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Teachers ? "active" : "")" asp-page="/SciencePracs/Teachers/Index" asp-area="Subject">
                        Teachers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Reports ? "active" : "")" asp-page="/SciencePracs/Reports/Index" asp-area="Subject">
                        Reports
                    </a>
                </li>
            </ul>
            
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                <span class="w-100 mt-3">Group Tutorials</span>
            </h4>
            <ul class="nav flex-column mx-2">
                <li class="nav-item">
                    <a class="nav-link @(activePage == SubjectPages.Tutorials ? "active" : "")" asp-page="/GroupTutorials/Tutorials/Index" asp-area="Subject">
                        Tutorials
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-md-3">
        @RenderBody()
    </main>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var container = $('#main-container');
            container.removeClass('container');
            container.addClass('container-fluid')
        });
    </script>

    @await RenderSectionAsync("scripts", required: false)
}