@page
@model Constellation.Presentation.Staff.Areas.Staff.Pages.Subject.SciencePracs.Teachers.IndexModel

@using Constellation.Core.Models.SchoolContacts;
@using Constellation.Core.Models.SchoolContacts.Enums
@using Constellation.Core.ValueObjects

@inject IAuthorizationService authService

@{
    AuthorizationResult canEditTest = await authService.AuthorizeAsync(User, AuthPolicies.CanManageAbsences);
}

<h2>Science Practical Teachers</h2>

<div class="page-menu">
    @if (canEditTest.Succeeded)
    {
        <a asp-page="/Subject/SciencePracs/Teachers/Upsert" asp-area="Staff" class="btn btn-info">Create</a>
    }
</div>

<hr />

<table class="table-striped table-hover contact-table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>School</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td data-order="@(item.IsSelfRegistered ? 1 : 2)">
                    @if (item.IsSelfRegistered)
                    {
                        <i class="fal fa-flag"></i>
                    }
                </td>
                <td data-order="@item.Name.SortOrder">
                    @item.Name.DisplayName
                    @if (!string.IsNullOrWhiteSpace(item.Note))
                    {
                        <br/>
                        <span class="font-italic text-muted">@item.Note</span>
                    }
                </td>
                <td>@item.SchoolName</td>
                <td class="text-nowrap" data-order="@item.PhoneNumber.ToString(PhoneNumber.Format.None)">
                    @if (item.IsDirectNumber)
                    {
                        <i class="fal fa-user mr-2"></i>
                        @item.PhoneNumber.ToString()
                    }
                    else if (item.PhoneNumber != PhoneNumber.Empty)
                    {
                        <i class="fal fa-school mr-1"></i>
                        @item.PhoneNumber.ToString()
                    }
                </td>
                <td>@item.EmailAddress.Email</td>
                <td>
                    @if (canEditTest.Succeeded)
                    {
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle btn-show-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a asp-page="/Subject/SciencePracs/Teachers/Upsert" asp-area="Staff" asp-route-id="@item.Id.Value" class="dropdown-item">Edit Contact</a>
                                <button data-contact-id="@item.Id" data-name="@item.Name.DisplayName" class="dropdown-item create-assignment-button">Add Role</button>
                                <button data-contact-id="@item.Id" data-role-id="@item.AssignmentId" data-note="@item.Note" class="dropdown-item update-note-button">Update Note</button>
                                <button data-contact-id="@item.Id" data-role-id="@item.AssignmentId" data-name="@item.Name.DisplayName" data-role="@Position.SciencePracticalTeacher.Value" data-school="@item.SchoolName" class="dropdown-item delete-role-button">Remove Role</button>
                                <div class="dropdown-divider"></div>
                                <a asp-page-handler="Audit" asp-area="Staff" asp-route-id="@item.Id" class="dropdown-item">Audit Account</a>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.AntiForgeryToken()

<div class="modal fade" id="page-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.contact-table').DataTable({
                "order": [
                    [2, 'asc'],
                    [1, 'asc']
                ]
            });
        })

        $('.delete-role-button').click(function (event) {
            var contactId = $(this).data("contactId");
            var roleId = $(this).data("roleId");
            var name = $(this).data("name");
            var role = $(this).data("role");
            var school = $(this).data("school");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxDelete",
                type: "POST",
                data: { 
                    contactId: contactId,
                    roleId: roleId,
                    name: name,
                    role: role,
                    school: school,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });

        $('.update-note-button').click(function (event) {
            var contactId = $(this).data("contactId");
            var roleId = $(this).data("roleId");
            var note = $(this).data("note");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxUpdateNote",
                type: "POST",
                data: {
                    contactId: contactId,
                    roleId: roleId,
                    note: note,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });

        $('.create-assignment-button').click(function (event) {
            var contactId = $(this).data("contactId");
            var name = $(this).data("name");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxAssign",
                type: "POST",
                data: {
                    name: name,
                    contactId: contactId,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');

                // Activate any comboboxes
                $("#page-modal .combo").select2({ theme: 'bootstrap' });

                // Activate any comboboxes with free-text entry
                $("#page-modal .combo-with-tag").select2({
                    theme: 'bootstrap',
                    tags: true
                });
            });
        });
    </script>
}