@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.PartialViews.RemoveTeacherFromOfferingModal.RemoveTeacherFromOfferingModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Remove Teacher</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to remove @Model.TeacherName as @Model.AssignmentType from the @Model.CourseName offering @Model.OfferingName?</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="RemoveTeacher" asp-page="/Subject/Offerings/Details" asp-area="Staff" asp-route-id="@Model.OfferingId.Value" asp-route-staffId="@Model.StaffId" asp-route-assignmentType="@Model.AssignmentType" class="btn btn-danger">Remove Teacher</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>