@page "{eventId:guid}"
@using Constellation.Core.Models.Stocktake
@model Constellation.Presentation.Schools.Areas.Schools.Pages.Stocktake.SubmitModel
@{
}

<h2>Stocktake Device Sighting</h2>

<div class="form-horizontal">
    <form method="post">
        <div class="mb-3 row">
            <div class="col-md-8 alert alert-warning">
                Please note that the following are not included in the stocktake and do not need to be entered:
                <ul>
                    <li>Device accessories, such as chargers or pens</li>
                    <li>Keyboards and mice</li>
                    <li>Headsets and webcams</li>
                    <li>Laptop docks</li>
                </ul>
                If you are unsure, please contact the Technology Support Team on <strong>1300 610 733</strong> or at <strong>support@aurora.nsw.edu.au</strong> first.
            </div>
        </div>

        <div class="mb-3 row">
            <label class="form-label col-md-2">Asset Number</label>
            <div class="col-md-3">
                <input asp-for="AssetNumber" class="form-control" placeholder="e.g. AC00000000" />
            </div>
            <div class="col-md-5 alert alert-warning">
                The Aurora College asset number is on a white label with a black barcode. Asset numbers start with AC and contain eight digits. You only need to enter the digits, without the leading zeroes. E.g. AC00001234 becomes 1234.
            </div>
        </div>

        <div class="mb-3 row">
            <label class="form-label col-md-2">Serial Number</label>
            <div class="col-md-3">
                <input asp-for="SerialNumber" class="form-control" placeholder="e.g. LT01F123" />
            </div>
            <div class="col-md-5 alert alert-warning">
                The vendor serial number for the equipment. This can be in a range of locations, depending on the vendor. Student laptop serial numbers are usually on a sticker on the bottom of the device.
            </div>
        </div>

        <div class="mb-3 row">
            <label class="form-label col-md-2">Device Description</label>
            <div class="col-md-3">
                <input asp-for="Description" class="form-control" placeholder="e.g. Lenovo Laptop" />
            </div>
            <div class="col-md-5 alert alert-warning">
                A description or the type of the device. E.g. "Lenovo Laptop", or "HP Monitor", etc.
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-5">
                <div class="mb-3 row">
                    <label class="form-label col-md-5">User Type</label>
                    <div class="col-md-7 ps-1">
                        <select asp-for="UserType" onchange="UpdateUserType()" class="form-control" id="UserType">
                            <option value="">-- Select --</option>
                            <option value="@StocktakeSighting.UserTypes.Student">@StocktakeSighting.UserTypes.Student</option>
                            <option value="@StocktakeSighting.UserTypes.Staff">@StocktakeSighting.UserTypes.Staff</option>
                            <option value="@StocktakeSighting.UserTypes.School">@StocktakeSighting.UserTypes.School</option>
                            <option value="@StocktakeSighting.UserTypes.CommunityMember">@StocktakeSighting.UserTypes.CommunityMember</option>
                            <option value="@StocktakeSighting.UserTypes.Other">@StocktakeSighting.UserTypes.Other</option>
                        </select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="w-100"></div>
                    <label class="form-label col-md-5 mt-3">User</label>
                    <div class="col-md-7 mt-3 ps-1">
                        @Html.HiddenFor(model => model.UserCode)
                        <div id="UserTypeStudent">
                            <select id="Student_UserCode" onchange="UpdateStudent()" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (var student in Model.StudentList)
                                {
                                    <option value="@student.StudentId">@student.Name (@student.CurrentGrade)</option>
                                }
                            </select>
                            <span asp-validation-for="UserCode" class="text-danger"></span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div id="UserTypeStaff">
                            <select id="Staff_UserCode" onchange="UpdateStaff()" class="form-control">
                                <option value="">-- Select --</option>
                                @foreach (var staff in Model.StaffList)
                                {
                                    <option value="@staff.StaffId">@staff.DisplayName</option>
                                }
                            </select>
                            <span asp-validation-for="UserCode" class="text-danger"></span>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div id="UserTypeOther">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 alert alert-warning">
                Select the type of user (Student, Aurora College Staff Member, School, Community Member, or Other), and then the relevant user.
            </div>
        </div>

        <div class="mb-3 row">
            <label class="form-label col-md-2">Comment</label>
            <div class="col-md-3">
                <textarea asp-for="Comment" rows="5" cols="100" class="form-control"></textarea>
            </div>
            <div class="col-md-5 alert alert-warning">
                Any notes you have about the condition of the device. E.g. "Has a cracked screen", or "Missing pen", etc.
            </div>
        </div>

        <div class="mb-3 row">
            <div class="offset-1 col-md-3">
                <button class="btn btn-success btn-block btn-lg" type="submit">Submit</button>
            </div>
            <div class="col-md-1 ms-3">
                <a asp-page="/Stocktake/Index" asp-area="Schools" asp-route-eventId="@Model.EventId" class="btn btn-danger btn-block btn-lg">Cancel</a>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        UpdateUserType();
    })

    function UpdateUserType() {
        // Get current value of the UserType field
        var userType = $('select#UserType>option:selected');

        // Hide all UserName options
        $('#UserTypeStudent').hide();
        $('#UserTypeStaff').hide();
        $('#UserTypeOther').hide();

        // Reset all UserName options to blank
        $('#Command_UserCode').val('');
        $('#Student_UserCode').val('');
        $('#Staff_UserCode').val('');
        $('#Command_UserName').val('');

        // Show appropriate UserName option based on UserType value
        if (userType.val() === "@StocktakeSighting.UserTypes.Student") {
            $('#UserTypeStudent').show();
        } else if (userType.val() === "@StocktakeSighting.UserTypes.Staff") {
            $('#UserTypeStaff').show();
        } else if (userType.val() === "@StocktakeSighting.UserTypes.CommunityMember" ||
            userType.val() === "@StocktakeSighting.UserTypes.Other") {
            $('#UserTypeOther').show();
        }
    }

    function UpdateStudent() {
        // Get current value of select
        var studentId = $('#Student_UserCode').val();
        var studentName = $('#Student_UserCode option:selected').text();

        // Set the UserCode field to that value
        $('#UserCode').val(studentId);
        $('#UserName').val(studentName);
    }

    function UpdateStaff() {
        // Get current value of select
        var staffId = $('#Staff_UserCode').val();
        var staffName = $('#Staff_UserCode option:selected').text();

        // Set the UserCode field to that value
        $('#UserCode').val(staffId);
        $('#UserName').val(staffName);
    }

</script>