@page "/Awards/"

@using Constellation.Application.Students.GetStudentsByParentEmail;
@using Constellation.Core.Models.Identifiers
@using Constellation.Application.Awards.GetSummaryForStudent

@inject HttpClient Http
@inject IJSRuntime JS
@inject IModalService Modal

@attribute [Authorize]

<Loader IsLoading="ShowLoader">
    <h2>Student Awards</h2>

    @if (SelectingStudent)
    {
        // Show list of students in boxes to allow them to select a different student
        <h4>Select student to display:</h4>
        <ul class="list-group">
            @foreach (var student in Students)
            {
                <button class="list-group-item list-group-item-action @(student == SelectedStudent ? "active" : "")" @onclick="() => SelectNewStudent(student)">
                    @student.DisplayName (@student.CurrentGrade)
                </button>
            }
        </ul>
    } 
    else
    {
        <div class="w-auto p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
            <span class="row d-flex align-items-center">
                @*Display as flex to enable vertical centering of the button in the second div*@
                <div class="col-lg">
                    <div class="h4">Awards for @SelectedStudent.DisplayName</div>
                    @*If the view has collapsed and the button below is hidden, turn the entire entry into a clickable element*@
                    @if (Students.Count > 1)
                    {
                        <span class="fst-italic">Click or tap to change</span>

                        <div class="d-block">
                            <a @onclick="EnableStudentSelection" href="javascript:void(0)" class="stretched-link"></a>
                        </div>
                    }
                </div>
            </span>
        </div>

        <div class="row mt-3">
            <h4>Award Tally</h4>

            <div class="p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
                <span class="row d-flex align-items-center">
                    @*Display as flex to enable vertical centering of the button in the second div*@
                    <div class="fa-icon-sizing">
                        <i class="fad fa-star-shooting fa-3x app-theme"></i>
                    </div>
                    <div class="col">
                        <div class="h4">@AwardSummary.Astras Astra awards</div>
                        <span class="fst-italic">Astra awards are given out by classroom teachers.</span>
                    </div>
                </span>
            </div>

            <div class="p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
                <span class="row d-flex align-items-center">
                    @*Display as flex to enable vertical centering of the button in the second div*@
                    <div class="fa-icon-sizing">
                        <i class="fad fa-star-christmas fa-3x app-theme"></i>
                    </div>
                    <div class="col">
                        <div class="h4">@AwardSummary.Stellars Stellar awards</div>
                        <span class="fst-italic">5 Astra awards = 1 Stellar award.</span>
                    </div>
                </span>
            </div>

            <div class="p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
                <span class="row d-flex align-items-center">
                    @*Display as flex to enable vertical centering of the button in the second div*@
                    <div class="fa-icon-sizing">
                        <i class="fad fa-solar-system fa-3x app-theme"></i>
                    </div>
                    <div class="col">
                        <div class="h4">@AwardSummary.Galaxies Galaxy medals</div>
                        <span class="fst-italic">5 Stellar awards = 1 Galaxy Medal.</span>
                    </div>
                </span>
            </div>

            <div class="p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
                <span class="row d-flex align-items-center">
                    @*Display as flex to enable vertical centering of the button in the second div*@
                    <div class="fa-icon-sizing">
                        <i class="fad fa-galaxy fa-3x app-theme"></i>
                    </div>
                    <div class="col">
                        <div class="h4">@AwardSummary.Universals Universal Achiever awards</div>
                        <span class="fst-italic">5 Galaxy medals = 1 Universal Achiever award.</span>
                    </div>
                </span>
            </div>
        </div>

        <div class="row mt-3">
            <h4>Recent Award List</h4>

            @foreach (var award in AwardSummary.RecentAwards.OrderByDescending(award => award.AwardedOn).ToList())
            {
                <div class="p-2 ms-1 me-1 mb-2 position-relative border border-2 rounded-3">
                    <span class="row d-flex align-items-center">
                        <div class="col">
                            <div class="h4">@award.Type</div>
                            @if (!string.IsNullOrEmpty(award.AwardedBy))
                            {
                                <span class="fst-italic d-block">Awarded By @award.AwardedBy</span>
                            }

                            @if (!string.IsNullOrEmpty(award.AwardedFor))
                            {
                                <span class="fst-italic d-block">For @award.AwardedFor</span>
                            }

                            <span class="fst-italic d-block">On @award.AwardedOn.ToShortDateString()</span>
                        </div>
                        @if (award.HasCertificate)
                        {
                            <div class="fa-icon-sizing">
                                <a @onclick="() => Download(award.AwardId)" href="javascript:void(0)" class="stretched-link">
                                    <i class="fad fa-file-download fa-3x app-theme"></i>
                                </a>
                            </div>
                        }
                    </span>
                </div>
            }
        </div>
    }
</Loader>

@code {
    private List<StudentResponse> Students { get; set; } = new();
    private StudentResponse SelectedStudent { get; set; }
    private StudentAwardSummaryResponse AwardSummary { get; set; } = new(0, 0, 0, 0, new());

    public bool ShowLoader = false;
    private bool SelectingStudent = false;

    protected override async Task OnParametersSetAsync()
    {
        ShowLoader = true;

        try
        {
            var studentsRequest = await Http.GetFromJsonAsync<ApiResult<List<StudentResponse>>>($"Students");

            if (!studentsRequest.IsSuccess)
            {
                Console.WriteLine("Returned Failed Result Object");
                ModalParameters parameters = new() { { "Text", studentsRequest.Error!.Message } };

                ModalOptions options = new()
                {
                    Size = ModalSize.Automatic
                };

                IModalReference modal = Modal.Show<ErrorModal>(studentsRequest.Error.Code, parameters, options);
                await modal.Result;

                ShowLoader = false;

                return;
            }

            Students = studentsRequest.Value.OrderBy(student => student.CurrentGrade).ToList();

            if (Students.Count == 1)
            {
                SelectedStudent = Students.First();

                AwardSummary = await Http.GetFromJsonAsync<StudentAwardSummaryResponse>($"Awards/Student/{SelectedStudent.StudentId}");
            }

            if (Students.Count > 1)
            {
                SelectingStudent = true;
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        ShowLoader = false;
    }

    void EnableStudentSelection()
    {
        SelectingStudent = true;
    }

    async void SelectNewStudent(StudentResponse student)
    {
        ShowLoader = true;

        SelectedStudent = student;
        SelectingStudent = false;

        try
        {
            AwardSummary = await Http.GetFromJsonAsync<StudentAwardSummaryResponse>($"Awards/Student/{SelectedStudent.StudentId}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        ShowLoader = false;

        StateHasChanged();
    }

    void Download()
    {
        Console.WriteLine("Tried to download!");
    }

    async Task Download(StudentAwardId awardId)
    {
        Console.WriteLine($"Tried to download {awardId}, {awardId.ToString()}");

        try
        {
            ShowLoader = true;

            var response = await Http.PostAsJsonAsync($"Awards/Student/{SelectedStudent.StudentId}/Download/{awardId.ToString()}", new { });
            // This returns the file in the response variable.
            // Need to push it to the browser as a file download, possibly using JS
            // https://docs.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-6.0

            if (response.IsSuccessStatusCode)
            {
                var fileStream = response.Content.ReadAsStream();
                var award = AwardSummary.RecentAwards.First(award => award.AwardId == awardId);
                var filename = $"{SelectedStudent.DisplayName} - Astra Award - {award.AwardedOn:dd-MM-yyyy} - {award.IncidentId}.pdf";

                using var streamRef = new DotNetStreamReference(stream: fileStream);

                await JS.InvokeVoidAsync("downloadFileFromStream", filename, streamRef);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        finally
        {
            ShowLoader = false;
        }
    }
}
