@using Constellation.Presentation.Server.Areas.Reports.Models.Students
@model AwardsListViewModel

<h2>Student Award Changes</h2>

<style>
    td.Under {
        background-color: red;
        color: white;
    }

    td.Over {
        background-color: green;
        color: white;
    }
</style>

@foreach (var entry in Model.Awards.OrderBy(award => award.StudentGrade)) {
    <h4>@entry.StudentName (@entry.StudentGrade)</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Astras</th>
                <th>Stellars</th>
                <th>Galaxies</th>
                <th>Universals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Awarded</th>
                <td>@entry.AwardedAstras</td>
                <td>@entry.AwardedStellars</td>
                <td>@entry.AwardedGalaxies</td>
                <td>@entry.AwardedUniversals</td>
            </tr>
            <tr>
                <th>Calculated</th>
                <td></td>
                @if (entry.CalculatedStellars > entry.AwardedStellars)
                {
                    <td class="Over">@entry.CalculatedStellars</td>
                } else if (entry.CalculatedStellars < entry.AwardedStellars)
                {
                    <td class="Under">@entry.CalculatedStellars</td>
                } else
                {
                    <td>@entry.CalculatedStellars</td>
                }

                @if (entry.CalculatedGalaxies > entry.AwardedGalaxies)
                {
                    <td class="Over">@entry.CalculatedGalaxies</td>
                } else if (entry.CalculatedGalaxies < entry.AwardedGalaxies)
                {
                    <td class="Under">@entry.CalculatedGalaxies</td>
                } else
                {
                    <td>@entry.CalculatedGalaxies</td>
                }

                @if (entry.CalculatedUniversals > entry.AwardedUniversals)
                {
                    <td class="Over">@entry.CalculatedUniversals</td>
                } else if (entry.CalculatedUniversals < entry.AwardedUniversals)
                {
                    <td class="Under">@entry.CalculatedUniversals</td>
                } else
                {
                    <td>@entry.CalculatedUniversals</td>
                }
            </tr>
        </tbody>
    </table>
    <br />
}