@using Constellation.Infrastructure.Templates.Views.Emails.Absences
@model ParentAbsenceDigestEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Dear @Model.ParentName,</p>

@if (Model.WholeAbsences.Any())
{
    <p>Dear @Model.ParentName,</p>

    <p>Regular attendance at school is important for students to reach their potential. The school is required to record the reason for any absences as a way of ensuring that students are absent from school only when they are sick or have another good reason for missing school.</p>

    <p>Your child, @Model.StudentFirstName, was absent from the following lessons, and no explanation has been received.</p>

    <dl>
        @foreach (var entry in Model.WholeAbsences)
        {
            <dt>@entry.Date.ToLongDateString()</dt>
            <dd>@entry.PeriodName (@entry.PeriodTimeframe) - @entry.OfferingName</dd>
        }
    </dl>

    <p>Please assist us by using our Parent Portal as soon as possible: <a href="@ParentAbsenceDigestEmailViewModel.Link" target="_blank">@ParentAbsenceDigestEmailViewModel.Link</a></p>

    <p>Alternatively, you may wish to contact the school on 1300 287 629 or at <a href="mailto:auroracoll-h.school@det.nsw.edu.au">auroracoll-h.school@det.nsw.edu.au</a> to discuss your child's attendance.</p>
    <hr />
}

@if (Model.PartialAbsences.Any())
{
    <p>@Model.StudentFirstName was absent from a portion of a class on the following dates.</p>
    <dl>
        @foreach (var entry in Model.PartialAbsences.OrderBy(entry => entry.Date).ThenBy(entry => entry.PeriodName).ThenBy(entry => entry.AbsenceTimeframe))
        {
            <dt>@entry.Date.ToLongDateString()</dt>
            <dd>
                @entry.PeriodName (@entry.PeriodTimeframe) - @entry.OfferingName<br/>
                Absent: @entry.AbsenceTimeframe (@entry.AbsenceLength minutes)
            </dd>
        }
    </dl>
    <p>@Model.StudentFirstName is required to provide an explanation for the @(Model.PartialAbsences.Count > 1 ? "absences" : "absence") which will then be verified by the home school.</p>
    <p>To date, no explanation of these partial absences has been received.</p>
    <p>Please encourage @Model.StudentFirstName to enter an explanation for this absence using the Student Portal.</p>
    <hr />
}
