@using Constellation.Infrastructure.Templates.Views.Emails.Absences
@model ParentAbsenceDigestEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

@if (Model.WholeAbsences.Any())
{
    <p>@Model.StudentFirstName was absent from their entire class on the following dates and no satisfactory explanation has been received.</p>
    <dl>
        @foreach (var entry in Model.WholeAbsences.OrderBy(entry => entry.Date).ThenBy(entry => entry.PeriodName))
        {
            <dt>@entry.Date.ToLongDateString()</dt>
            <dd>@entry.PeriodName (@entry.PeriodTimeframe) - @entry.OfferingName</dd>
        }
    </dl>
    <p>The <i>Education Act 1990</i> requires you to ensure your child attends school each day that instruction is provided unless they are prevented from doing so by sickness or other acceptable reason and for you to provide an explanation for any absence.</p>
    <p>The Act requires you to explain your child's absences within seven days of their occurrence. Failure to do so will result in an unjustified absence being recorded.</p>
    <p>Please provide an explanation of these absences using our Parent Portal as soon as possible: <a href="@ParentAbsenceDigestEmailViewModel.Link" target="_blank">@ParentAbsenceDigestEmailViewModel.Link</a></p>
    <hr />
}

@if (Model.PartialAbsences.Any())
{
    <p>@Model.StudentFirstName was absent from a portion of a class lesson on the following dates.</p>
    <dl>
        @foreach (var entry in Model.PartialAbsences.OrderBy(entry => entry.Date).ThenBy(entry => entry.PeriodName).ThenBy(entry => entry.AbsenceTimeframe))
        {
            <dt>@entry.Date.ToLongDateString()</dt>
            <dd>
                @entry.PeriodName (@entry.PeriodTimeframe) - @entry.OfferingName<br/>
                @entry.AbsenceTimeframe (@entry.AbsenceLength minutes)
            </dd>
        }
    </dl>
    <p>These absences require @Model.StudentFirstName to provide an explanation which is then verified by their school.</p>
    <p>To date, no explanation of these partial absences have been received.</p>
    <p>Please encourage @Model.StudentFirstName to enter an explanation for this absence using the link sent to them via email.</p>
    <hr />
}

<p>If you have any questions or concerns about these absences, please contact our office on 1300 287 629 or at <a href="mailto:auroracoll-h.school@det.nsw.edu.au">auroracoll-h.school@det.nsw.edu.au</a></p>