@using Constellation.Infrastructure.Templates.Views.Emails.Absences
@model StudentAbsenceDigestEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Dear @Model.StudentName.FirstName,</p>
<p>For every student, a positive experience at school begins with consistent attendance. The evidence is clear that the more time you attend school, the greater your opportunity to learn, make new friends and improve wellbeing.</p>
<p>Our records show you were absent for portions of the following classes last week and no explanation has been provided. To prevent these absences being marked as unjustified, please submit an explanation which we will then send to your Aurora College Coordinator for confirmation.</p>
<dl>
    @foreach (var entry in Model.PartialAbsences)
    {
        <dt>@entry.Date.ToLongDateString()</dt>
        <dd>
            @entry.PeriodName (@entry.PeriodTimeframe) - @entry.OfferingName<br/>
            Absent: @entry.AbsenceTimeframe (@entry.AbsenceLength minutes)
        </dd>
    }
</dl>
<p>You can review all outstanding absence details at the following link: <a href="@Model.Link" target="_blank">@Model.Link</a></p>
<p>If you have any questions or concerns about this absence, please contact our office on 1300 287 629 or at <a href="mailto:auroracoll-h.school@det.nsw.edu.au">auroracoll-h.school@det.nsw.edu.au</a></p>