@page "/Stocktake/"

@attribute [Authorize]

@inject IMediator mediator
@inject NavigationManager NavigationManager

<h2>Stocktake Data Collection</h2>

<div>
    <a onclick="@(() => SubmitSighting(CurrentlySelectedStocktake.Id))" class="btn btn-primary">Sight Device</a>
</div>

<hr />

<div class="form-horizontal">
    <div class="form-group row">
        <label class="col-md-2">Stocktake</label>
        <div class="col-md-6">
            @if (ShowChangeStocktakeBox)
                {
                    <select class="form-control" @onchange="ChangeStocktake" @onblur="RestoreStocktakeLabel">
                        @foreach (var stocktake in StocktakeEvents)
                        {
                            var selected = CurrentlySelectedStocktake.Id == stocktake.Id;
                            <option value="@stocktake.Id" selected="@selected">@stocktake.Name</option>
                        }
                    </select>
                } else
                {
                    @CurrentlySelectedStocktake?.Name
                    @if (StocktakeEvents.Count > 1)
                    {
                        <button class="btn btn-sm btn-secondary ml-4" @onclick="ToggleChangeStocktakeBox">Change</button>
                    }
                }
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-2">Start Date</label>
        <div class="col-md-3">@CurrentlySelectedStocktake?.StartDate.ToShortDateString()</div>
        <label class="col-md-2">End Date</label>
        <div class="col-md-3">@CurrentlySelectedStocktake?.EndDate.ToShortDateString()</div>
    </div>
</div>

<hr />

<DataTable Items="Sightings.ToList()" TItem="StocktakeSightingsForList">
    <TableHeader>
            <th>Serial / Asset</th>
            <th>Description</th>
            <th>User</th>
            <th>Sighted</th>
    </TableHeader>
    <RowTemplate Context="entry">
        <td>@entry.SerialNumber / @entry.AssetNumber</td>
        <td>@entry.Description</td>
        <td>@entry.UserName</td>
        <td>@entry.SightedBy (@entry.SightedAt.ToShortDateString())</td>
    </RowTemplate>
</DataTable>

@code {
    [CascadingParameter]
    public SchoolDto SelectedSchool { get; set; }
    public SchoolDto CurrentlySelectedSchool { get; set; }

    public ICollection<StocktakeEventsForList> StocktakeEvents { get; set; } = new List<StocktakeEventsForList>();
    public StocktakeEventsForList CurrentlySelectedStocktake { get; set; }
    public ICollection<StocktakeSightingsForList> Sightings { get; set; } = new List<StocktakeSightingsForList>();

    private bool ShowChangeStocktakeBox = false;

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedSchool != null && SelectedSchool != CurrentlySelectedSchool)
        {
            CurrentlySelectedSchool = SelectedSchool;

            StocktakeEvents = await mediator.Send(new GetCurrentStocktakeEventsQuery());

            CurrentlySelectedStocktake = StocktakeEvents.FirstOrDefault();

            if (CurrentlySelectedStocktake != null)
            {
                Sightings = await mediator.Send(new GetStocktakeSightingsForSchoolQuery { SchoolCode = SelectedSchool.Code, StocktakeEvent = CurrentlySelectedStocktake.Id });
            }
        }
    }

    private void SubmitSighting(Guid StocktakeId)
    {
        NavigationManager.NavigateTo($"Stocktake/Submit/{StocktakeId}");
    }

    private void ToggleChangeStocktakeBox()
    {
        ShowChangeStocktakeBox = true;
    }

    private void RestoreStocktakeLabel()
    {
        ShowChangeStocktakeBox = false;
    }

    private void ChangeStocktake(ChangeEventArgs e)
    {
        var stocktakeId = e.Value.ToString();
        CurrentlySelectedStocktake = StocktakeEvents.First(stocktake => stocktake.Id.ToString() == stocktakeId);

        ShowChangeStocktakeBox = false;
    }
}
