@page
@model Constellation.Presentation.Server.Areas.Equipment.Pages.Assets.IndexModel
@using Constellation.Application.Extensions
@using Constellation.Presentation.Server.Areas.Equipment.Pages.Assets
@using LinqKit

<h2>Assets</h2>

<div class="page-menu">
    @{
        var all_style = "btn-outline-secondary";
        var active_style = all_style;
        var disposed_style = all_style;

        switch (Model.Filter)
        {
            case IndexModel.FilterEnum.All:
                all_style = "btn-primary";
                break;
            case IndexModel.FilterEnum.Active:
                active_style = "btn-primary";
                break;
            case IndexModel.FilterEnum.Disposed:
                disposed_style = "btn-primary";
                break;
        }
    }

    <div class="btn-group">
        <a asp-route-filter="@IndexModel.FilterEnum.All" class="btn @all_style">All</a>
        <a asp-route-filter="@IndexModel.FilterEnum.Active" class="btn @active_style">Active</a>
        <a asp-route-filter="@IndexModel.FilterEnum.Disposed" class="btn @disposed_style">Disposed</a>
    </div>
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th>Asset Number</th>
            <th>Serial Number</th>
            <th>Model</th>
            <th>Status</th>
            <th>User</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assets.OrderBy(item => item.AssetNumber))
        {
            <tr>
                <td>@item.AssetNumber</td>
                <td data-order="@item.SerialNumber" data-search="@item.SerialNumber">
                    @if (item.SerialNumber.Length > 10)
                    {
                        <span>@item.SerialNumber[..10] ...</span>
                    }
                    else
                    {
                        <span>@item.SerialNumber</span>
                    }
                </td>
                <td>@item.ModelDescription</td>
                <td>@item.Status</td>
                <td>@item.AllocatedTo</td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.LocationType))
                    {
                        @item.LocationType<br />
                        @if (item.LocationName.Contains(','))
                        {
                            var lines = item.LocationName.Split(',');
                            var combined = string.Join("<br />", lines.Select(line => line.Trim()));
                            <span class="text-nowrap">@Html.Raw(combined)</span>
                        }
                        else
                        {
                            @item.LocationName
                        }
                    }
                </td>
                <td>
                    <a asp-page="/Assets/Details" asp-route-assetNumber="@item.AssetNumber" asp-area="Equipment" class="btn btn-sm btn-info btn-show-hover">More Info...</a>
                </td>
            </tr>
        }
    </tbody>
</table>