@page "{id:Guid?}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Consent.Applications.UpsertModel

@using ApplicationId = Constellation.Core.Models.ThirdPartyConsent.Identifiers.ApplicationId

@{
    var title = Model.Id != ApplicationId.Empty ? "Edit Application Record" : "Create New Application Record";
}

<h2>@title</h2>

<div class="page-menu">
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<form method="post" id="pageForm">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <label asp-for="Name" class="col-md-2">Name</label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Purpose" class="col-md-2">Purpose</label>
            <div class="col-md-8">
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="InformationCollected" class="col-md-2">Information Collected</label>
            <div id="infoCollList" class="col-md-8">
                <span asp-validation-for="InformationCollected" class="text-danger"></span>
                @for (int i = 0; i < Model.InformationCollected.Count; i++)
                {
                    <div class="input-group" id="infoColl-@i">
                        <input type="text" class="form-control" name="informationCollected[@i]" id="informationCollected[@i]" value="@Model.InformationCollected[i]">
                        <div class="input-group-append" id="button-addon-infoColl-@i">
                            <button class="btn btn-outline-danger" type="button" onClick="removeInfoCollItem('@i')">-</button>
                            @if (i == Model.InformationCollected.Count - 1)
                            {
                                <button class="btn btn-outline-success" type="button" onClick="addInfoCollItem('@Model.InformationCollected.Count')">+</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="StoredCountry" class="col-md-2">Stored Country</label>
            <div class="col-md-8">
                <input asp-for="StoredCountry" class="form-control"/>
                <span asp-validation-for="StoredCountry" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="SharedWith" class="col-md-2">Shared With</label>
            <div id="sharedWithList" class="col-md-8">
                <span asp-validation-for="SharedWith" class="text-danger"></span>
                @for (int i = 0; i < Model.SharedWith.Count; i++)
                {
                    <div class="input-group" id="sharedWith-@i">
                        <input type="text" class="form-control" name="sharedWith[i]" id="sharedWith[@i]" value="@Model.SharedWith[i]">
                        <div class="input-group-append" id="button-addon-sharedWith-@i">
                            <button class="btn btn-outline-danger" type="button" onclick="removeSharedWithItem('@i')">-</button>
                            @if (i == Model.SharedWith.Count - 1)
                            {
                                <button class="btn btn-outline-success" type="button" onclick="addSharedWithItem('@Model.SharedWith.Count')">+</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="ConsentRequired" class="col-md-2">Consent Required</label>
            <div class="col-md-8">
                <input asp-for="ConsentRequired" class="form-control"/>
                <span asp-validation-for="ConsentRequired" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function addInfoCollItem(nextId) {
            var id = Number(nextId);

            var prevId = id - 1;
            var currId = id;
            var incrId = id + 1;

            // Remove the add button from the current input
            $('#button-addon-infoColl-' + prevId).children().last().remove();

            // Add new input with new index number
            var input = '<div class="input-group" id="infoColl-' + currId + '">';
            input += '<input type="text" class="form-control" name="informationCollected[' + currId + ']" >';
            input += '<div class="input-group-append" id="button-addon-infoColl-' + currId + '">';
            input += '<button class="btn btn-outline-danger" type="button" onClick="removeInfoCollItem(\'' + currId + '\')">-</button>';
            input += '<button class="btn btn-outline-success" type="button" onClick="addInfoCollItem(\'' + incrId + '\')">+</button>';
            input += '</div>';
            input += '</div>';
            
            $('#infoCollList').append(input);
        }

        function addSharedWithItem(nextId) {
            var id = Number(nextId);

            var prevId = id - 1;
            var currId = id;
            var incrId = id + 1;

            // Remove the add button from the current input
            $('#button-addon-sharedWith-' + prevId).children().last().remove();

            // Add new input with new index number
            var input = '<div class="input-group" id="sharedWith-' + currId + '">';
            input += '<input type="text" class="form-control" name="sharedWith[' + currId + ']" id="sharedWith[' + currId + ']">';
            input += '<div class="input-group-append" id="button-addon-sharedWith-' + currId + '">';
            input += '<button class="btn btn-outline-danger" type="button" onClick="removeSharedWithItem(\'' + currId + '\')">-</button>';
            input += '<button class="btn btn-outline-success" type="button" onClick="addSharedWithItem(\'' + incrId + '\')">+</button>';
            input += '</div>';
            input += '</div>';

            $('#sharedWithList').append(input);
        }

        function removeInfoCollItem(infoCollId) {
            var id = Number(infoCollId);
            
            var prevId = id - 1;
            var currId = id;
            var incrId = id + 1;

            var lastItem = $('infoColl-' + incrId).length;

            // Remove item at the index selected
            if (currId == 0 && lastItem) {
                $('#informationCollected[' + currId + ']').val("");
            }
            else {
                $('#infoColl-' + currId).remove();

                // Check if it is the last item
                if (lastItem) {
                    // There is another entry after this, do nothing
                }
                else {
                    var input = '<button class="btn btn-outline-success" type="button" onClick="addInfoCollItem(\'' + currId + '\')">+</button>';

                    $('button-addon-infoColl-' + prevId).append(input);
                }
            }
        }

        function removeSharedWithItem(sharedWithId) {
            var id = Number(sharedWithId);

            var prevId = id - 1;
            var currId = id;
            var incrId = id + 1;

            var lastItem = $('sharedWith-' + incrId).length;

            // Remove item at the index selected
            if (currId == 0 && lastItem) {
                $('#sharedWith[' + currId + ']').val("");
            }
            else {
                $('#sharedWith-' + currId).remove();

                // Check if it is the last item
                if (lastItem) {
                    // There is another entry after this, do nothing
                }
                else {
                    var input = '<button class="btn btn-outline-success" type="button" onClick="addSharedWithItem(\'' + currId + '\')">+</button>';

                    $('button-addon-sharedWith-' + prevId).append(input);
                }
            }
        }

        $('#pageForm').submit(function () {
            var i = 0;

            $('#infoCollList input').each(function () {
                $(this).attr("name", "informationCollected[" + i + "]");
                i++;
            });

            i = 0;

            $('#sharedWithList input').each(function () {
                $(this).attr("name", "sharedWith[" + i + "]");
                i++;
            });

            return true;
        })
    </script>
}