@page
@model DashboardModel

<style>
    .quick-links {
        width: 27%;
        margin-right: 3%;
        float: left;
    }

    .classwork-notifications {
        width: 70%;
        float: right;
    }

    .text-center {
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid orange;
    }
</style>

<div class="text-center">
    <h2>Welcome, @Model.UserName</h2>

@*    <div class="alert alert-info text-left mt-3" role="alert">
        <h4 class="alert-heading">Stocktake</h4>
        <p>Please take the time to register your Aurora College equipment in the current stocktake. Click <a class="alert-link" asp-area="Equipment" asp-controller="Stocktake" asp-action="StaffDashboard" asp-route-id="256d068a-d8cc-4220-ec2b-08da5fb7be30">here</a> to view the stocktake details, or use the stocktake button in the Quick Links section below.</p>
    </div>*@
</div>

<div class="quick-links">
    <h3>Quick Links</h3>

    @if (Model.IsAdmin)
    {
        <a class="btn btn-success btn-block" href="/hangfire">Hangfire</a>
        <a asp-page="HangfireDashboard" asp-area="Admin" class="btn btn-success btn-block">Job Activation</a>
    }

    <a class="btn btn-success btn-block" asp-page="/Training/Staff/Index" asp-route-staffId="@Model.StaffId" asp-area="SchoolAdmin">Mandatory Training <span class="badge badge-light">@Model.ExpiringTraining</span><span class="sr-only">training certificates expiring soon</span></a>

    @*<a class="btn btn-warning btn-block" asp-area="Equipment" asp-controller="Stocktake" asp-action="StaffDashboard" asp-route-id="256d068a-d8cc-4220-ec2b-08da5fb7be30">Stocktake</a>*@

    @foreach (var entry in @Model.Classes.OrderBy(entry => entry.Key))
    {
        <a class="btn btn-secondary btn-block" asp-area="Subject" asp-page="/Offerings/Details" asp-route-id="@entry.Value">@entry.Key</a>
    }
</div>

<div class="main-content">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="alert alert-success">
            <h5 class="alert-heading">Daily Affirmation</h5>
            <p>@Model.Message</p>
        </div>
    }
    
    <div class="row row-cols-1 row-cols-md-3">
        @if (Model.ShowTrainingWidgets)
        {
            <div class="col mb-4">
                <div class="card h-100 @(Model.WithoutRole > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Mandatory Training</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.WithoutRole</h3>
                        <p class="card-text">staff members without an assigned Training Role</p>
                        <a asp-page="/Training/Roles/Index" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }

        @if (Model.ShowAbsenceWidgets)
        {
            <div class="col mb-4">
                <div class="card h-100 @(Model.PartialScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.PartialScanDisabled</h3>
                        <p class="card-text">students with Partial Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100 @(Model.WholeScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.WholeScanDisabled</h3>
                        <p class="card-text">students with Whole Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
        
        @if (Model.ShowAbsenceWidgets)
        {
            <div class="col mb-4">
                <div class="card h-100 @(Model.PartialScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.PartialScanDisabled</h3>
                        <p class="card-text">students with Partial Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100 @(Model.WholeScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.WholeScanDisabled</h3>
                        <p class="card-text">students with Whole Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
        
        @if (Model.ShowAbsenceWidgets)
        {
            <div class="col mb-4">
                <div class="card h-100 @(Model.PartialScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.PartialScanDisabled</h3>
                        <p class="card-text">students with Partial Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100 @(Model.WholeScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.WholeScanDisabled</h3>
                        <p class="card-text">students with Whole Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
        
        @if (Model.ShowAbsenceWidgets)
        {
            <div class="col mb-4">
                <div class="card h-100 @(Model.PartialScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.PartialScanDisabled</h3>
                        <p class="card-text">students with Partial Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100 @(Model.WholeScanDisabled > 0 ? "text-white bg-danger" : "text-white bg-success")">
                    <div class="card-header">Absence Scanning</div>
                    <div class="card-body">
                        <h3 class="card-title card-title-large">@Model.WholeScanDisabled</h3>
                        <p class="card-text">students with Whole Absence Scanning disabled</p>
                        <a asp-page="/Absences/Audit" asp-area="SchoolAdmin" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
