@model DeleteRoleModalViewModel

<div class="modal-header">
    <h5 class="modal-title">Unenrol Student</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col">
            <span class="control-label">Are you sure you wish to remove @Model.StudentName from the @Model.CourseName offering @Model.OfferingName?</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a asp-page-handler="UnenrolStudent" asp-page="/Offerings/Details" asp-area="Subject" asp-route-id="@Model.OfferingId" asp-route-studentId="@Model.StudentId" class="btn btn-danger">Unenrol Student</a>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
</div>