@page "/Awards/Nominations/{PeriodId:guid}/Nominate"
@model Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Awards.Nominations.NominateModel

@using Constellation.Core.ValueObjects;
@using Constellation.Presentation.Server.Areas.SchoolAdmin.Pages.Awards.Nominations;

<h2>Award Nomination</h2>

<div class="page-menu">
    <a asp-page="Details" asp-area="SchoolAdmin" asp-route-periodId="@Model.PeriodId" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<form method="post">
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PeriodId)
        <input type="hidden" id="CurrentStep" name="CurrentStep" value="@Model.CurrentStep" />
        @for(int i = 0; i < Model.PreviousSteps.Count; i++)
        {
            @Html.HiddenFor(model => model.PreviousSteps[i])
        }

        <div class="form-group row">
            <label asp-for="Type" class="col-md-2">Award Type</label>
            <div class="col-md-8">
                <select asp-for="Type" class="form-control combo custom-select">
                    <option selected="selected" value=""> -- Please Select -- </option>
                    <option value="@AwardType.FirstInSubject.Value">@AwardType.FirstInSubject.Value</option>
                    <option value="@AwardType.AcademicExcellence.Value">@AwardType.AcademicExcellence.Value</option>
                    <option value="@AwardType.AcademicExcellenceMathematics.Value">@AwardType.AcademicExcellenceMathematics.Value</option>
                    <option value="@AwardType.AcademicExcellenceScienceTechnology.Value">@AwardType.AcademicExcellenceScienceTechnology.Value</option>

                    <option value="@AwardType.AcademicAchievement.Value">@AwardType.AcademicAchievement.Value</option>
                    <option value="@AwardType.AcademicAchievementMathematics.Value">@AwardType.AcademicAchievementMathematics.Value</option>
                    <option value="@AwardType.AcademicAchievementScienceTechnology.Value">@AwardType.AcademicAchievementScienceTechnology.Value</option>

                    <option value="@AwardType.PrincipalsAward.Value">@AwardType.PrincipalsAward.Value</option>
                    <option value="@AwardType.GalaxyMedal.Value">@AwardType.GalaxyMedal.Value</option>
                    <option value="@AwardType.UniversalAchiever.Value">@AwardType.UniversalAchiever.Value</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>

        @if (Model.CurrentStep == NominateModel.Phase.CourseSelection)
        {
            <div id="CourseSelect" class="form-group row">
                <label asp-for="CourseId" class="col-md-2">Course</label>
                <div class="col-md-8">
                    <select asp-for="CourseId" asp-items="@Model.Courses" class="form-control combo">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
        }

        @if (Model.PreviousSteps.Contains(NominateModel.Phase.CourseSelection))
        {
            <div id="CourseSelect" class="form-group row">
                <label asp-for="CourseId" class="col-md-2">Course</label>
                <div class="col-md-8">
                    <select asp-for="CourseId" asp-items="@Model.Courses" class="form-control combo" readonly="readonly">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>
        }

        @if (Model.CurrentStep == NominateModel.Phase.OfferingSelection)
        {
            <div id="ClassSelect" class="form-group row">
                <label asp-for="OfferingId" class="col-md-2">Class</label>
                <div class="col-md-5">
                    <select asp-for="OfferingId" asp-items="@Model.Offerings" class="form-control combo">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="OfferingId" class="text-danger"></span>
                </div>
            </div>
        }

        @if (Model.PreviousSteps.Contains(NominateModel.Phase.OfferingSelection))
        {
            <div id="ClassSelect" class="form-group row">
                <label asp-for="OfferingId" class="col-md-2">Class</label>
                <div class="col-md-5">
                    <select asp-for="OfferingId" asp-items="@Model.Offerings" class="form-control combo" readonly="readonly">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="OfferingId" class="text-danger"></span>
                </div>
            </div>
        }

        @if (Model.CurrentStep == NominateModel.Phase.StudentSelection)
        {
            <div class="form-group row">
                <label asp-for="StudentId" class="col-md-2">Student</label>
                <div class="col-md-8">
                    <select asp-for="StudentId" asp-items="@(new SelectList(Model.StudentsList, "StudentId", "StudentName"))" class="form-control combo">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-3">
                <input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}