@using Constellation.Infrastructure.Templates.Views.Emails.MissedWork
@model ParentMissedWorkNotificationEmailViewModel

@{
    Layout = "/Views/Shared/EmailLayout.cshtml";

    ViewData["Preheader"] = Model.Preheader;
    ViewData["Title"] = Model.Title;
    ViewData["SenderName"] = Model.SenderName;
    ViewData["SenderTitle"] = Model.SenderTitle;
}

<p>Our records indicate that @Model.StudentName was absent from their @Model.CourseName class @Model.OfferingName on @Model.AbsenceDate.ToLongDateString().</p>
<p>To ensure that they remain on track with their peers, please find details below of the work missed during this lesson:</p>
@Html.Raw(@Model.WorkDescription)
<p>A copy of this information has also been sent via email to @Model.StudentName.</p>
<p>We also request that you provide an explanation for this absence via our portal at <a href="@Model.Link" target="_blank">@Model.Link</a></p>