@page "/Contacts/Create"

@    using Blazored.FluentValidation
@    using Constellation.Core.Models
@    using Constellation.Application.SchoolContacts.CreateContactWithRole

@attribute [Authorize]

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IModalService Modal

<Loader IsLoading="@IsLoading">
    <h2>New School Contact</h2>

    <div class="form-horizontal">
        <EditForm Model="Context" OnValidSubmit="SubmitResponse">
            <FluentValidationValidator />
            <ValidationSummary />

            <div class="mb-3 row">
                <label class="form-label col-md-2">First Name</label>
                <div class="col-md-3">
                    <InputText @bind-Value="Context.FirstName" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-md-2">Last Name</label>
                <div class="col-md-3">
                    <InputText @bind-Value="Context.LastName" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-md-2">Phone Number</label>
                <div class="col-md-3">
                    <InputText @bind-Value="Context.PhoneNumber" class="form-control" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-md-2">Email Address</label>
                <div class="col-md-3">
                    <InputText @bind-Value="Context.EmailAddress" class="form-control" placeholder="john.smith1@det.nsw.edu.au" />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-md-2">Phone Number</label>
                <div class="col-md-3">
                    <select @bind="Context.Position" class="form-control">
                        <option value="">-- Select --</option>
                        <option value="@SchoolContactRole.Principal">@SchoolContactRole.Principal</option>
                        <option value="@SchoolContactRole.Coordinator">@SchoolContactRole.Coordinator</option>
                        <option value="@SchoolContactRole.SciencePrac">@SchoolContactRole.SciencePrac</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-md-2">School</label>
                <div class="col-md-3">
                    @SelectedSchool.Name
                </div>
            </div>

            <div class="mb-3 row">
                <div class="offset-1 col-md-3">
                    <button class="btn btn-success btn-block btn-lg" type="submit">Submit</button>
                </div>
                <div class="col-md-1 ms-3">
                    <button class="btn btn-danger btn-block btn-lg" @onclick="Cancel">Cancel</button>
                </div>
            </div>
        </EditForm>
    </div>
</Loader>

@code {
    [CascadingParameter]
    public SchoolDto SelectedSchool { get; set; }
    public SchoolDto CurrentlySelectedSchool { get; set; }

    private bool IsLoading { get; set; } = false;

    public FormContext Context { get; set; } = new();

    protected override void OnParametersSet()
    {
        IsLoading = true;

        // Is this the first time the page has rendered?
        // (Selected Site School exists) and (Page School is not Selected Site School) and (Page School is empty)
        if (SelectedSchool != null && CurrentlySelectedSchool != SelectedSchool && CurrentlySelectedSchool == null)
        {
            CurrentlySelectedSchool = SelectedSchool;
        }

        // Has the school been changed at the site level?
        // (Selected Site School exists) and (Page School is not Selected Site School) and (Page School is no empty)
        if (SelectedSchool != null && CurrentlySelectedSchool != SelectedSchool && CurrentlySelectedSchool != null)
        {
            NavigationManager.NavigateTo("Contacts");
        }

        Context.SchoolCode = SelectedSchool.Code;

        IsLoading = false;
    }

    private void Cancel() => NavigationManager.NavigateTo("Contacts");

    private async Task SubmitResponse()
    {
        IsLoading = true;

        CreateContactWithRoleCommand command = Context.ConvertToCommand();

        HttpResponseMessage response = await Http.PostAsJsonAsync($"api/Contacts/New", command);
        ApiResult result = await response.Content.ReadFromJsonAsync<ApiResult>();

        if (!result.IsSuccess)
        {
            ModalParameters parameters = new() { { "Text", result.Error!.Message } };

            ModalOptions options = new()
            {
                Size = ModalSize.Automatic
            };

            IModalReference modal = Modal.Show<ErrorModal>(result.Error.Code, parameters, options);
            await modal.Result;

            return;
        }

        IsLoading = false;

        NavigationManager.NavigateTo("Contacts");
    }

    public class FormContext
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string PhoneNumber { get; set; }
        public string EmailAddress { get; set; }
        public string Position { get; set; }
        public string SchoolCode { get; set; }

        public CreateContactWithRoleCommand ConvertToCommand()
        {
            return new CreateContactWithRoleCommand(
                FirstName,
                LastName,
                EmailAddress,
                PhoneNumber,
                Position,
                SchoolCode,
                true);
        }
    }
}
