@page
@    using Constellation.Core.Models;
    using Constellation.Core.Models.SchoolContacts;
@model Constellation.Presentation.Server.Areas.Subject.Pages.SciencePracs.Teachers.IndexModel

@inject IAuthorizationService authService

@{
    AuthorizationResult canEditTest = await authService.AuthorizeAsync(User, AuthPolicies.CanManageAbsences);
}

<h2>Science Practical Teachers</h2>

<div class="page-menu">
    @if (canEditTest.Succeeded)
    {
        <a asp-page="Upsert" asp-area="Subject" class="btn btn-info">Create</a>
    }
</div>

<hr />

<table class="table-striped table-hover data-table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>School</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    @if (item.SelfRegistered)
                    {
                        <i class="fal fa-flag"></i>
                    }
                </td>
                <td>@item.ContactName.DisplayName</td>
                <td>@item.SchoolName</td>
                <td>@item.ContactEmail.Email</td>
                <td>
                    @if (canEditTest.Succeeded)
                    {
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle btn-show-hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions</button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a asp-page="Upsert" asp-area="Subject" asp-route-id="@item.Id" class="dropdown-item">Edit Contact</a>
                                <button data-contact-id="@item.Id" data-name="@item.ContactName.DisplayName" class="dropdown-item create-assignment-button">Add Role</button>
                                <button data-role-id="@item.RoleId" data-name="@item.ContactName.DisplayName" data-role="@SchoolContactRole.SciencePrac" data-school="@item.SchoolName" class="dropdown-item delete-role-button">Remove Role</button>
                                <div class="dropdown-divider"></div>
                                <a asp-page="Audit" asp-area="Subject" asp-route-id="@item.Id" class="dropdown-item">Audit Account</a>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.AntiForgeryToken()

<div class="modal fade" id="page-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section scripts {
    <script>
        $('.delete-role-button').click(function (event) {
            var roleId = $(this).data("roleId");
            var name = $(this).data("name");
            var role = $(this).data("role");
            var school = $(this).data("school");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxDelete",
                type: "POST",
                data: { 
                    roleId: roleId,
                    name: name,
                    role: role,
                    school: school,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });

        $('.create-assignment-button').click(function (event) {
            var contactId = $(this).data("contactId");
            var name = $(this).data("name");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxAssign",
                type: "POST",
                data: {
                    name: name,
                    contactId: contactId,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');

                // Activate any comboboxes
                $("#page-modal .combo").select2({ theme: 'bootstrap' });

                // Activate any comboboxes with free-text entry
                $("#page-modal .combo-with-tag").select2({
                    theme: 'bootstrap',
                    tags: true
                });
            });
        });
    </script>
}