@model Constellation.Infrastructure.Templates.Views.Documents.ThirdParty.TransactionViewModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aurora College Class Roll</title>
    <style>
        body {
            font-size: 16px;
        }

        .mt-2 {
            margin-top: 0.5em;
        }

        .mt-3 {
            margin-top: 1em;
        }

        .mt-4 {
            margin-top: 1.25em;
        }

        .w-25 {
            width: 25%;
        }

        td.app-card {
            padding: 1rem .25rem .25rem .5rem;
            vertical-align: top;
            border-bottom: 1px solid;
        }

        tr th {
            width: 30%;
        }

        tr td {
            width: 70%;
        }

        tr td, tr th {
            padding: 1em;
            border: 1px solid;
        }

        th {
            text-align: left;
        }

        .table-roll {
            width: 95%;
            font-size: 12px;
            border: 1px solid;
            border-collapse: collapse;
        }

        .offset-1 {
            margin-left: 5%;
        }

        .col-10 {
            -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
            /*max-width: 83.333333%*/
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px
        }

        .logo {
            width: 50%;
            margin-top: 1.5em;
            margin-right: 5%;
        }

        .right-align {
            text-align: right;
        }

        .heading-row {
            display: block;
            font-weight: bold;
            text-align: center;
            margin-left: 6.25%;
            margin-top: 1.5em;
        }

        .legend {
            display: block;
            margin-left: 6.25%;
        }

        .legend-box {
            float: left;
            padding-right: 1.5em;
        }
    </style>
</head>
<body>
<h2>Consent to use third-party software</h2>

<p>The Department of Education has entered into contracts for a range of essential student education and administration software. The department has assessed the privacy impacts and data security controls as compliant with NSW privacy requirements and a list of that software is avialable at https://education.nsw.gov.au/public-schools/going-to-a-public-school/privacy-information.</p>

<p>Additionally, this year Aurora College will use the third-party software listed in the table below. Your consent for each application as submitted to the school is recorded below. If the information is incorrect, please contact the school immediately on 1300 287 629.</p>

<table>
    <thead>
    <tr>
        <th>Software Name</th>
        <th>Student information captured</th>
        <th>Country information is stored</th>
        <th>Information shared</th>
        <th>Your consent</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var response in Model.Responses)
    {
        <tr>
            <td>
                <strong>@response.ApplicationName</strong>
                <p>@response.Purpose</p>
                <p>@response.Link</p>
            </td>
            <td>
                <ul>
                    @foreach (var item in response.InformationCollected)
                    {
                        <li>@item</li>
                    }
                </ul>
            </td>
            <td>
                @response.StoredCountry
            </td>
            <td>
                <ul>
                    @foreach (var item in response.SharedWith)
                    {
                        <li>@item</li>
                    }
                </ul>
            </td>
            <td>
                @if (response.ConsentProvided)
                {
                    <strong>Yes</strong>
                }
                else
                {
                    <strong>No</strong>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<p>This consent remains effective until I advise the school otherwise in writing or via the Parent Portal.</p>

<p>I acknowledge that my child must abide by the conditions of acceptable usage set out in the department's <em>Student use of digital devices and online services</em> policy (https://education.nsw.gov.au/policy-library/policies/pd-2020-0471) and that any breach of this policy may, at the school's discretion, result in disciplinary action in accordance with the school's behaviour policy.</p>

<dl>
    <dt>Student full name:</dt>
    <dd>@Model.Student.DisplayName</dd>
    
    <dt>Parent/Carer name:</dt>
    <dd>@Model.ProvidedBy</dd>

    <dt>Parent/Carer email address:</dt>
    <dd>@Model.ProvidedByEmail.Email</dd>
    
    <dt>Date of submission:</dt>
    <dd>@Model.ProvidedAt.ToLongDateString()</dd>
</dl>

</body>
</html>