@model Constellation.Infrastructure.Templates.Views.Documents.ThirdParty.TransactionViewModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            line-height: 1.5rem;
            font-size: 18px;
            font-family: sans-serif;
        }

        h2 {
            font-size: 38px;
            color: white;
        }

        table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
        }

        thead {
            display: table-header-group;
        }

        tr td, tr th {
            padding: 1em;
            border: 1px solid black;
            page-break-inside: avoid;
            break-inside: avoid;
        }

        th {
            text-align: left;
            font-size: 18px;
            font-weight: bold;
            background-color: cornflowerblue;
            color: white;
        }

        td {
            vertical-align: top;
            font-size: 16px;
        }

        td ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        dl {
            width: 100%;
            font-size: 20px;
            display: flex;
            flex-flow: row wrap;
        }

        dt {
            font-size: 20px;
            flex-basis: 35%;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        dd {
            font-size: 20px;
            flex-basis: 50%;
            flex-grow: 1;
            margin: 0;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }

        .declaration {
            page-break-inside: avoid;
        }

        .header {
            background-color: #00505C;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .header-text {
            flex-grow: 1;
            padding: 1rem 1rem 0;
            height: 9rem;
            display: flex;
        }

        .header-text * {
            /* vertical-align: bottom; */
            display: inline-block;
            align-self: flex-end;
        }

        .header-logo {
            width: 33%;
            padding-top: 1rem;
        }

        .header-logo img {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="header-text">
        <h2>Consent to use third-party software</h2>
    </div>
    <div class="header-logo">
        <img src="@Constellation.Infrastructure.Templates.Views.Documents.ThirdParty.TransactionViewModel.SchoolLogo" />
    </div>
</div>

<p>The Department of Education has entered into contracts for a range of essential student education and administration software. The department has assessed the privacy impacts and data security controls as compliant with NSW privacy requirements and a list of that software is available at <a href="https://education.nsw.gov.au/public-schools/going-to-a-public-school/privacy-information" target="_blank">https://education.nsw.gov.au/public-schools/going-to-a-public-school/privacy-information</a>.</p>

<p>Additionally, this year Aurora College will use the third-party software listed in the table below. Your consent for each application as submitted to the school is recorded below. If the information is incorrect, please contact the school immediately on <strong>1300 287 629</strong>.</p>

<table>
    <thead>
    <tr>
        <th>Software Name</th>
        <th>Student information captured</th>
        <th>Country information is stored</th>
        <th>Information shared</th>
        <th>Your consent</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var response in Model.Responses)
        {
            <tr>
                <td>
                    <strong>@response.ApplicationName</strong>
                    <p>@response.Purpose</p>
                    <p>@response.Link</p>
                </td>
                <td>
                    <ul>
                        @foreach (var item in response.InformationCollected)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </td>
                <td>
                    @response.StoredCountry
                </td>
                <td>
                    <ul>
                        @foreach (var item in response.SharedWith)
                        {
                            <li>@item</li>
                        }
                    </ul>
                </td>
                <td>
                    @if (response.ConsentProvided)
                    {
                        <strong>Yes</strong>
                    }
                    else
                    {
                        <strong>No</strong>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="declaration">
    <p>This consent remains effective until I advise the school otherwise in writing or via the Parent Portal.</p>

    <p>I acknowledge that my child must abide by the conditions of acceptable usage set out in the department's <em>Student use of digital devices and online services</em> policy (<a href="https://education.nsw.gov.au/policy-library/policies/pd-2020-0471" target="_blank">https://education.nsw.gov.au/policy-library/policies/pd-2020-0471</a>) and that any breach of this policy may, at the school's discretion, result in disciplinary action in accordance with the school's behaviour policy.</p>

    <dl>
        <dt>Student full name:</dt>
        <dd>@Model.Student.DisplayName</dd>

        <dt>Parent/Carer name:</dt>
        <dd>@Model.ProvidedBy</dd>

        <dt>Parent/Carer email address:</dt>
        <dd>@Model.ProvidedByEmail.Email</dd>

        <dt>Date of submission:</dt>
        <dd>@Model.ProvidedAt.ToString("dd/MM/yyyy h:mm tt")</dd>
    </dl>
</div>

</body>
</html>