@model Constellation.Presentation.Staff.Areas.Staff.Pages.Shared.Components.AllocateAsset.AllocateDeviceSelection

@using Constellation.Core.Models.Assets.Enums

<form asp-page-handler="AllocateDevice" method="post">
    <div class="modal fade" tabindex="-1" id="allocate-device-modal">
        <div class="modal-dialog wide">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Allocate Asset</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label asp-for="AllocationType" class="col-md-3">Allocation Type</label>
                        <div class="col-md-9">
                            <select asp-for="AllocationType" asp-items="@Model.AllocationTypeList" id="allocationType" class="combo">
                                <option value=""> -- Select Allocation Type -- </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="school-entry d-none">
                        <div class="form-group row">
                            <label asp-for="SchoolCode" class="col-md-3">Partner School</label>
                            <div class="col-md-9">
                                <select asp-for="SchoolCode" asp-items="@Model.SchoolList" class="combo">
                                    <option value=""> -- Select Partner School -- </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="student-entry d-none">
                        <div class="form-group row">
                            <label asp-for="StudentId" class="col-md-3">Student</label>
                            <div class="col-md-9">
                                <select asp-for="StudentId" asp-items="@Model.StudentList" class="combo">
                                    <option value=""> -- Select Student -- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="staff-entry d-none">
                        <div class="form-group row">
                            <label asp-for="StaffId" class="col-md-3">Staff Member</label>
                            <div class="col-md-9">
                                <select asp-for="StaffId" asp-items="@Model.StaffList" class="combo">
                                    <option value=""> -- Select Staff Member -- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="user-entry d-none">
                        <div class="form-group row">
                            <label asp-for="UserName" class="col-md-3">Community Member Name</label>
                            <div class="col-md-9">
                                <input asp-for="UserName" class="form-control" />
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label asp-for="UserEmail" class="col-md-3">Community Member Email Address</label>
                            <div class="col-md-9">
                                <input asp-for="UserEmail" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Allocate Device</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $('#allocationType').on('change', function (event) {
        var allocation = $(this).val();

        if (allocation == "@AllocationType.Student.Value"){
            $('.staff-entry').addClass('d-none');
            $('.school-entry').addClass('d-none');
            $('.user-entry').addClass('d-none');

            $('.student-entry').removeClass('d-none');
        }

        if (allocation == "@AllocationType.Staff.Value"){
            $('.student-entry').addClass('d-none');
            $('.school-entry').addClass('d-none');
            $('.user-entry').addClass('d-none');
            
            $('.staff-entry').removeClass('d-none');
        }

        if (allocation == "@AllocationType.School.Value"){
            $('.staff-entry').addClass('d-none');
            $('.student-entry').addClass('d-none');
            $('.user-entry').addClass('d-none');
            
            $('.school-entry').removeClass('d-none');
        }

        if (allocation == "@AllocationType.CommunityMember.Value") {
            $('.staff-entry').addClass('d-none');
            $('.school-entry').addClass('d-none');
            $('.student-entry').addClass('d-none');
            
            $('.user-entry').removeClass('d-none');
        }
    });

    $(document).ready(function () {
        $('#SchoolCode').select2({ theme: 'bootstrap' });
    });
</script>