@page
@model Constellation.Presentation.Server.Areas.Test.Pages.IndexModel

@using Constellation.Core.Extensions

<h2>Test Page</h2>

<div class="page-menu">
    <a asp-page-handler="RetrieveAttendance" class="btn btn-success">Sync Attendance</a>
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th rowspan="2">StudentId</th>
            <th rowspan="2">Grade</th>
            <th rowspan="2">Period</th>
            <th colspan="2">YTD</th>
            <th colspan="2">Week</th>
        </tr>
        <tr>
            <th>Day</th>
            <th>Minute</th>
            <th>Day</th>
            <th>Minute</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var studentId in Model.StudentData.Select(entry => entry.StudentId).Distinct().ToList())
    {
        @foreach (var entry in Model.StudentData.Where(entry => entry.StudentId == studentId).OrderBy(entry => entry.StartDate))
        {
            <tr>
                <td><a asp-page="Student" asp-route-studentId="@entry.StudentId">@entry.StudentId</a></td>
                <td>@entry.Grade.AsName()</td>
                <td>@entry.PeriodLabel</td>
                <td>@entry.PerDayYearToDatePercentage</td>
                <td>@entry.PerMinuteYearToDatePercentage</td>
                <td>@entry.PerDayWeekPercentage</td>
                <td>@entry.PerMinuteWeekPercentage</td>
            </tr>
        }
    }

    </tbody>
</table>