@page "{id:Guid}"
@model Constellation.Presentation.Staff.Areas.Staff.Pages.SchoolAdmin.Training.Roles.DetailsModel

@using Constellation.Application.Helpers
@using Constellation.Application.Models.Auth
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authService

@{
    AuthorizationResult canEdit = await authService.AuthorizeAsync(User, AuthPolicies.CanEditTrainingModuleContent);
}

<h2>Training Role: @Model.Role?.Name</h2>

<div class="page-menu">
    <a href="javascript:history.go(-1)" class="btn btn-danger btn-pull-right">Go Back</a>
</div>

<hr />

<h3>Members</h3>

<div class="page-menu">
    @if (canEdit.Succeeded)
    {
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStaffModal">Add Staff</button>
        <a asp-page="/SchoolAdmin/Training/Roles/BulkAddMembers" asp-area="Staff" asp-route-id="@Model.Id" class="btn btn-success">Bulk Add Staff</a>
    }
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Staff Id</th>
            <th>Name</th>
            <th>School</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Role != null)
    {
        foreach (var entry in Model.Role.Members)
        {
            <tr>
                <td>@entry.StaffId</td>
                <td>@entry.Name.DisplayName</td>
                <td>@entry.School</td>
                <td>
                    @if (canEdit.Succeeded)
                    {
                        <button data-role-id="@Model.Id" data-staff-id="@entry.StaffId" data-role-name="@Model.Role.Name" data-staff-name="@entry.Name.DisplayName" class="btn btn-danger btn-show-hover delete-member-button">Remove</button>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<hr />

<h3>Modules</h3>

<div class="page-menu">
    @if (canEdit.Succeeded)
    {
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModuleModal">Add Module</button>
        <a asp-page="/SchoolAdmin/Training/Roles/BulkAddModules" asp-area="Staff" asp-route-id="@Model.Id" class="btn btn-success">Bulk Add Modules</a>
    }
</div>

<hr />

<table class="table table-striped data-table">
    <thead>
    <tr>
        <th>Module</th>
        <th>Expiry</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Role != null)
    {
        foreach (var entry in Model.Role.Modules)
        {
            <tr>
                <td>@entry.Name</td>
                <td>@entry.Expiry.GetDisplayName()</td>
                <td>
                    @if (canEdit.Succeeded)
                    {
                        <button data-role-id="@Model.Id" data-role-name="@Model.Role.Name" data-module-name="@entry.Name" data-module-id="@entry.ModuleId.Value" class="btn btn-danger btn-show-hover delete-module-button">Remove</button>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<vc:add-staff-member-to-training-role id="Model.Id" />
<vc:add-module-to-training-role id="Model.Id" />

@Html.AntiForgeryToken()

<div class="modal fade" id="page-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.delete-member-button').click(function (event) {
            var roleId = $(this).data("roleId");
            var staffId = $(this).data("staffId");
            var roleName = $(this).data("roleName");
            var staffName = $(this).data("staffName");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxRemoveMember",
                type: "POST",
                data: {
                    roleId: roleId,
                    staffId: staffId,
                    staffName: staffName,
                    roleName: roleName,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });

        $('.delete-module-button').click(function (event) {
            var roleId = $(this).data("roleId");
            var roleName = $(this).data("roleName");
            var moduleId = $(this).data("moduleId");
            var moduleName = $(this).data("moduleName");
            var xsrfHeader = $('input:hidden[name="__RequestVerificationToken"]').val();

            $.ajax({
                url: "?handler=AjaxRemoveModule",
                type: "POST",
                data: {
                    roleId: roleId,
                    roleName: roleName,
                    moduleId: moduleId,
                    moduleName: moduleName,
                    __RequestVerificationToken: xsrfHeader
                }
            }).done(function (data) {
                $('#page-modal .modal-content').html(data);
                $('#page-modal').modal('show');
            });
        });
    </script>
}
